[2015-08-27 19:53] alextegelid commented on #230
Maybe GitSavvy gets a hold of the tmTheme file *after* Color Highlighter has already modified it?

[2015-08-27 21:04] divmain commented on #230
That's good news!  From the behavior it sounds like Color Highlighter is hijacking the theme just like GitSavvy does.  To be honest, I'm not sure if there's a deterministic way to guarantee that GitSavvy sets the theme after Color Highlighter does.

Plugin interactions are hard to know what to do with.  Do you know if Color Highlighter can be configured to ignore a particular type of view - for ex

[2015-08-27 21:28] stoivo commented on #230
I can confirm that it is an issue with "Color Highlighter". All I did was to disable it and reload ran GitSavvy: relaod submodules and reopen the inline diff. I am really happy you all the solution/issue :)

I think we should report this a issue to ["Color Highlighter"](https://github.com/Monnoroch/ColorHighlighter), since this have been like this for top 2 weeks.

[2015-08-27 21:35] divmain commented on #230
It's a pity Sublime doesn't expose an API to dynamically augment the active color scheme.  I'm going to close this ticket for now, but feel free to re-open if something actionable turns up from your investigations with Color Highlighter.

[2015-08-27 21:35] #230 closed

[2015-08-28 07:16] alextegelid commented on #230
You're right @stoivo, the past two weeks sounds about right.

Well the solution is simple otherwise, remove Color Highlighter. That plugin isn't nearly as useful as GitSavvy :)
Thanks for troubleshooting with me, and a special thanks to @divmain for developing GitSavvy. I'm heading over to Color Highlighters issue page.

[2015-09-03 11:41] max-mykhailenko commented on #183
I have this error again, probably because commands order in line
https://github.com/divmain/GitSavvy/blob/master/core/git_command.py#L265

@divmain please, check it, we have big problems with that

[2015-09-03 11:43] max-mykhailenko commented on #183
In my previous pull request it was changed to
[code]

[2015-09-03 17:59] #183 closed

[2015-09-03 17:59] divmain commented on #183
Hey @max-mykhailenko, unfortunately that broke several other cases and we had to revert.  I think the simplest approach here will be to make that `--log` param optional.  Just pushed a commit, let me know if it works for you.

[2015-09-03 22:53] sentience opened #231 "GitSavvy: help from inline diff"
With an inline diff view open, if you invoke **GitSavvy: help** from the command palette, nothing happens and the following error appears in the console:

[code]

[2015-09-03 23:19] sentience commented on #199
Here’s everything from my Git config that looks relevant:
[code]

And the output of  the command you requested:
[code]

[2015-09-04 00:15] sentience opened #232 "Error parsing args for custom command"
With the following custom command in User.sublime-commands:

[code]

I get the following error in the Sublime Text console when attempting to invoke this command:

[code]

[2015-09-07 21:16] theiviaxx commented on #205
im getting the same issue.  I've tried print out the variables in question and can run that exact Popen command without issue.  I tied attaching wing, but the process gets forked or something and wing looses connection immediately.  If i remove the startupinfo stuff, sublime infinitely spams command windows and i am forced to kill sublime.  I'm on build 3083 though on win10.  Could sublime be doin

[2015-09-09 07:29] divmain commented on #205
I suppose it is possible, but it seems unlikely that they'd modify the default behavior.

@theiviaxx, can you open the console in Sublime and enter the following?
[code]

Copy the results back here for me to take a look at.  Hopefully it'll give us something to go on.

[2015-09-09 07:33] divmain commented on #232
Hi @sentience - I'm unable to reproduce on my dev machine.  Can you tell me OS and Sublime version you're using?

[2015-09-09 07:36] #231 closed

[2015-09-09 07:47] divmain commented on #199
Hm, that looks reasonable.  Can you do a couple more things?

#### 1)

In the terminal, show me the output of the following:
[code]

#### 2)
- open Sublime
- open Status dashboard
- put repo in condition where merge conflict needs to be resolved
- place cursor over conflict-file in dashboard
- run command `GitSavvy: enable logging`
- press `M` to activate the merge tool
- run command `GitSavvy: vi

[2015-09-09 09:42] asfaltboy commented on #232
I believe this should be fixed by #228 .

[2015-09-09 15:12] theiviaxx commented on #205
environ({'FPS_BROWSER_USER_PROFILE_STRING': 'Default', 'PSMODULEPATH': 'C:\\WINDOWS\\system32\\WindowsPowerShell\\v1.0\\Modules\\', 'USERNAME': 'brett', 'APPDATA': 'C:\\Users\\brett\\AppData\\Roaming', 'USERDOMAIN': 'FAMILY-PC', 'LOGONSERVER': '\\\\MicrosoftAccount', 'COMMONPROGRAMFILES(X86)': 'C:\\Program Files (x86)\\Common Files', 'PUBLIC': 'C:\\Users\\Public', 'COMPUTERNAME': 'FAMILY-PC', 'PAT

[2015-09-09 19:13] divmain commented on #232
Oh!  Thanks @asfaltboy.  That change hasn't been included in a release yet, so I'll leave this open until that happens (probably later today).

[2015-09-09 19:16] divmain commented on #205
Something here doesn't add up.  @theiviaxx, are you seeing the error (described in this ticket) for every Git command attempted?  Or only for specific actions?  The only thing I left out in the above command is the current working directory, `cwd` - and maybe that's the real issue here.  Can you tell me that path of the repo on your machine?  Also, could you create a repo at the root of your drive

[2015-09-09 20:34] theiviaxx commented on #205
So the first issue posted here is

    [WinError 267] The directory name is invalid

That is what i'm getting.

Actually, now that i'm typing this, my repo path does have a space in it which would probably cause problems when using Popen with a string.  I'll try using it as a tuple.  If that works i'll make a pull request.  Sorry for the run around

[2015-09-10 05:58] sentience commented on #232
:+1:

[2015-09-10 06:17] theiviaxx commented on #205
Ok so upon further inspection this was user error, but something that can be caught.  I had copied the repo to a different drive and when gitsavvy went looking for the repo_path, it found it in the sublime-workspace file, however that path was no longer valid. see pull request #233

[2015-09-10 07:22] sentience commented on #199
### 1)

[code]

### 2)

How odd! When I tried to complete these steps, Kaleidoscope opened just fine! Indeed, I am no longer able to reproduce this bug.

I have just upgraded from OS X Yosemite to OS X El Capitan GM Seed, so perhaps something in that upgrade made the difference!

Perhaps close this for now, and I can reopen if I experience the issue again.

### 3)

Ditto. Works perfectly now.

[2015-09-10 09:40] divmain commented on #199
Heh.  There be gremlins.  OK, I'm glad it is working for you.  Please do let me know if it comes up again!

[2015-09-10 09:40] #199 closed

[2015-09-10 09:43] divmain commented on #205
@sugatov @blaggacao, does @theiviaxx's summary of the cause seem to fit your respective situations?

[2015-09-10 15:10] blaggacao commented on #205
I honestly don't remember the issue.

[2015-09-10 19:39] divmain commented on #205
Fair enough.  I'm going to close this out.  Please let me know if this rears its head again.

[2015-09-10 19:39] #205 closed

[2015-09-12 07:54] pradyunsg opened #234 "Show Diff in a Panel (optionally)"
It would be nice the git diff could be shown in a panel (like Unsaved Changes) instead of another view.

Also, possibly, this could be done for all commands, as in ST3 (to my not-so-vast knowledge) panels are very much like views except for close events which can be emulated by an event-listener listening for show_panel and hide_panel and maintaining a state.

Obviously, this introduces a new sett

[2015-09-12 19:51] cvogt opened #235 "external diff"
would be nice to be able to call external diff programs. The build-in diff of GitSavvy can only do so much, external tools that focus on diff exclusively have more time to nail that, e.g. show which parts of a line changed like kdiff3.

[2015-09-13 06:23] divmain commented on #235
GitSavvy actually does display which parts of the line changed, when you use the `inline diff` view.  There is, however, an outstanding bug in Sublime Text 3 that prevents it from being displayed correctly on a Mac.

Adding specific functionality to call an outside diff program is out of scope for GitSavvy.  On the other hand, it should be simple enough for you to add a [custom command](https://gi

[2015-09-13 06:23] #235 closed

[2015-09-13 11:59] stoivo commented on #235
I think we we create some kind of diff toggle quite easy since git have a flagg called `--word-diff`
example

[code]

maybe we can press W in a diff-"view". Not only diffs but commits too. than toggle `--word-diff`

[2015-09-13 22:31] divmain commented on #235
@stoivo, we're already displaying bolded sections where a word was added/removed/changed.  The limitation is a bug in Sublime itself.

[2015-09-14 06:05] stoivo commented on #235
yeah, in inline diff. This could be adding this for a normal diff view and commit view.

[2015-09-14 17:23] #232 closed

[2015-09-15 15:02] guncha opened #236 "When viewing inline-diff, shortcut to open the file at specific line"
First of all, thank you for all of your work on GitSavvy! It's been an amazing boost to my productivity. Here's a feature request that I think many would appreciate:

Before every commit, I always review all the changes using the inline-diff view and the stage/unstage hunk shorcuts are great for this. Sometimes though the change needs some extra attention and I really wish there was a way to open

[2015-09-15 18:58] divmain commented on #236
Agreed, that's a good idea.

[2015-09-16 02:23] stevage opened #237 "Compare branch against master"
Maybe I just haven't found the right way yet, but it would be good to have a way to view changes in a file relative to another branch. Diff obviously compares uncommitted changes in the current file against the current branch. How about comparing committed changes in the current file against some other branch?

(The main use case is code review, evaluating PRs etc.)

[2015-09-16 11:52] stoivo commented on #236
:+1: I thought about adding it myself but did't get the time yet, would you like to add it?

[2015-09-16 19:13] stoivo commented on #236
t thought about `e` for edit.

[2015-09-16 19:20] stoivo commented on #237
So what you want is: diff current file against a branch

I use
- git: branch
- than I uses `H` to view all commits between a branch
- I can enter a commit by pressing `Enter`

[2015-09-17 01:35] stevage commented on #237
Thanks, I didn't know about those. If there was a way to see the sum of all
the diffs (rather than just one diff at a time) it would be perfect.

On Thu, Sep 17, 2015 at 5:20 AM, Simon <notifications@github.com> wrote:

[2015-09-17 01:38] sentience commented on #237
Just hit ‘f’ instead of ‘H’ to view the diff between the HEAD and selected branch. This is listed in the keyboard reference in the Branch view.

--
Kevin Yank
@sentience
http://kevinyank.com/

[2015-09-17 01:53] stevage commented on #237
I noticed that shortcut but it doesn't work for me:

[2015-09-17 03:31] divmain commented on #237
@stevage, that's strange.  It has been known to happen when you have non-UTF-8 data in your Git history.  We have fallbacks in place for a couple of methods.  Can you tell me the exact repro steps for reaching this condition?  If the repo in question is public, even better, and I would be able to duplicate the error on my own machine.

[2015-09-17 03:50] stevage commented on #237
Ok - actually when I try other branches, some of them do work. So that's
exciting :)

Repo is: https://github.com/terriajs/terriajs

On branch region-mapping-advanced-matching, attempting to diff `hjson` or
`region-mapping-feedback`
    788fe78 hjson (origin/hjson)
  ▸ f4f9a7c region-mapping-advanced-matching
(origin/region-mapping-advanced-matching)
     7923f05 region-mapping-feedback

Every oth

[2015-09-17 05:10] divmain commented on #237
Yeah, there's definitely non UTF-8 data in there.  Example:
[code]
Unfortunately, since this is binary data, even falling back to `windows-1252` encoding will fail (`windows-1252` will usually render text, if somewhat garbled, if the encoding is unknown).  I can't think of a good approach to showing some of the data, especially since it would break user expectations to (for example) only show a pa

[2015-09-17 05:10] #237 closed

[2015-09-17 05:21] stevage commented on #237
Interesting - I've never even seen that file (I assume it's a test case that means something to someone else). Anyway, I have a few suggestions :)

1. Use `gitattributes` and `git diff --textconv` to render *something* as the binary diff (even if just the words "skipping binary diff")
2. Show a warning, skip the binary bit and continue. (Yes, it "breaks user expectations"...but much more useful th

[2015-09-17 07:54] ddevlin commented on #236
`o` for open would be more consistent with Status and Rebase views.

[2015-09-17 15:13] guncha commented on #236
:+1: for `o`

[2015-09-17 15:14] ihorvorotnov opened #238 "FileNotFoundError: [WinError 2] The system cannot find the file specified"
Hi. Everything was working properly until recent update. Now, when starting Sublime Text 3 (Build 3083) I get this error (see title). I'm on Windows 10. GitSavvy is 2.4.0. Git is available (Git-1.9.5-preview20150319) it PATH.

Here's the full console output on a fresh run:

[code]

Any ideas how to fix this?

[2015-09-17 16:06] divmain commented on #238
Most likely GitSavvy is unable to determine your Git path.  If this happened with the most recent upgrade, I suspect it has to do with [this commit](https://github.com/divmain/GitSavvy/commit/5640e2bb603ebe70c3a2a45059abc12095efdc5b).  Can you tell me what that part of your config looks like?  And perhaps attempt to set the `git_path` value in the various ways shown?  Let me know what comes of tha

[2015-09-17 16:28] ihorvorotnov commented on #238
In settings I have:
[code]

and now it makes sense. In 64-bit Windows versions (100% on Windows 7 and Windows 10, I guess it's safe to assume the same for Windows 8, 8.1 as well) Git is installed in `Program Files (x86)` folder.

Copied this part to user settings and modified path, works fine.

The issue is solved in my case, however, x64 is pretty popular and Git for Windows has x86 architecture.

[2015-09-17 16:28] #238 closed

[2015-09-17 18:38] divmain commented on #238
Thanks, I added a note.

[2015-09-18 05:19] stevage opened #239 "git status picking up wrong repository when using npm link"
Here's my setup:

* `.../nationalmap/terriajs` is my main repo
* `.../nationalmap/cesium` is a submodule
* `.../nationalmap/terriajs/node_modules/terriajs-cesium` is npm-linked back to `.../nationalmap/cesium` (via two symlinks)

In Sublime I:

1. I opened `.../nationalmap/terriajs`.
2. I navigate to `.../nationalmap/terriajs/node_modules/terriajs-cesium/Source/Scene/WebMapServiceImageryProvider.j

[2015-09-18 06:25] divmain commented on #239
Interesting.  I've seen strangeness with symlinked directories as well.  Try this for me:

1. Open `.../nationalmap/terriajs/node_modules/terriajs-cesium/Source/Scene/WebMapServiceImageryProvider.js`
2. Open the Sublime console and type `view.file_name()`
3. What path is given?

To determine the repo path, GitSavvy first checks the `file_path` of the open view.  If that fails for some reason, it f

[2015-09-20 04:09] dvcrn opened #240 "Keybinding for jumping to next / previous file in git status"
Hi! Testing GitSavvy and coming from SublimeGit.

I'm desperately looking for a way to have git status start with the cursor on the first changed file, or at least a keybinding that navigates between files and not lines.

Right now status opens and I have to press `down` a few times until I am at the file I want to perform actions on. SublimeGit had this very efficient. I think n automatically wen

[2015-09-20 05:41] #240 closed

[2015-09-20 05:43] divmain commented on #240
I've been meaning to do this for awhile.  This issue gave me the little push to take a few minutes and add it.  Navigation between files in the status dashboard can now be accomplished using `.` for the next file and `,` for the previous file.  This follows the same key-binding patterns used in the inline-diff mode and elsewhere.

This will be included with the next release, but if you're running

[2015-09-20 05:45] divmain commented on #234
Is this primarily a preference thing, or is there a demonstrable use case where this is better than the current behavior?  I'm not opposed to the idea, but this is far enough down in the list of priorities that it is unlikely to happen unless someone submits a PR.  And even then, I may not go for it if it adds measurable complexity to the codebase.  However, if you can think of situations where th

[2015-09-20 05:56] dvcrn commented on #240
Man that was fast! 2h and already done! Huge thanks for that :)

Now all there's left is opening git status with the first file selected and there is nothing I'm missing about SublimeGit (even though I have a license for it)

Any estimate on when the next release will be? I'm burning to replace SublimeGit in [sublimious](https://github.com/dvcrn/sublimious/tree/develop) but would wait until this i

[2015-09-20 07:32] divmain commented on #240
You caught me when I needed a distraction! Good timing on your part :)  First-file preselection is now added.  There hasn't been much activity since the most recent release, but no real reason to hold it back.  I'll push up a new tag and it should show up in package control soon after.

[2015-09-20 07:41] #225 closed

[2015-09-20 07:45] divmain commented on #184
For the sake of simplicity, I'm going to pass on this feature.  `GitSavvy: help` provides more help than most plugins do, and a `?`-shortcut would be 1) not discoverable, and 2) not always available (in normal views, for example).

[2015-09-20 07:45] #184 closed

[2015-09-20 07:48] divmain commented on #194
After thinking about this a bit, I haven't found a way to make this intuitive.  Sublime should probably provide a mechanism to disable plugins even with settings synced across machines.  So going to go ahead and close this as out-of-scope.

[2015-09-20 07:48] #194 closed

[2015-09-20 07:51] #160 closed

[2015-09-20 07:54] divmain commented on #159
I'm going to consider this done with 82bb849, 00ba8fc5108abffbd9169116d047eac1b5d2f9b8, and f3da14ddee8b658c009ed920405da44ebc542c2c.  Cursor should be positioned on first unstaged file when a new status dashboard is created, and navigation between files is unencumbered with `.` and `,` key-bindings.

[2015-09-20 07:54] #159 closed

[2015-09-20 07:57] divmain commented on #149
I've discovered that this is very painful to support.  In fact, I haven't found another tool that does this properly, probably due to the poor support Git actually supplies for it.  Going to close this issue as wont-fix.  Sorry @alextegelid - although I'm sure you've forgotten about it by now :)

[2015-09-20 07:57] #149 closed

[2015-09-20 08:02] divmain commented on #90
Closing this, as there doesn't appear to be a good option under Sublime Text 3.  A fix would involve either 1) adding significant complexity to the codebase using async communication everywhere, or 2) timing out Git operations which seems dubious at best.

[2015-09-20 08:02] #90 closed

[2015-09-20 08:02] pradyunsg commented on #234
Well, it's main "advantage" is that on (almost?) all split/non-split view configurations, the user will be able to see code along with the diff. While this should be trivial to do for output-only commands, the input only one will need some effort.

That PR could come from me if I get the time. :smiley:

[2015-09-20 08:04] alextegelid commented on #149
I'd completely forgotten about it! Thanks for investigating :)

[2015-09-20 08:06] divmain commented on #11
Alright - new idea here.  We use `CMD+Enter` / `CTRL-Enter` in lots of these views to activate special functionality.  In this case, using this key combination when a particular commit is selected would pop up a menu with the following options:

- view commit (resulting in same behavior as selection in `git: log`)
- cherry commit into current branch (new behavior)
- checkout commit (resulting in d

[2015-09-20 08:07] divmain commented on #14
Have decided this is out of scope for GitSavvy.  Could be implemented as a GitSavvy plugin.  In my case, I've discovered http://overv.io for issue management, and I doubt anything I put in GitSavvy (aside from the light integration that already exists) could provide a better issue management experience.

[2015-09-20 08:07] #14 closed

[2015-09-20 08:12] divmain commented on #234
Fair enough.  Just be sure that:

- [ ] it does not add significant complexity, and
- [ ] the default behavior remains the same

My only reason for the blatant word of caution is because I'd hate for you to put in a ton of effort just to have it shot down.  But if you have some time and want to give it a try as an experiment, I'd be glad to take a look through the PR and entertain the idea.

[2015-09-20 08:27] asfaltboy commented on #11
I like it! This will allow more actions on commits, or even hook into custom commands, if they (optionally) accept a commit hash as argument.

Only thing that I would consider is in a log view, where `Enter` is already mapped to log view, maybe omit view commit from context menu item?

Best regards,
Pavel Savchenko

On Sun, Sep 20, 2015 at 10:06 AM, Dale Bustad <notifications@github.com>
wrote:

[2015-09-20 08:45] pradyunsg commented on #234
Ok! Will try if I get the time...

[2015-09-20 10:48] stevage commented on #225
Nice one! Btw are you taking donations anywhere?

[2015-09-20 10:57] stevage commented on #239
Hmm, my directory structure has changed a bit since filing, and I don't seem to be able to reproduce it. It's possible I made a mistake in reporting. I'll definitely check that value and report if I can make this happen again.

[2015-09-20 18:24] divmain commented on #239
That _also_ doesn't surprise me, as the problem occurred intermittently for me.  As in, Sublime would sometimes give me the symlinked path, and sometimes the real path.  To keep things tidy, I'm going to close this issue - _however_, if this occurs again, please see if you can get the view's `file_name`.  That should help determine whether this is truly a Sublime issue.

[2015-09-20 18:24] #239 closed

[2015-09-20 18:25] divmain commented on #225
No, but thank you for the thought :)

[2015-09-20 20:02] divmain commented on #237
1 & 2 are problematic, because the place where to decoding occurs has no context for what else is going on.  This could be conditionally handled in multiple places using a custom exception hierarchy (something I'll implement eventually), but option 3 should be good enough for now. (c00374c)

[2015-09-21 01:06] stevage opened #241 "Git merge UI quirk"
1. Select `git merge` from Shift-Cmd-P menu (what is that called...), using keyboard.
2. ...nothing happens...
3. Press any key.
4. Now a menu of branches to merge from pops up.

In step 1, if you use the mouse to click "git: merge", the menu comes up straight away.

Could be some interaction with other plugins - I have a few.

[2015-09-21 02:05] dvcrn commented on #240
Haha looks like I created this issue at a good time. Amazing job, works perfectly! :smile:

[2015-09-21 03:51] dvcrn commented on #240
I noticed a small thing, not sure if on purpose or not: `,` and `.` can't navigate to stashes. This is not a big deal but if you rebind navigation (arrows and j/k) inside git status completely with the new command you just implemented, you can't select them anymore.

I read a bit through the code. Would this be as easy as adding `meta.git-savvy.status.stashes` to https://github.com/divmain/GitSavv

[2015-09-21 04:21] divmain commented on #241
Huh.  Yeah, definitely cannot reproduce this (tested Mac, Windows, Ubuntu).  I feel like it has come up before, quite a long time ago.  Would recommend disabling other plugins, and turn them on one by one until the unexpected behavior returns.

[2015-09-21 07:07] hzpc-joostk commented on #194
Sure, no problem! Cheers

[2015-09-21 09:17] stoivo commented on #11
:+1:

[2015-09-25 14:09] ihorvorotnov opened #243 "Permission denied (publickey) on push"
Everything is working properly except the `git push` commands (all of them). I'm getting this error in console:

[code]

- Git path is correct and repo (and branch) exists
- `git push` is working fine from Git Bash, SourceTree etc
- The repo is on BitBucket.org (private repo)
- Windows 10 x64, Git 1.9.5 (latest available for Windows), Sublime Text 3 Build 3083, GitSavvy most recent from this GitHu

[2015-09-25 20:31] divmain commented on #243
GitSavvy should use the same operating environment for `git` commands as that it was started with.  There is no known limitation wrt using ssh remotes - just confirmed this myself using my Windows 10 VM with the same version of Sublime.  Is it possible that Sublime is being started under a different user account?  That would explain why your terminal has the correct environment values and Sublime/

[2015-09-29 04:24] sentience opened #245 "next/previous file shortcuts in Status view not highlighted correctly"
The Status view’s keyboard reference contains entries for the new next/previous file shortcuts:

[code]

Unfortunately, the syntax highlighting doesn’t recognise the `.` and `,` characters, so they are not highlighted as the other shortcuts are.

[2015-09-29 04:53] divmain commented on #245
Hmm - this is unexpected.  1) what version of GitSavvy are you using?  This should have been fixed/added with [this change](https://github.com/divmain/GitSavvy/commit/8f71d24b94f225d569aaf18b7dcdd1b9e2da6413).

[2015-09-29 10:41] sentience commented on #245
Ah! I’m using the latest release, and it seems like this fix just hasn’t been released yet. Thanks!

[2015-09-29 10:41] #245 closed

[2015-09-29 15:41] benmosher opened #246 "pull non-tracking branch: `Invalid refspec 'HEAD -> origin/master'`"
I have a `develop` branch that is not tracking any origin branch.

![screen shot 2015-09-29 at 11 39 06 am](https://cloud.githubusercontent.com/assets/3709196/10169364/b5c0ad40-669e-11e5-82dc-d4fa54ab3b4c.png)

When I try to get it up to date with `origin/master` using the `origin/HEAD -> origin/master` option via the `git: pull` action (after selecting `origin`), I get this in the console:
[code]

[2015-09-29 21:09] benmosher commented on #225
Man, this just bit me, too. Looking forward to the update. 😅

[2015-09-29 21:38] divmain commented on #225
Sorry for the delay - next patch-version just went out.

[2015-09-30 06:40] stoivo commented on #168
Did you install it from the repo or the Package manager?

[2015-09-30 14:04] lindskogen opened #247 ", and . commands should be inverted for vim compatibility"
`j` navigates down in vim, `k` navigates up in vim.

`,` and `.` are in the same relative position but does the inverse.

[2015-09-30 18:56] divmain commented on #247
Hi @lindskogen.  The key-bindings have been like this since the initial release, so I'm not going to change the default behavior.  Fortunately, there's a simple work-around, given Sublime's configurability.

Open `Packages/User/Default (OSX).sublime-keymap` and add the following entries:
[code]

Since the `User` package has a higher precedence than `GitSavvy`, these modified key-bindings will take

[2015-09-30 18:56] #247 closed

[2015-09-30 22:54] aristidesfl opened #248 "Make commit message editing work like normal git"
The problem here is going back and forth between normal git and gitsavvy. The way the commit works is different, causing confusion.

In normal git you edit the commit message in your editor and close the editing window/buffer to submit the commit. To cancel the commit, just just provide an empty commit message.

In git-savvy closing the window cancels the commit,  and you need to press super+retur

[2015-09-30 23:01] divmain commented on #248
I don't see resounding value in bringing the exact behavior to parity.  However, there might be merit in notifying someone when they try to do a commit with an empty message.  That would protect against a mistake when someone expects an empty commit message to result in no commit at all.  Let me think a bit about this!

[2015-09-30 23:10] aristidesfl commented on #248
Notifying someone solves a problem, but not the main problem. Some people need to go back and forth between GitSavvy and normal git. If you don't do that, then you won't see the value. But someone who does will have to interrupt the process and stop to think if normal git or gitsavvy is being used and adjust behaviour accordingly. And mistakes will be made, and pain will be had and ultimately slow

[2015-09-30 23:29] divmain commented on #248
Fair enough.  That last sentence sounds like a personal statement, although I hope something like this won't immediately turn you off to considering GitSavvy.

Maybe you can help me work through some of the UX, and that'll help me come to a conclusion on this.  Say we add a configuration option `commit_on_close`.  When `true`, closing a commit message window would result in a commit being done, ex

[2015-09-30 23:42] aristidesfl commented on #248
I can't think of an alternative. The amend behaviour should also work like original git when this option is enabled, that is the point of the option after all, even though it might seem like a step backwards in term of usability. Only people who have used git for long enough will enable this option and they will know how to cancel a commit amend. Also there can be instructions on how to do it, whe

[2015-10-01 00:12] Suor commented on #168
From package manager.

[2015-10-01 01:19] sentience commented on #248
For what it’s worth, my first few weeks with GitSavvy were plagued by this issue. I was coming from SublimeGit, which works as described for “standard Git” (commit on closing the commit message buffer), so I was constantly writing a commit message and then closing the buffer, losing my writing. :(

Having adapted to GitSavvy’s ways, I am pretty comfortable with ⌘Enter (in fact, I now hit that when

[2015-10-01 08:30] rpbaptist opened #249 "User settings: inline_diff colors not parsing correctly"
This package is really awesome. Thank you so much.

I have a problem setting the inline diff colors. I added this to my GitSavvy user settings:
[code]

What happens is that the foreground colors are used as background. The actual foreground color is my default foreground color.

It seems that the colors I set for foreground are used for background and the colors I set in background are simply igno

[2015-10-01 17:31] stoivo commented on #168
Could you try to install it with GitHub repo?

[2015-10-01 20:44] divmain commented on #248
Alright, I'm convinced.  If this doesn't prove troublesome to support, I'll go ahead and add the option.

[2015-10-01 21:32] stoivo commented on #236
I made it, It is working good for me :smile:

[2015-10-01 23:30] #248 closed

[2015-10-02 01:34] #236 closed

[2015-10-02 01:35] divmain commented on #236
Thanks @stoivo!  I made a few changes, so now any cursor position is supported.

[2015-10-02 09:35] ddevlin commented on #236
Thanks @guncha for suggesting this, and @stoivo and @divmain for the implementation, just tried it, it's a great addition!

[2015-10-02 11:22] stoivo commented on #236
:sparkles:

[2015-10-02 15:05] pokidovea opened #251 "remote branch becomes invisible, if it's name ends with '-'"
For example, if name of branch is
hotfix/popover-vertical-align-

the branch isn't visible on remote branches list of BRANCHES dashboard.

[2015-10-02 19:32] stoivo commented on #251
I am on it, just have to find the regex

[2015-10-03 06:34] #251 closed

[2015-10-03 19:54] artasar opened #253 "art"

[2015-10-03 19:54] #253 closed

[2015-10-04 07:27] stoivo commented on #173
I am working on this

[2015-10-04 21:51] divmain commented on #246
I have never seen the `origin/HEAD -> origin/master` option show up before.  This was definitely not accounted for.  Can you take a log of all the operations and post it here?

- `GitSavvy: enable logging`
- `GitSavvy: view recorded log`
- `GitSavvy: disable logging`

[2015-10-05 00:24] stevage opened #255 "Allow 'c' for commit from inline diff page"
I frequently make a series of commits by staging different bits from the same file. Currently that workflow looks like:

1. `git status`
2. Select file, press `l`
3. Find a couple of bits to stage with `h`
4. Tab back to the status page
5. Press `c`, enter a commit message
6. Tab back to the diff page.
7. Resume from step 3.

How about removing steps 4 and 6? :) (I note in passing that a certain o

[2015-10-05 00:51] sentience commented on #255
@divmain may disagree, but I don’t like the idea of adding key bindings (especially single character keys) for views that have nothing to do with what’s displayed by that view.

GitSavvy’s Commit and Quick Commit commands are already accessible everywhere via the Command Palette; have you considered adding a user key binding to invoke one of these?

[2015-10-05 00:54] sentience commented on #255
Here’s how GitSavvy’s **Default.sublime-keymap** file creates key bindings that are only active within Inline Diff views:

[code]

You can use the same approach to add your own mapping for `"c"`.

[2015-10-05 02:34] stevage opened #256 "Not clear if console message is fresh when doing `git push`"
1. `git push`
2. Console pops open with message like "`/usr/bin/git push` failed with following output:...hint: 'git pull ...') before pushing again...."
3. `git pull`
4. Console remains open with the same message - nothing is appended.
5. `git push`
6. Console is still open with the same message. Did the push fail again? Is this an out of date message?

Suggestions:

1. Detect this particular cas

[2015-10-05 03:28] stevage commented on #255
Mmm, fair enough. "that have nothing to do with what’s displayed by that view" is going a bit far though - commit is closely related by workflow to the inline diff page.

How do you get into GitSavvy's **Default.sublime-keymap** file?

[2015-10-05 05:14] sentience commented on #255
@stevage If you want to add your own key mapping, then in Sublime go to **Preferences > Key Bindings – User**. This will open your personal key bindings file for you to edit. Initially it will just contain an empty array:

[code]

You can add a new key binding for the GitSavvy Commit command:

[code]

That should do it!

To answer your question directly, I had a look at GitSavvy’s **Default.sublim

[2015-10-05 08:12] stoivo commented on #256
What would you prefer?

I think the first option is the best since if you want output from push and pull. We have a setting called:

Add entries to this array (e.g. "pull" or "push") if you'd like the
output of these Git commands to always be shown in a panel.
[code]

[2015-10-05 10:14] stoivo commented on #255
This may become a very common question, so maybe we should add some docs somewhere so new users can add it if they want to.

[2015-10-05 11:00] stevage commented on #256
Yeah, I guess that's the best. I guess I intuitively expected that it would behave like this:

1. `git push` fails
2. Panel opens
3. Any other Git command that doesn't fail
4. Panel closes

The options aren't mutually exclusive though. It would kind of make sense to close the panel on successful operations, but also to always write output to the panel (regardless if it's open). Finally, some UI hi

[2015-10-05 13:27] stoivo commented on #256
Currently we wipe the view and insert the new output to the same view. I think most of the users does not care about the output. But I prefer to see what I pull, which files. What other action would you like to see the output from?
fetch? merge?

[2015-10-05 13:37] stevage commented on #256
That's a hard question. Definitely merge. Not fetch. Ideally, you'd get some sort of quick glimpse of output after every command (maybe fading away), and the output would stay open if it failed.

[2015-10-05 15:28] benmosher commented on #246
I see it when I use `git branch -r` in a terminal:

[code]

I thought it might be a weird BitBucket thing, but this output is from one of my GitHub-hosted projects.

I will grab logs as you have directed, at some point.

In case it's relevant: `git --version` := 2.2.0, on OSX.

[2015-10-05 20:57] divmain opened #257 "Document commands invokable by custom key-bindings"
Several users have requested key-bindings for an existing command, but in a new place.  #255 is a good example - committing from the inline-diff mode.  Because we want to keep non-discoverable commands to a minimum, this functionality is probably not a good fit for GitSavvy itself.  However, there is no reason why users can't create their user key-bindings to suit their needs.

- [ ] enumerate ava

[2015-10-05 20:58] divmain commented on #255
Added a new ticket for documenting custom GitSavvy key-bindings.  Closing this out.  Thanks for lending a hand, @sentience!

[2015-10-05 20:58] #255 closed

[2015-10-05 22:22] divmain commented on #256
This is a bit more complex than it might appear, because for a given interaction with the UI, there are often several invocations of `git`.  The status bar at the bottom is updated with latest repo status, or if you're in a dashboard any number of commands will run to generate the text that you see.  So it can't be as simple as closing a panel if a Git command succeeds - usually this would mean th

[2015-10-06 03:12] stevage opened #258 ""You are about to discard one or more files" - doesn't show file names"
When discarding a file, GitSavvy helpfully shows this message:

It doesn't show the actual file names. Confirmations of destruction are better with as much context as possible...

(Side note: when I first starting using GitSavvy, I saw this a lot, as "d" seemed the intuitive key to press to view a diff. I'm very glad it's there.)

[2015-10-06 09:44] stoivo commented on #258
I will change the note.

And if you want to you can remap key is you would like to? I can make an example if would like

[2015-10-06 09:56] stoivo commented on #256
Yes.

It will not add too much complexity here if we only do it for certain commands  like `pull`, `push`, `merge`, `fetch`? etc, And if one of these operation is done successfully close the panel or open the success panel if  `show_panel_for`: option is active

I think this can be implemented quite nicely without adding complexity

[2015-10-06 14:10] stoivo commented on #152
maybe we can use some of this https://github.com/georgebrock/git-browse

[2015-10-06 15:14] burbanczyk opened #259 "feature request: (r) to reload graph"
Hi
I think it would be nice to have an option to reload the graph using (r) just like on the status and branch window.
I use graph a lot and I have to open it again each time it changes.

[2015-10-06 18:21] stoivo commented on #249
We think there is a bug in Sublime core when it comes to these inline_diff colors. The bug is about nesting colors inside others.

So we can't really help you :cry:

[2015-10-06 18:51] rpbaptist commented on #249
Thanks for your response. I managed to work around it, I noticed when I installed the former Git package I used for ST3 the highlighting was working as expected. I simply copied the syntax highlighting files from that package into my own directory and then removed the package.

[2015-10-06 18:51] #249 closed

[2015-10-06 20:22] #259 closed

[2015-10-06 20:33] divmain commented on #258
Hmm, changing this will require changing how the notification works, though I'm not necessarily opposed to that change.  @stevage, what would your ideal user experience look like here?  Here are my thoughts, though:

- we wouldn't want to just unilaterally list all files because
  + it adds a lot of noise to the message
  + there could be dozens or hundreds of files being discarded (for example, i

[2015-10-06 22:06] stevage commented on #258
Few files:

Many files:

(And yeah, I don't need to remap keys - my brain is trained now :))

[2015-10-07 05:09] stevage commented on #256
Thanks very much for the analysis etc.

1. Adding a time/date helps a bit, but only after the user is aware that they are confused. That is, it helps resolve confusion, but it doesn't prevent it.
2. How about always closing the panel *before* any action? Then you'd have combinations like:
- push fail (opens panel)
- pull (closes panel, then reopens if you have that option set);
- push
-- succeeds

[2015-10-07 07:07] stoivo commented on #258
@stevage Good you leaned GitSavvy key-strokes. I just want you to know that it is not really hard to  remap any of the key-strokes.

Also I think it is a good thing to show the name of the filer you are about to discard. Most of the times I am discarding, it is only one file. Sometime I press cancel to check that I am not discarding wrong  file.

By what I have seen it looks like this is complicat

[2015-10-07 09:31] divmain commented on #65
Since I don't have much to go on, closing this issue.  Feel free to re-open if and when there's more information for how to interact with vintageous.

[2015-10-07 09:31] #65 closed

[2015-10-07 09:34] divmain commented on #241
Feel free to re-open if you determine this is caused by GitSavvy somehow.

[2015-10-07 09:34] #241 closed

[2015-10-07 09:36] divmain commented on #243
Going to close this, but feel free to re-open if you're unable to resolve the issue.  Alternately, feel free to reach out on [Gitter](https://gitter.im/divmain/GitSavvy).

[2015-10-07 10:45] ihorvorotnov commented on #243
Sorry, was pretty busy, had no time to handle it. However, there's Git 2.6.1 for Windows finally available (previous version was 1.9.*), and it's available in x64 as well. Removed old Git, installed new one, configured SSH keys [like this](https://gist.github.com/ihorvorotnov/788ea8226e17b6747ed9) and now everything works fine. Including default Git path (I had another issue about it), which is ex

[2015-10-07 11:47] burbanczyk opened #261 "Feature request: keyboard shortcuts to jump between status,branch,tags,graph"
Hi
I'm using GitSavvy in my sublime workflow and I think it would be very handy to be able to jump between git:status git:branch git:tags git:graph either using keys like 1 2 3 4 or(and) TAB.
The main benefit would be less open tabs and a lot less keystrokes to jump from status to graph or branch.

[2015-10-07 12:02] stoivo commented on #243
Good it work to by updating Git

[2015-10-07 17:23] benmosher commented on #246
I think this is the relevant log output:

[code]
Something about my `git` installation or repo is returning that `origin/HEAD -> origin/master` line.

(I'd include the rest but I'd need to sanitize it first)

[2015-10-07 17:33] benmosher commented on #246
I can't find any evidence of a flag to prevent that pointer from being printed, but
[code]
seems to work by suppressing it. (pretty hacky, though.)

[2015-10-07 17:47] divmain commented on #246
Very interesting!  I have not run across this before.  But it should be a straightforward fix!

[2015-10-07 23:30] stevage commented on #241
Yeah, will do. Wish Sublime had more sophisticated plugin management -
disabling plugins one by one doesn't really work (and is very inefficient)
when it treats every syntax highlighting module as a plugin etc.

On Wed, Oct 7, 2015 at 8:34 PM, Dale Bustad <notifications@github.com>
wrote:

[2015-10-08 12:42] ddevlin commented on #241
@stevage, there's probably no need to disable core packages like syntax files, if there was an issue there everybody would be experiencing it. The issue is much more likely to be with a third party package.

You can disable Sublime Package Control managed third party packages in bulk like this:
- Opening the Package Control user settings file: `Super + Shift + P` > `Preferences: Package Control Se

[2015-10-09 04:29] stevage commented on #241
Ah, thanks. Well, interestingly I did briefly get to a situation where this minor issue went away. I slightly misapplied the instructions and removed everything from `installed_packages` except GitSavvy. When I added everything back, and also added all the packages to `ignored_packages`, the problem recurred.

Anyway, that's probably enough time chasing a pretty superficial maybe-bug. Thanks again

[2015-10-09 07:32] divmain opened #262 "Drop commits in rebase dashboard"

[2015-10-09 07:34] max-mykhailenko commented on #261
Good idea! It will be dashboard page with one hotkey.

[2015-10-09 08:47] stoivo commented on #261
I think we have decided not to add have to many global keystrokes, since than you may have some conflicts with other packages. But you are free to add you own keystrokes:

if you do to `Preferences` > `Key bindings - User`
and add the following.
[code]
or you may like to have it on F2 ..
[code]

[2015-10-09 08:55] burbanczyk commented on #261
Yes I know I can do that in preferences but, that's not exactly what I meant.
Adding key bindings would open new tab each time and it's still a two key combination.

What I'm proposing is that 1 2 3 4 keys wouldn't be global - they would work only on GitSavvy. This way you would utilize only one tab in sublime and have everything you need one keystroke away.

[2015-10-09 09:21] stoivo commented on #261
So you want to switch from status to branch on the same tab with one keystroke?

If we just close status view and open branch view? Than you get the behavior you want?

[2015-10-09 09:42] burbanczyk commented on #261
Pretty much, if the tab and focus stays in place then yes.
I'm imagining workflow like this:
I'm on git:status, i use (A) to add files, then (c) to commit, (ctrl+enter) to submit that commit. Next i want to jump to git:graph I use (4),  Everything is fine so I use (2) to jump to git:branch next i choose a branch and hit (c) to checkout.
That's approx. 6 keystrokes Instead of:
(A), (c), (ctrl+enter

[2015-10-09 10:39] stoivo commented on #261
Let's see what @divmain have to say.

[2015-10-09 21:05] stoivo commented on #133
@alextegelid, do you still have this issue? since I did some work on inline diff some weeks ago. Maybe it fixed this as well. I worked on adding a single line.

@divmain, I don't have any issues with new lines. Let's check who it is working now.

[2015-10-10 06:12] alextegelid commented on #133
I haven't noticed any problems in a while. It seems to be working fine. Good job!

I'll get back here if I notice anything weird.

[2015-10-10 19:03] atomi opened #264 "feature github open repo and repo issues in browser"
Small feature request. Can we get a
```github: open repo on remote```
and
 ```github: open issues on remote```

[2015-10-10 22:40] stoivo commented on #264
`github: open repo on remote` would open a list where you could choose remote and then these urls will be opened in browser?
    Github        -> https://github.com/divmain/GitSavvy
    Bickbucket -> https://bitbucket.org/<username>/<packagename>/overview

and similar to  issues?

[2015-10-11 00:03] atomi commented on #264
Yeah

[2015-10-11 03:40] atomi commented on #264
Also as you know ```.git/config``` file has an entry for ```url``` under ```[remote "origin"]```.

[2015-10-11 08:03] stoivo commented on #264
url = https://github.com/divmain/GitSavvy.git
url = git@github.com:divmain/GitSavvy.git

[2015-10-11 08:09] stoivo commented on #264
i think we can use this and get a good result
[code]

[2015-10-11 12:04] atomi commented on #264
Yeah the idea is for it to work similar to Github's hub [browse command](https://github.com/github/hub/tree/d45511c7aaca000c49ac1a2ef1a162a6153b0c44#git-browse) But it looks like they build the web url from params https://github.com/github/hub/blob/aa63aa67f2375f552d19cd715016570f3d044edf/github/project.g#L30
I think in this case  ```git remote - vv``` is the easiest and safest way to get the web

[2015-10-11 20:28] divmain commented on #264
The codebase already includes functionality to determine the URL, so this will be pretty straightforward.  I should have time to add this later today.

[2015-10-11 21:28] stoivo commented on #264
Note: We should have support for Github.com, GitLab.com and bitbucket.org and flash a note the user if the repo in note hosted on any of these servers.

[2015-10-12 01:05] divmain commented on #264
@stoivo, GitLab and BitBucket are not yet supported.  That is tracked in #40.

[2015-10-20 06:40] asfaltboy opened #265 "Suggestion: better controls when resolving conflicts"
Many a time when rebasing a branch, conflicts may arise (granted, it usually occurs with a stale branch).

Currently, when a conflict occurs, the rebase dashboard (which is the view the user is currently at) and other dashboards/commands become disabled until conflict is resolved. To resolve the conflict, usually the user will now navigate to status dashboard (or go full command line) and run his

[2015-10-20 06:47] asfaltboy opened #266 "Feature request: attempt to execute mergetool with common tools"
When git does not find a `merge.tool` config entry, it attempts to run the first "mergetool" it finds, from a list of pre-defined tools:

As seen above, the tools it attempts (ordered, I believe, from left to right) are:

    opendiff kdiff3 tkdiff xxdiff meld tortoisemerge gvimdiff diffuse diffmerge ecmerge p4merge araxis bc codecompare vimdiff emerge

It would be helpful if we attempted the same

[2015-10-20 06:48] sentience commented on #265
I believe this is already the case. When the Rebase dashboard encounters a conflict during a Rebase, it displays check marks for all of the commits that have been replayed successfully, and then displays a X against the commit that could not be replayed due to the conflict. Under the commit description, there is displayed a list of the files in which conflicts occurred:

![rebase__conflict_shown](

[2015-10-20 06:53] asfaltboy commented on #265
Oh wow, I missed this, must have been added in one of the latest version :+1:  !

[2015-10-20 06:53] #265 closed

[2015-10-20 07:14] asfaltboy opened #267 "Bug: rebase conflict resolution does not display added files"
When both conflicting commits "add a file", the rebase dashboard does not display the conflict, and it fails to continue.

    rebase in progress; onto 12738af
    You are currently rebasing branch 'wip-git-flow-interface' on '12738af'.
      (fix conflicts and then run "git rebase --continue")
      (use "git rebase --skip" to skip this patch)
      (use "git rebase --abort" to check out the orig

[2015-10-20 07:39] asfaltboy commented on #267
My bad, it seems the changte is much simpler, and the files displayed are inserted in `RebaseInterface._get_conflicts_in_rebase` from `StatusMixin.get_status` (which uses git status --porcelain, but it filters out any merge conflicts except when both modified (UU).

It should instead follow the status "short format" as described in `git status` man page:

   Short Format
       In the short-format

[2015-10-20 08:47] divmain commented on #265
I think it was part of the original rebase dashboard.  But it is easy to miss, if you don't notice the keybindings menu changing :)

[2015-10-20 08:55] asfaltboy commented on #265
@divmain I just noticed that conflicts which arise from merging do not have the same options in neither status nor rebase dashboards; however, `git merge` *does* allow for [`--abort`](https://git-scm.com/docs/git-merge).

Perhaps that should be a feature? Specifically, we would have to add the following:

    A - abort
    y - use version from your commit
    b - use version from merge source comm

[2015-10-20 10:12] divmain opened #269 "Add merge-conflict handling to status dashboard"
Should mirror rebase dashboard functionality.

[code]

[2015-10-20 10:12] divmain commented on #265
Yes, this surprised me the other day.  I never did add the functionality to the status dashboard.  Added issue #269.

[2015-10-20 19:12] stoivo commented on #266
I  personally never uses a merge tool.

How would you like it to work than? I have one idea.
1. User ask to open Merge tool ( merge tool is not set)
2. We check what merge tools is available on system
3. Ask use to select one of them (maybe set it as default merge tool in git config or set it as a setting in sublime and autoselect it next time, so the user only have to press `enter`)
4. Open merge

[2015-10-21 03:59] atomi opened #270 "Babun/Cygwin w/ subl - [WinError 267] The directory name is invalid"
If I use ```subl mygitrepo``` to open ```mygitrepo``` in Sublime from Babun/Cygwin I get the error:
```[WinError 267] The directory name is invalid```

But if I add the folder using drag and drop or through the menu, GitSavvy works fine.

It appears that it might be an issue with using ```subl.exe``` or using ```subl.exe``` from a ```mintty``` prompt is returning a Cygwin style directory path and

[2015-10-21 04:08] atomi commented on #270
I just tested this with ```sublime_text.exe``` as well and it causes the same problem if executed from Cygwin.

[2015-10-21 06:26] asfaltboy commented on #266
Sounds good to me! Some notes:

**(2)** For merge tools available, we can do [the same as git](https://github.com/git/git/blob/8d530c4d64ffcc853889f7b385f554d53db375ed/git-mergetool--lib.sh#L231), using common tools found in most systems and branching out on `is_gnome` condition.

**(3)** :+1: to saving the user selection in sublime GitSavvy settings (need to document this in case someone wants to

[2015-10-21 18:40] stoivo commented on #266
yeah, can you explain  2. step a bit more. Maybe I don't understand the shell script correctly

[2015-10-21 18:52] ptomato opened #271 "Feature request: blame current line"
It would be nice to have a command to show the commit (commit message and diff) that was responsible for the current line according to `git blame`.

[2015-10-21 20:06] stoivo commented on #271
https://github.com/divmain/GitSavvy/blob/master/docs/history.md#git-blame-current-file
I you are in Git Blame and press `SUPER-Enter` (`CTRL-Enter` in Windows)  you will open the commit

[2015-10-21 20:13] stoivo commented on #271
![http://g.recordit.co/6ZzrXwnccA.gif](http://g.recordit.co/6ZzrXwnccA.gif)

[2015-10-22 06:35] asfaltboy commented on #266
No you're right, the script [jumps](https://github.com/git/git/blob/8d530c4d64ffcc853889f7b385f554d53db375ed/git-mergetool--lib.sh#L297)  [around](https://github.com/git/git/blob/8d530c4d64ffcc853889f7b385f554d53db375ed/git-mergetool--lib.sh#L20) a bit, in the end it [uses the first tool that it finds](https://github.com/git/git/blob/8d530c4d64ffcc853889f7b385f554d53db375ed/git-mergetool--lib.sh#L

[2015-10-22 07:08] asfaltboy commented on #267
@divmain lets keep this issue open a bit until we can handle all the special cases.

It would be great if we could modify the commands displayed in the rebase interface according to the context of the unmerged status. However if it's not possible, we should display all commands and maybe add the type of "unmerged status" next to each file?

[2015-10-22 23:38] hectorsq opened #272 "Missing argument for git flow feature finish"
When I select **flow: feature finish**  from the command palette GitSavvy asks me for confirmation showing correctly the branch name, selecting Yes fails with the following message:

[code]

However **flow: feature start** works fine

[2015-10-23 07:34] asfaltboy commented on #272
Kindly provide some details:

Your environment configuration
[code]

And your feature branch name, for example:
[code]

[2015-10-23 16:55] hectorsq commented on #272
[code]

[code]

The feature branch that I could not finish inside the editor was feature/rename-folders, however I could finish the feature in the terminal without any problem.

It seems to me that GitSavvy is not passing the branch name to git.

[2015-10-23 18:34] asfaltboy commented on #272
Sorry, I see the problem now; [the code](https://github.com/divmain/GitSavvy/blob/12738af4b993fea0d5ea993195a6f7c845845331/core/commands/flow.py#L229) currently assumes you have latest [`git-flow`](https://github.com/nvie/gitflow), where [feature name is optional]((https://github.com/nvie/gitflow/blob/develop/git-flow-feature#L49)), and does not pass a feature name when a feature branch is current

[2015-10-23 19:59] benmosher opened #273 "Bizarre `status` display after move + recreate of a file"
Note the weird `Client/webpack.config.js` in the STAGED section:
![screen shot 2015-10-23 at 3 51 33 pm](https://cloud.githubusercontent.com/assets/3709196/10703440/314579ac-799e-11e5-991e-4ed510ffbd75.png)

Seems that pesky `->` is showing up, because I renamed my existing `webpack.config.js` to `webpack.base.config.js` and then created and staged a "replacement" `webpack.config.js`.

[2015-10-23 20:05] divmain commented on #273
Hm, could you give me a bit more context for this?  Maybe output of normal `git status` on the command line, and explain a little more what you mean by "move + recreate".

[2015-10-23 20:38] benmosher commented on #273
Here's the vanilla `git status`:
![screen shot 2015-10-23 at 4 31 39 pm](https://cloud.githubusercontent.com/assets/3709196/10704257/92c3fe9c-79a3-11e5-9515-8588d144503a.png)

Transcript of my actions is analogous to

* Move the file: `mv webpack.config.js webpack.base.config.js`
* Recreate a new file at the same location: `echo "module.exports = require('./webpack.base.config') > webpack.config.j

[2015-10-25 09:58] alextegelid commented on #261
I second this idea! With GitSavvy growing and the number of views increasing with it, it'd be like a general GitSavvy dashboard that one could switch views within.

The switch action could be prefixed like the stash commands are.
Spacebar for example:

`[spacebar]+1` => Status view
`[spacebar]+2` => Branch view
`[spacebar]+3` => Rebase view
And so on

[2015-10-25 10:08] alextegelid commented on #258
I used GitSavvy for quite some time before I noticed it was possible to use multiple cursors when selecting files in the status view. Try it out 👌🏼

[2015-10-26 07:52] #261 closed

[2015-10-26 07:58] divmain commented on #88
TODO:
- [ ] transition `git: tags` view to interface paradigm
- [ ] include tags dashboard in dashboard `TAB` functionality
- [ ] toggle display of remote flags similar to how it works in the Branch dashboard

[2015-10-26 07:59] divmain commented on #261
Alrighty, you can now `TAB` between interfaces.  As it is, the `git: tags` and `git: graph` views are not true interfaces, so they're not included in this enhancement.  However, I've added the necessary subtasks to the related tickets - when that gets done, you'll be able to tab to them also.

If you prefer to explicitly open a particular dashboard, you can add a setting to your user key-bindings

[2015-10-26 08:06] divmain commented on #258
@stevage, I've decided not to move forward with this feature request.  After looking into it, contextual prompt templating looks to be a rather complex feature to implement.

I agree that the UX would be better with more context.  However, the user can cancel, look at their status dashboard (or elsewhere), and initiate action again if they so desire.  The gains here don't seem worth the increased

[2015-10-26 08:06] #258 closed

[2015-10-26 08:07] stevage commented on #258
Not a problem! Had no idea it would be complex when I suggested it.

[2015-10-26 08:08] divmain commented on #11
@asfaltboy, I think it'd be good to include (discoverability is good!), but it can be the last option listed.  @stoivo, since you originally put together the branch history comparison view, do you want to take this on?

[2015-10-26 08:09] divmain commented on #258
Yeah, I wasn't sure at first either.  If the feature was simple to add, it'd be a no-brainer.

[2015-10-26 08:16] #246 closed

[2015-10-26 08:33] #264 closed

[2015-10-26 09:42] #267 closed

[2015-10-26 09:44] divmain commented on #267
This should be resolved.  Rebase dashboard UX forks when one side of the conflict is deleted, and does the expected thing.  Merge tool launching is disabled for file that has one (or both) sides deleted.

[2015-10-26 09:57] divmain commented on #270
Hey @atomi.  Can you paste the full error (including call stack if available)?  Also, can you open the Sublime terminal (`CTRL-~`) and show me the output of `window.folders()`?  It should looks something like this:

[code]

It may be necessary for me to dive a little deeper, if neither of these results in something useful.  In case that's the way things go, can you give me details about your compu

[2015-10-26 09:59] divmain commented on #272
@asfaltboy, we'll either need to explicitly define the minimum-supported git-flow version, or make sure older versions of git-flow are supported.  I'm fine with either one - gitflow is not something I use, but I imagine it is relatively simple to upgrade?

[2015-10-26 10:25] asfaltboy commented on #272
I believe their [install script](https://github.com/nvie/gitflow/wiki/Mac-OS-X#curl) pulls HEAD from repo and [copies each required file](https://github.com/nvie/gitflow/blob/develop/contrib/gitflow-installer.sh#L71) to destination (using [install](http://linux.die.net/man/1/install)).

[2015-10-26 11:48] stoivo commented on #11
Yes, I can do it. But I don't that much time now and the next week.

So if there are no deadline I will take this one :)

[2015-10-26 17:39] hectorsq commented on #272
Confirmed, I removed a homebrew based installation (version is 0.4.1)  and installed git flow manually.
Now it works fine.

[2015-10-26 18:01] divmain commented on #272
Alright, so this ticket should be:

- [ ] make `0.4.1` the minimum supported version, since it is the latest released version
- [ ] fix `git flow feature finish` to operate correctly under `0.4.1`

I'm not comfortable forcing users to circumvent their package control system (brew, or whatever else) so that git flow operates correctly under GitSavvy.

[2015-10-28 06:25] sentience commented on #261
Having a play with this, and it’s really lovely. Thanks so much!

[2015-10-28 11:47] burbanczyk commented on #261
Yeah, thanks guys! hoping to be able to switch to tags and graph any time soon!

[2015-10-28 17:58] stoivo opened #275 "Rewrite to Interface"
Rewrite view to be 'interface'-style
- [ ] Tags
- [ ] Graph
- [ ] Commit

Also remember to add `TAB`-ing between them #261
I can't remember if there is some other that should be change to 'Interface'-style

[2015-10-28 22:11] divmain commented on #275
Tag dashboard changes are tracked in #88.  Commit view port is tracked in #50.  I'm not convinced Graph view should be ported to interface, but open to hearing if there are good reasons.

[2015-10-28 22:11] #275 closed

[2015-10-29 00:47] #88 closed

[2015-10-29 00:55] divmain commented on #261
I've ported over tags dashboard to interface pattern, and you can now `Tab` between status, branches, rebase, and tags.  The graph view is used much less often than these dashboards, so I'm not making it tab-able.  Hopefully this is still considerably cleaned-up for you @burbanczyk!

[2015-10-29 01:53] divmain commented on #211
Sorry for the delay, just circling back on this.  I've been looking at the [docs for your version of Git](https://git-scm.com/docs/git-status/1.7.9.5).  It does note that the status short-format will include a branch name if `-b` is included.  It goes on to note the differences between short-format and porcelain mode, and does not include a disclaimer about no branch info when using `-b`.

As it t

[2015-10-29 01:56] #211 closed

[2015-10-29 02:47] divmain commented on #36
Closing this also, since #68 seems to be blocked indefinitely.

[2015-10-29 03:04] divmain commented on #195
I've decided not to pursue unit testing for GitSavvy at this time.

The first of the frameworks that was linked shows some promise, but upon making at attempt, it appears that GitSavvy is considerably more complex than the framework can accommodate in a straightforward way.  In particular, there doesn't appear to be a way to make assertions about asynchronous behavior (`set_timeout_async`).  The o

[2015-10-29 03:09] divmain commented on #157
I've looked at a number of other Sublime packages, and adding tokens and other secrets to the `User/GitSavvy.sublime-settings` seems to be the pattern used by everybody.  For that reason, closing this as wont-fix.

[2015-10-29 03:09] #157 closed

[2015-10-29 03:14] divmain commented on #26
@sentience, I'll be revisiting this soon.  But wanted to add that in your particular case, you can press `f` to `define base ref for dashboard`, and select your branch on origin.  This will allow you to perform all operations in rebase dashboard without having to force-push at the end.

[2015-10-29 03:22] divmain commented on #127
I've looked into this and because Git uses `utf-8` internally and because detection is so unreliable, I can't see a way where we can add robust support for non UTF-8 encodings.  I'm not sure what to add beyond #142.

@demon386 (if you still care about this), can you think of a half-measure that might make this a less-painful issue for you?  Unfortunately, I don't have a lot to work with since I do

[2015-10-29 03:24] divmain commented on #106
This was completed as part of 7dc5438b773cf8fde9b4d01a76c6af1c55bcc7d6.

[2015-10-29 03:25] #106 closed

[2015-10-29 03:41] demon386 commented on #127
I think it's painful because Sublime Text also only handles UTF-8. Editors like Emacs and Vim can handle non-UTF8 and it's less painful for their plugin authors to support this.

https://github.com/seanliang/ConvertToUTF8

Most of Chinese users use this plugin to handle non-UTF8 encoded file, and it will set file's original encoding in some variables. Maybe this can be helpful for you to detect th

[2015-10-29 04:15] sentience commented on #26
Good tip!

[2015-10-29 04:30] dlnsk opened #276 "Open file from COMMIT view"
I think it would be useful for chain like this:
show commit > open file > show log of this file

Open file works from DIFF view by 'o' shortkey but doesn't work from COMMIT view.

[2015-10-29 06:07] #127 closed

[2015-10-29 06:12] divmain commented on #127
Thanks a ton for pointing me in that direction @demon386!  I think I've added sufficient support for GBK encodings.  It requires that you have installed the `Codecs33` plugin (which I assume you have done, if you are using `ConvertToUTF8`).

What you'll want to do is add the following entries to your `User/GitSavvy.sublime-settings` file:
[code]

`silent_fallback` isn't strictly necessary, but you

[2015-10-29 06:30] divmain commented on #102
From #276:

This sub-feature should be included as part of this effort.  For a walk through history, we'll need an `show_file_at_commit` command.  To "open file" as suggested by @dlnsk, we'll need this functionality - the file doesn't necessarily still exist at HEAD.

[2015-10-29 06:31] divmain commented on #276
Just linked this issue to #102.  This feature is a subset of the functionality described there, so closing this ticket in favor of the other.

[2015-10-29 06:31] #276 closed

[2015-10-29 06:35] divmain commented on #107
This will be included as part of #50.  Closing in favor of that issue.

[2015-10-29 06:35] #107 closed

[2015-10-29 06:35] demon386 commented on #127
I kept getting "Fallback?" pop-up window when running "git diff" in a project. Even after I clicked "fallback".

[2015-10-29 06:40] #69 closed

[2015-10-29 06:41] divmain commented on #69
Sorry for the delay - this keybinding has been added to the status dashboard.

[2015-10-29 06:44] divmain commented on #127
Hmm, have you pulled down latest master?  This hasn't been included in a release yet.  I can't see how [this](https://github.com/divmain/GitSavvy/blob/92fe0d30ffbd8723d23cfdd3332c81641fca7f34/core/git_command.py#L148-L148) would be prompt you if the `silent_fallback` is set to `true`.

[2015-10-29 06:46] divmain commented on #51
Closing in favor of #50.

[2015-10-29 06:46] #51 closed

[2015-10-29 06:49] divmain commented on #16
Have decided to limit scope of GitSavvy to not include this functionality.  Other tools provide much better experience, and implementing this within Sublime would have inherent limitations due to API results paging, etc.

[2015-10-29 06:49] #16 closed

[2015-10-29 06:57] demon386 commented on #127
OK. worked fine now!

Thanks for the work!

[2015-10-29 07:03] divmain commented on #273
Yeah, I think the only way Git will detect something as renamed is if a file at the old path does not exist (and the diff is sufficiently small).  Otherwise, it treats the renamed file as new, and gives you a big ugly diff for the "new" file at the old path.

I don't think there's any way around this.  Going to close out this ticket.  If I'm missing something here, please do re-open.

[2015-10-29 07:03] #273 closed

[2015-10-29 07:09] divmain commented on #266
I think this is going to be tricky, and potentially bug-prone for Windows especially.  GitSavvy has no special knowledge of a Cygwin environment (or Git's happy `mingw` world).

I hesitate to add support for this when the work-around is so explicit and straightforward: add  a merge tool entry to your Git config.  On slower systems, there could be a long-ish delay as GitSavvy checks the sequence of

[2015-10-29 07:10] divmain commented on #127
Awesome, thanks for letting me know @demon386!

[2015-10-29 07:18] #256 closed

[2015-10-29 07:21] divmain commented on #102
Note to self:
[code]

[2015-10-29 07:51] stoivo commented on #275
The only reason I have to port Graph is if we want to have it in the `TAB`-sircle.

[2015-10-29 07:59] divmain commented on #275
Hey @stoivo, I mentioned [here](https://github.com/divmain/GitSavvy/issues/261#issuecomment-152043341) that I don't think the Graph view is used often enough to warrant `TAB` functionality.  The `TAB` becomes less useful the longer it takes for you to cycle to the view you're looking for.

[2015-10-29 08:12] #165 closed

[2015-10-29 08:14] divmain commented on #165
Alright, it will no longer display the destructive-changes warning for staged files, and will also show more specific messages when you're discarding untracked vs unstaged files.

[2015-10-29 10:22] burbanczyk commented on #261
Great thanks! Sorry to hear you won't be adding graph support. Is it your personal experience that graph is used less, or do you have GitSavvy statistics? For example I use status and graph all the time, graph very often, tags from time to time and rebase much less. Unfortunately I don't know python so I can only hope you'll change your mind :)

[2015-10-29 16:03] stoivo commented on #261
I don't like using  tab circle, since If pas the one I have to circle around again.

I think a good solution is to use numbers to switch. And have this a setting
[code]

[2015-10-29 16:39] stoivo commented on #211
:+1:

[2015-10-29 17:35] #173 closed

[2015-10-29 19:55] divmain commented on #261
Alrighty, I've added some configurability that should satisfy the concerns.  The tab cycle now includes the graph view @burbanczyk.  The order and inclusion of the tab cycle is also now configurable, using the `tab_order` sublime setting.  You can include/exclude and reorder to fit your preference.

@stoivo, I won't be adding global number key-bindings because **1)** I don't want hidden key-bindin

[2015-10-29 21:44] stoivo commented on #261
Thx, I was probably explaining myself bad. I don't want you to add a global key-binding. The reason I wanted to have this as  settings is so we can add something like this for all the views that have this feature.
[code]
And than this section will be generated so it fit the user.

If anything is unclear than ask, sry for my bad explanation before

[2015-10-29 22:07] divmain commented on #261
No problem, I understood :)

I don't want to add key-bindings to all of those views - and key-binding menus for those actions - for the reasons I stated above.  If users would like to use these (or other) keybindings, instead of the customized `Tab` cycling, it is a natural fit for `User/Default.sublime-keybindings`.

That's the strength of Sublime, from my perspective - plugins can provide sane d

[2015-10-29 22:46] stoivo commented on #261
I agree. :sparkles: Than I think tab-ing is done.
One thing I notice is if I have  open a Status view and one Branch view. Open and start tabbing. I am going to end up merging those two into one single view. It is not an issue, but now you know about it.

![http://g.recordit.co/u9eB60Uspn.gif](http://g.recordit.co/u9eB60Uspn.gif)

[2015-10-29 23:10] divmain commented on #261
Yeah I noticed that too.  Can't think of a fantastic alternative - we definitely only want on STATUS view for a particular repo at one time.  So tabbing into STATUS from wherever else should result in only one STATUS dashboard.

I guess we will see if anybody cares, and if they can think of a better alternative.

[2015-10-29 23:16] stoivo commented on #261
Yes  :+1:

[2015-10-29 23:46] burbanczyk commented on #261
@divmain tabing works great now. Adding configuration is definitely a good move. Now working with GitSavvy is awesome.
Although I personally think configurable key bindings (1,2,3,4,5) by default would be handy because cycling can be sometimes but that's not a problem - I can configure that on my own. Maybe an example should be added to the documentation in case other users would like to have shor

[2015-10-30 08:12] dlnsk commented on #102
And another one feature request:
Will be cool if some shortcut (maybe Ctrl+R) on DIFF/COMMIT open popup with list of files changed in it with the ability to go to this part of diff.

[2015-10-30 17:57] asfaltboy commented on #266
I have to disagree here. For me, the whole point of using GitSavvy is to avoid remembering / understanding git commands and configuration keys; I expect it to do it for me.
Moreover, in this case, git's own implementation is superior in it's simplicity. Let me explain.

First, when `merge.tool` _is_ configured, git uses the tool's executable found on `PATH`, while GitSavvy attempts to use `mergeto

[2015-10-30 20:24] divmain commented on #266
That's a strong argument.  What do you think about this @asfaltboy?

1. run `git mergetool --tool-help` and parse the output
2) search the PATH for any that are available
3) if any are found, ask the user if they'd to use one on an ongoing basis
4) if they say "Yes", display all options in a quick panel, and do the `git config` for them

The only potentially weak point in there is parsing the outp

[2015-10-30 20:35] asfaltboy commented on #266
Yep, that's about what I thought, only I feel it should be a sublime setting.

Also, I'm looking at MergeMixin, and perhaps we can simplify the logic by passing tool choice to `git mergetool --tool=<choice>`, rather than constructing our own command. The choice in this case is the tool name, rather than path, so we don't even have to care about looking up in `PATH`.

This call can be spawned from

[2015-10-30 22:50] aarohmankad opened #278 "Add `git: add and commit` command"
This command seems more intuitive to type than `git: commit including unstaged files`. The functionality is there, just a different alias.

I currently have a custom command set to this alias.

[2015-10-30 23:24] divmain commented on #278
If this changed, would likely change to `git : quick stage all files and commit` to match existing `git : quick stage current file and commit`.  Will wait to see if anyone chimes in on this.

[2015-10-31 09:07] stoivo commented on #133
Maybe close this one?

[2015-10-31 10:01] alextegelid commented on #133
Yeah, I still haven't noticed anything weird 👍🏼

[2015-10-31 15:16] asfaltboy commented on #266
The only issue I've bumped into so far is that some tools (for me, `emerge` and `diffmerge`) must be run in a terminal, which does not automatically get launched (duh), so a bit of unfriendly behaviour there. But I think it's same behavior right now.

Only thing that's left is to decide whether to store the selected too and where to store it (`git conf` or `sublime`).

[2015-10-31 18:05] ramiel opened #279 "Flow release finish not working"
When I launch git flow release finish from the plugin, it switch to the terminal but this error is shown

[code]

Is a problem with this plugin or with my system configuration?

[2015-10-31 20:41] divmain commented on #133
This still does not work correctly when there is no new line at the end of the file (either in index or working dir).  Going to leave this ticket open until it can be addressed.

[2015-10-31 20:42] divmain commented on #279
Git flow is the one piece of GitSavvy I didn't put together :) @asfaltboy, can you comment?

[2015-10-31 20:50] asfaltboy commented on #279
@ramiel I can't really tell without seeing your branches. Help me help you with some questions:

1. Copy paste the output the following commands:
  * `$ git config -l | grep flow`
  * `$ git branch -va | grep feature`
2. Which branch are you on when you issue the `release finish` command?
3. What happens when you issue the same directly in command line: `git flow release finish`?
4. Which version

[2015-10-31 21:28] stoivo commented on #271
close this one? @divmain

[2015-11-01 00:11] #271 closed

[2015-11-01 10:02] ramiel commented on #279
So, here the informations:
[code]
then

[code]

The version of git-flow is `1.8.0 (AVH Edition)`.
When I try to close the release I'm on the release branch itself.
Doing the same on the console actually close the branch (show me three commit message, two for the merges and and for the tag)

[2015-11-01 17:09] hectorsq opened #280 "inline_diff_auto_scoll option should be inline_diff_auto_scroll"

[2015-11-01 21:18] stoivo commented on #280
Looks like a typo. I have corrected it.

Thanks for reporting it.

[2015-11-01 22:23] asfaltboy commented on #279
To be honest I have not been aware of the AVH version up to this moment. Our current implementation was built to work with nvie's git-flow (requiring 0.4.1 or up), which is what I'm using, but I don't think the fork is the reason.

I installed latest git-flow-avh (1.9 from homebrew) but could not reproduce your issue. Looking again at your error, the message seems to indicate that the `EDITOR` env

[2015-11-03 13:41] asfaltboy commented on #279
@divmain How do you feel about this? A `release/hotfix finish` by default requires a message to be added (to be used when creating the tag). However a commit for a tag it is not required, so it could be skipped. Alternatively, we could optionally enter the commit message for the tag in sublime, prior to using `git flow release finish`.

[2015-11-03 16:53] erikblake opened #283 "[WinError 5] Access is denied?"
I installed gutsavvy on Sublime3 running on Win7-64. Now, whenever I open Sublime, I get a dialog with the message "[WinError 5] Access is denied". I do not have git in the PATH, so I have git_path set in gitcavvy.sublime-settings - user. I've tried both "C:\\PF\\Git\\bin" and "C:\\PF\\Git" for the path value.

Traceback is as follows:

    DPI scale: 1
    startup, version: 3095 windows x64 chann

[2015-11-03 17:24] divmain commented on #283
Hey @erikblake, you'll want to use the full path to the Git binary itself (not just the directory where it is located).  Based on what you've posted, this value is probably `C:\\PF\\Git\\cmd\\git.exe`.

[2015-11-03 17:49] erikblake commented on #283
That did indeed solve the issue! Thanks!

I guess I assumed "git_path" meant the directory/folder, since that's what would be present in the PATH environment variable, had I used this option when installing git. Maybe this could be clarified in the documentation under the "Simple Installation" note.

[2015-11-03 17:49] #283 closed

[2015-11-04 13:44] utahmike opened #284 "Edit Commit Message in Rebase Mangles Title Line"
The title line is not properly modified when changed during Edit Commit Message during interactive rebase. Typical behavior is to ignore all edits to the title line. Running GitSavvy v2.7.1 on Sublime Text Build 3083.

[2015-11-04 18:28] divmain commented on #284
Hi @utahmike.  Can you give me an example?  I regularly use that feature and am not sure what you're describing.

[2015-11-04 18:31] utahmike commented on #284
Sure. Will screen shots suffice?

[2015-11-04 18:33] divmain commented on #284
Absolutely, thanks!

[2015-11-04 18:39] utahmike commented on #284
Here you go. I hope this is helpful.

— Mike

[2015-11-04 18:49] utahmike commented on #284
I can send you the repo if that would help.

[2015-11-04 19:22] stoivo commented on #284
I can not see any screenshot, maybe it don't work to send it on mail?

[2015-11-04 19:24] utahmike commented on #284
Here you go, I put it on my web server: http://www.aspengrove.com/gitsavvy.zip <http://www.aspengrove.com/gitsavvy.zip>

[2015-11-04 19:31] utahmike commented on #284
I also just noticed that assuming you don’t call your own special version of git, I am using the version that come with OS X Yosemite:

/Applications/Xcode.app/Contents/Developer/usr/bin/git
git version 2.4.9 (Apple Git-60)

— Mike

[2015-11-05 08:14] divmain commented on #279
Has someone documented/published the "git flow way" in a blog post or something?  As I mentioned, I don't use it in my workflow, and that may make it difficult to support multiple possible variants of git flow.  However, as a general rule, I'd aim to be as permissible as possible.  In this case, it may mean always doing `flow release` in an AVH-compatible manner - so possibly always prompt for a m

[2015-11-05 08:21] #280 closed

[2015-11-05 08:29] asfaltboy commented on #279
Here is Vincent's [original blog post](http://nvie.com/posts/a-successful-git-branching-model/) that "started it all". In fact the blog, as well as both `AVS` and `nvie` versions use an annotated tag by default (`git tag -a <ver>`) when [finishing a release](http://nvie.com/posts/a-successful-git-branching-model/#finishing-a-release-branch).

The default in git-flow is to display an editor for the

[2015-11-05 09:11] ramiel commented on #279
If you want my humble opinion, people expects a commit window for the annotated tag.

[2015-11-09 09:57] atk opened #285 "git push doesn't ask for ssl key passphrase"
I have a repository at work that requires an SSL key with a passphrase. If I try to push or pull using GitSavvy, it simply doesn't work instead of asking for the passphrase.

[2015-11-09 10:24] stoivo commented on #285
What OS are you on?

[2015-11-09 18:24] divmain commented on #285
Hi @atk.  There is no real fix for this on GitSavvy's side - Git provides no mechanism to 1) know when a password is required, or 2) pass a password to it.  However, you can use `ssh-agent` so that you are not prompted for your password, but everything remains secure.

Here are some relevant links that may help:

- [Working with SSH key passphrases (GitHub)](https://help.github.com/articles/workin

[2015-11-09 18:24] #285 closed

[2015-11-12 20:50] alextegelid opened #286 "Feature: Support rebase onto current branch"
Often I find myself rebasing onto the current branch using `git rebase -i HEAD~<n>` to modify the `<n>` previous commits.

I think this would be an awesome feature. Is it doable in the rebase dashboard?

[2015-11-13 16:05] asfaltboy commented on #286
I believe the rebase dashboard tries to accomplish common scenarios that you would usually accomplish in an interactive `git rebase` (squashing a commit with next commit, squashing all visible commits, rewording a commit message and change order of commits).

While it also lets you choose a "base ref" for a commit (sort of like the `HEAD~[n]` in your example above only using a branch as the starti

[2015-11-13 19:51] #272 closed

[2015-11-13 20:42] #286 closed

[2015-11-13 20:44] divmain commented on #286
Give it a try and let me know how you like it.  It should support arbitrary refs - commits, `HEAD~5`, tags, branches, etc.

[2015-11-13 20:48] alextegelid commented on #286
I'll try it out next week when I'm back at the office, hard at work :) Thanks so far!

[2015-11-13 20:54] asfaltboy commented on #286
Sweet! Works very nice for me.

<img width="500" alt="screen shot 2015-11-13 at 9 51 51 pm" src="https://cloud.githubusercontent.com/assets/321520/11157318/0985f4f0-8a51-11e5-9791-51e960e81589.png">

[2015-11-20 11:29] alextegelid opened #289 "Can't open the status interface. "NoneType is not iterable""
When I select `git: status`from the palette, nothing visibly happens and this is output in the console:
[code]

I've just cloned a fresh copy of master onto my new laptop, and that's when this started happening.

Might be similar to this:
https://github.com/divmain/GitSavvy/issues/128
And possibly fixed like this:
https://github.com/divmain/GitSavvy/pull/130
https://github.com/divmain/GitSavvy/com

[2015-11-20 11:32] alextegelid commented on #289
I don't know if this might be related, but whenever I open the command palette this is output to the console:
[code]
14 times with different memory locations, if that's what's right at the end: `object at 0xXXXXXXXX`.
I'm guessing it's one for every GitSavvy command in the palette.
[code]

[2015-11-21 00:42] divmain commented on #289
Yikes, okay I'll take a look!

[2015-11-21 00:47] divmain commented on #289
Re: the first problem, do you have [this line](https://github.com/divmain/GitSavvy/blob/a20dd69fe19d7a37e09f061e0325bd0f8a5a5d96/GitSavvy.sublime-settings#L84-L84) in your settings file?  It should be in the master settings file - only case I can think of that would result in it _not_ being there is if 1) you pulled from master, 2) you had edited the `GitSavvy.sublime-settings` in the package inst

[2015-11-21 01:08] divmain commented on #289
The second problem looks very similar - your settings file must be missing [this entry](https://github.com/divmain/GitSavvy/blob/81bf7e2047ee5e44bd6be5a785bc129d76368c61/GitSavvy.sublime-settings#L170-L170).

There's a fix for both of these now in master, so feel free to pull it down.  But I am still very interested to know how your machine ended up with this configuration.

[2015-11-21 01:09] #289 closed

[2015-11-21 08:06] alextegelid commented on #289
Firstly, the fix works. Thanks!

It's fairly simple to explain how this happened.

I bought a new laptop a few days ago, installed Sublime Text and symlinked /User to my backed up copy in Dropbox. In that backup, my `GitSavvy.sublime-settings` says (and have been saying for a long while):
[code]

I've been using the latest version from master lately and have never changed the default `GitSavvy.sub

[2015-11-21 18:19] franciscolourenco opened #290 "Strange horizontal scroll when staging hunks"
There is a strange automatic horizontal scrolling happening when staging hunks on some files.
When a hunk is staged, the file scroll jumps to the right.

Here is an example:
[![screeencast](http://i.imgur.com/m1pCqua.gif)](http://i.imgur.com/m1pCqua.gifv)

[2015-11-21 21:05] alextegelid commented on #290
Now that you mention it, I've noticed this aswell.

[2015-11-22 06:31] divmain commented on #290
You know, I've noticed that myself.  As far as I can tell, it is a Sublime Text bug.  However, I have a possible work-around in mind, so let me give that a shot.

[2015-11-22 06:40] divmain commented on #290
Alright, let's see if this change consistently makes a difference.  As is mentioned in the commit, the addition here shouldn't strictly be necessary, but it should provide a relatively seamless workaround.  Please re-open if you notice the issue again.

[2015-11-22 06:41] divmain commented on #289
That works - thanks for letting me know!  Sounds like it isn't something that'll likely occur again, and the safeguards should prevent an issue otherwise.

[2015-11-24 02:45] hanoii opened #291 "Ignore EOL-whitespace in Inline Diff view"
I can't figure out if this is something I am understanding wrong, but how does whitespace toggling in diff works?

I set the setting

[code]

But I am also looking for a way to manually toggle this on diff views. Do I need the setting if I want to toggle it?

Also, is it safe to stage/unstage a hunk or linke while using htis?

Thanks,
Ariel.=

[2015-11-24 14:58] stoivo commented on #291
what it does in inline diff is to append  `--ignore-space-at-eol` to the command  and if you look in the git docs you will find
[code]
I don't use this setting in my use of GitSavvy.  But there you have what is does in the background.

Do you think it would be good to have the toggle option in inline diff the same way we have it in diff view?

[2015-11-24 23:58] laggingreflex opened #292 "git: log not working, on selection of a commit nothing happens"
The git:log option shows commits but selecting them (hitting enter) does nothing, the menu just disappears. And if at the same time I have the console panel opened up it logs "Quick panel unavailable". Enabled debug logging and here's the generated log json: http://pastebin.com/RtuM3iP1

Windows 8, Sublime text 3, already tried with a fresh install of everything, and on different repositories.

(l

[2015-11-25 01:05] divmain commented on #292
Whoa, that's very strange.  In doing a quick search, it sounds like this was an expected issue with Sublime Text 2, but I didn't find anything recent.  Have you noticed similar problems when a second quick panel is supposed to open immediately after a first?  I have a potential fix in mind, but want to understand the scope of the problem.

[2015-11-25 03:00] laggingreflex commented on #292
I've only just installed it so I don't know much. What other command are supposed to bring up a second quick panel?
I'm also not very well versed in Python or Sublime dev, so please bear with me. Is command pallet a quick panel? If so, then the only other command that I can think of that brings up another panel right afterwards is the Package manager, with list/install/disaable packages commands,

[2015-11-25 05:14] divmain commented on #292
Fair enough - and thanks for the detailed information.  If I put up a branch with a potential fix, would you be able to pull it down and test it?  I'm not able to reproduce the issue on any of my environments (including Windows 8), so confirmation would be good before merging into master.

[2015-11-25 11:33] laggingreflex commented on #292
Absolutely

[2015-11-25 15:23] laggingreflex opened #293 ""commit_on_close" not working"
Regular commit works with ctrl+enter but when I activate the `"commit_on_close": true` option and close the commit window (with a commit message written) it fails to commit.

Console panel logs the following:

    Traceback (most recent call last):
      File "core.commands.commit in C:\Program Files\Sublime Text\Data\Installed Packages\GitSavvy.sublime-package", line 131, in run_async
    IndexEr

[2015-11-25 23:30] hanoii commented on #291
I think so. I use the inline diff almost exclusively, I am unsure if having that will prevent the line/hung staging/unstaging to work. But definitely a good thing to have on inline diff as well.

I have to say it's amazing how gitsavvy has matured since the first versions.

[2015-11-26 18:40] laggingreflex commented on #293
I changed the contents of the file `core/commands/commit.py` line 131:

        # commit_message = view_text.split(help_text)[0]
        commit_message = "view_text"

Essentially I hardcoded the commit message to a simple text "view_text". It gave this error:

    `C:\Program Files\Git\bin\git.EXE commit -q -F -` failed with following output:
    On branch master
    Changes not staged for commit:

[2015-11-26 18:55] laggingreflex commented on #293
I see that there's a different class `GsCommitViewCloseCommand` (same file core\commands\commit.py:176) for performing commit on close, but all of above is being executed in the class `GsCommitViewDoCommitCommand`.

Could it be some setting configured incorrectly somewhere that's actually supposed to link this (the second class) with the close_tab command?

[2015-11-26 23:16] divmain commented on #293
Hey @laggingreflex - I'll take a look at this tonight.  Strange that you're running into so many problems that haven't come up for anyone else.  You're using ST3 on Window 8, correct?  In any case, I'll look into this.  Thanks for reporting!

[2015-11-27 00:57] laggingreflex commented on #292
I was still on build 3065, and updating to the latest fixed this.

Really sorry for the trouble, I know I should be using the latest anyway, but I was really waiting for [this](https://github.com/SublimeTextIssues/Core/issues/913) to be fixed.

In the changelog I see that they fixed something related to quick_panel in build 3080: "API: Window.show_quick_panel() will now scroll to the selected item

[2015-11-27 00:57] #292 closed

[2015-11-27 01:39] laggingreflex commented on #293
So yeah you were right about finding it strange, the other issue was due to me using an older build, sorry about that!

But this issue still seems to be present. ST 3 build 3083 (win 8.1). Same error, and I did all above debugging again with same results.

[2015-11-27 07:25] divmain commented on #292
Gotcha - glad this is working for you.  Really had me baffled :)

[2015-11-28 13:15] HughMacdonald opened #294 "Suggestions for 'git rebase'"
Hi,

First off, I've just started using GitSavvy, and I do love it - it's great to be able to do everything from inside Sublime rather than jumping out to a terminal.

I generally do bits and pieces of rebasing, to keep commit trees tidy before putting in a Pull Request for a project. There are a handful of things that have come up with how GitSavvy handles rebases.

* Shifting a commit up or down

[2015-11-28 23:12] NicoSantangelo opened #295 "Syntax highlight for show_word_diff"
Hello! I couldn't find an issue for this so I'm not completely sure if I'm missing something.

When seeing diffs for a file everything works fine:

![image](https://cloud.githubusercontent.com/assets/692077/11454469/fb60dc66-960b-11e5-83d4-ffeea39b1cb8.png)

But when I toggle to `word_diff` using `w`:

![image](https://cloud.githubusercontent.com/assets/692077/11454472/0b5c9920-960c-11e5-875b-0d20

[2015-11-29 22:09] stoivo commented on #295
Hey,

You are right. This is not only your sublime. When I created world-diff I did not add colors, since we don't use our own diff syntax but sublimes. and this one does not  support ` [-del:-]` and `{+add:+}` as adds/dels.

So either you should create a new whole diff syntax which is a lot of work and hard to hit all cornycases OR make sublime diff syntax better(report a issue and follow up) whi

[2015-11-30 13:54] NicoSantangelo commented on #295
Aw that's a shame.
I'm going to file an issue on [DefaultPackages](https://github.com/SublimeTextIssues/DefaultPackages/issues) but it seems that the development is a bit stalled so I'll give the syntax a go.

I think updating the docs it's a good idea to avoid confusion but, if this is the first time this issue has been filed, maybe it's not necessary?

Thanks :)

[2015-12-01 07:13] stoivo commented on #295
This is first issue. I don't think we need to write anything at least not if you manage to fix it.

[2015-12-01 10:07] divmain commented on #295
@NicoSantangelo, please feel free to take a go at the syntax file!  @stoivo and I discussed this at the time the feature was introduced, and I haven't had time to revisit and add this myself.

[2015-12-01 10:18] divmain commented on #291
The `inline_diff_ignore_eol_whitespaces` is intended really only for the situation described in #177.  There is no way to toggle the behavior in the actual diff view without changing the setting.

In the inline-diff view, there is new functionality that might look similar (press `s` to toggle ignoring of whitespace).  However, (un)staging of lines and hunks will not work in this mode, because the

[2015-12-01 10:25] divmain opened #296 "Move cursor when commit is moved in rebase dashboard"

[2015-12-01 10:26] divmain opened #297 "Queue up actions in Rebase dashboard"

[2015-12-01 10:29] divmain commented on #297
**Possible alternative:** Add functionality to move commits as a block - this should introduce fewer edge cases, and the result of the action should be reversible if any of the Git operations fail.

[2015-12-01 10:32] divmain commented on #294
Hey there @HughMacdonald!  Thanks for the feedback.  I've been intending to revisit the rebase dashboard for some time now to add some polish.  But since the existing functionality addresses most of my daily pain-points, it hasn't happened yet.

A few thoughts:

- When making any change (not just moving), all commits shown will be re-applied to the tree.  This is often unnecessary, as really just

[2015-12-01 10:33] divmain commented on #294
And actually, since much of this was split out into other tickets, I'm going to go ahead and close this one.  Glad to continue discussion here, for anything not addressed in those smaller tickets, and please feel free to re-open if you think I've missed something.

[2015-12-01 10:33] #294 closed

[2015-12-01 13:57] alextegelid opened #299 "Inline diff multiple (or all) files"
I just thought of a feature while cleaning up a lot of small corrections in quite a few files. Would it be possible to inline diff multiple (or all) files? And would it be of any use?

[2015-12-01 14:08] alextegelid opened #300 "Endless loop: "GitSavvy was unable to parse Git output as UTF-8""
I accidentally pressed `e` (diff) on a GNU MO file in the status view. That seems to have started som kind of endless loop of popups saying:
[code]
It doesn't matter whether I press `Cancel` or `Fallback?`.

_Edit:_ Force quitting Sublime Text and restarting helped.

The popup:
<img width="555" alt="endless" src="https://cloud.githubusercontent.com/assets/7058721/11502759/fb441d96-983c-11e5-90f8-1

[2015-12-01 21:16] divmain commented on #300
Whoa.  That... is not correct.  Thanks for reporting!

[2015-12-01 23:03] NicoSantangelo commented on #295
Hey! I have a working local version which looks like this:

![image](https://cloud.githubusercontent.com/assets/692077/11516919/378f0928-9865-11e5-9479-809f49c4f99a.png)

but I have a little question regarding the implementation.

I can set the syntax only when the user chooses `word-diff` or we can use this syntax for the hole diff command (changing [line 38 of diff.py](https://github.com/divmain

[2015-12-02 09:48] HughMacdonald commented on #294
Hi @divmain, thanks for all of that. I'll respond with my thoughts in the new issues, and open up a new one on the last point.

[2015-12-02 09:51] HughMacdonald commented on #296
This would mean that moving a commit up, say, 5 commits would just be a matter of tapping "u" 5 times. In conjunction with #208, this would hopefully be very responsive.

[2015-12-02 09:55] HughMacdonald commented on #297
I do like the alternative of being able to move a block.

I was thinking that it would be nice to be able to mark one or more contiguous commits and have them highlighted to flag which ones are marked. Then "u" and "d" would move these, and, in addition, maybe a "move" command where you move the cursor to a point between two other commits and in one command move the whole block without having to g

[2015-12-02 10:22] HughMacdonald opened #301 "Rebase : "Squash commit with next" doesn't match "git rebase -i" functionality"
Currently, it feels to me that combining commits in GitSavvy doesn't act in quite the same way as doing it using `git rebase -i`

Using `git rebase -i`, commits are always considered to be combined with a previous commit (using `squash` or `fixup`, so the first commit is considered the master.

Initial git repository setup

    git init
    touch master
    git add master
    git commit -m "master

[2015-12-02 10:23] HughMacdonald opened #302 "Rebase : doesn't work if there isn't a project"
When working through the steps of an issue on Git Rebase that I was writing, I discovered something slightly odd.

While `git status` works fine if I haven't created a Project (does it look at the path for the current file, maybe?), `git rebase` gives me a blank page until I actually have a project.

This really confused me for a while - it'd be nice for it to make the same assumption as `git stat

[2015-12-02 21:40] divmain commented on #302
Hmm, you'll have to include more repro steps for this one.  There's only a single mechanism for detecting which git repository to talk to, so I'm not sure what you're describing.

[2015-12-03 15:11] aristidesfl opened #304 "reset --hard?"
How to to do reset --hard?

[2015-12-03 15:46] ddevlin commented on #304
The default reset mode used by GitSavvy is `--mixed` ([see here for more info](https://git-scm.com/docs/git-reset)).

You can get the same result as `reset --hard` by first doing `git: reset` or `git: reset (reflog)` and then pressing `D` on the GitSavvy status dashboard to discard all unstaged changes.

@divmain: I'm considering adding the reset mode as a configuration option (defaulting to --mix

[2015-12-03 16:00] aristidesfl commented on #304
I would not expect the reset to be --hard by default, but a separate reset --hard command?

On Thursday 3 December 2015 at 16:46, David Devlin wrote:

[2015-12-03 16:50] stoivo commented on #295
I prefer it we   always use the one you created if it works all the time.

[2015-12-03 18:42] ddevlin commented on #304
How about something like this?

![ezgif com-video-to-gif](https://cloud.githubusercontent.com/assets/912471/11570068/1e891fc0-99ed-11e5-88be-a84f5212be1d.gif)

I'd probably add a setting to enable this extra step, and retain `--mixed` as the default to keep things simple for users who aren't familiar with reset modes.

[2015-12-03 18:52] aristidesfl commented on #304
looks very good

On Thursday 3 December 2015 at 19:42, David Devlin wrote:

[2015-12-03 18:58] divmain commented on #304
@ddevlin, I like it - push that up as a PR, and I'll merge!

[2015-12-03 19:00] divmain commented on #295
If default-mode behavior is unchanged, using it for all GitSavvy diffs seems reasonable to me.  The only potential downside is if changes are made to the diff syntax file in the default Sublime package, but that seems like a very slight downside.

[2015-12-04 14:13] NicoSantangelo commented on #295
It shouldn't be a problem because I'm including the default diff syntax, so if it changes it should be reflected on Git Savvy.

I'll make the PR today :), thanks for the feedback

[2015-12-04 14:51] HughMacdonald commented on #302
Here you go - this just worked for me:

    Open 'b' in Sublime Text
    Command Palette -> "git status"

<img width="755" alt="screen shot 2015-12-04 at 14 49 09" src="https://cloud.githubusercontent.com/assets/625512/11592415/444b814a-9a96-11e5-82fa-cfe04dba9925.png">

    Close Status tab
    Command Palette -> "git rebase"

<img width="755" alt="screen shot 2015-12-04 at 14 49 18" src="https:/

[2015-12-04 14:51] HughMacdonald commented on #302
BTW - this is all on OSX 10.10.5 using git version 2.4.9 (Apple Git-60)

[2015-12-04 18:00] aristidesfl commented on #290
still experiencing this issue. how do I check which version is installed?

[2015-12-04 19:50] divmain commented on #290
@aristidesfl, this hasn't been released yet through Package Manager.  You'll only see if it if you've pulled down the repo manually and pulled since the fix was added.  I generally like to keep changes like this in master for a little while before releasing into Package Manager, in case they introduce any new problems.  But for what it's worth, I haven't noticed this issue since the change was mad

[2015-12-04 19:52] #304 closed

[2015-12-04 19:53] divmain commented on #302
_Weird._  Thank you, I'll take a look.

[2015-12-04 19:54] divmain commented on #295
Excellent :+1:

[2015-12-04 20:28] asfaltboy commented on #300
Since [gettext MO files are binary](http://www.gnu.org/software/gettext/manual/gettext.html#Binaries), by default `git diff` should produce output such as:

[code]

However, I could reproduce this behavior by explicitly requesting a binary file to be diffed as test:

    # .gitattributes
    *.jpg diff

@alextegelid regardless of issue, you should probably check if you have set *.mo file to be dif

[2015-12-04 23:29] alextegelid commented on #300
I can't remember having set anything like that, but I'll definitely check it out. Thanks @asfaltboy

[2015-12-05 09:34] #302 closed

[2015-12-05 10:07] divmain commented on #300
Looks like whenever you close the error modal by clicking `OK`, the diff view regains focus and tries to refresh.  When it does that, the offending git command runs again, and you are again prompted.  Boo.

A universal solution to this is not occurring to me at the moment, so for now I've added a somewhat inelegant but otherwise acceptable fix.

[2015-12-05 10:15] divmain commented on #299
Because the implementation for the inline diff view is very complex, adding this feature seems like a sizable risk.  So unless there's an undeniable use-case with no alternative, I'm going to give a pretty firm "no" to this.  _However_, maybe we can add a different feature to address the need.

For example, we added Tab functionality to cycle through dashboards.  We could conceivably add Tab funct

[2015-12-05 10:21] alextegelid commented on #300
(A well commented fix at that 😂)

Oddly enough when trying to intentionally diff an mo-file (namely the exact same file as the initial post) I'm getting this output, similar to what @asfaltboy mentioned:
[code]
By manual override in `.gitattributes` ( `*.mo diff` ) I can confirm that the popups does indeed stop after clicking OK in the second dialog. Good job!

[2015-12-05 18:29] divmain commented on #300
Thanks for checking!

[2015-12-07 00:10] #293 closed

[2015-12-07 03:43] stevage opened #308 ""Review Github pull request" feature"
There doesn't seem to be a good workflow in GitSavvy for evaluating pull requests, so I end up dropping into a command line for this. I imagine it working like this:

1. Cmd-Shift-P, "Checkout Github pull request"
2. Paste pull request URL: https://github.com/myorg/myproj/pull/666
3. GitSavvy magically figures out that this corresponds to branch "mycoolfeature" at https://github.com/newcontributor

[2015-12-07 05:52] divmain commented on #308
Generally, I've used `github: add fork as remote`, fetched, and checked out the branch.  But I don't mind streamlining this.

[2015-12-07 06:03] divmain commented on #308
One problem with the provided commands in Step 4: If there is a diverged commit history, this will generate a merge commit, which you may not want.  Alternative would be:

- ensure the index is clean
- query for open pull requests
- upon selection, set a remote for the PR's source
- fetch new remote
- detach head at associated commit

This would be a clean flow for reviewing changes in a PR, witho

[2015-12-07 06:53] stevage commented on #308
I probably should have mentioned the source of the two git commands at the end of the issue. That's actually the text that Github generates when you click "view command line instructions".

Github's presumption is that you will review this branch, and then if it's good, switch back to master, merge the branch in (`git merge --no-ff branchname`), and push that. So generating extra merge commits on

[2015-12-07 07:33] divmain commented on #308
However, if the the PR's `HEAD` has a merge conflict with the latest master on _your_ machine, the pull will not be successful.  Fortunately, I've found a neat little workaround.
[code]
No need to add a remote.  This will fetch that commit and the smallest possible set of ancestor commits, at which point it can be checked out as detached HEAD (or a branch can be created).  And any complications wi

[2015-12-07 08:10] stevage opened #309 ""Discard all unstaged changes" warning not clear enough"
I just lost some untracked files, by using the `D` "discard all unstaged changes" option. I read the description of the option, and I read the warning:

That warning did not convey to me that Git was about to delete my *untracked* files as well. That is, a couple of files that had been in my working directory for quite a while, and had never been checked in.

Could I suggest:

I find it hard to im

[2015-12-07 08:50] #308 closed

[2015-12-07 08:51] divmain commented on #308
@stevage, give this a try when you get a chance.  Once you've selected a PR, you have the option of checking out as detached HEAD, checking out as a local branch, viewing the PR's diff, or opening in a browser.

[2015-12-07 08:54] divmain commented on #309
Actually, there was quite a bit of discussion back when the prompt was introduced.  So I'm going to leave in that bit about disabling it in your settings file.  However, clarifying that untracked files will be discarded seems a reasonable idea.  Will add!

[2015-12-07 09:01] #309 closed

[2015-12-07 09:02] divmain commented on #309
I've made the change.  Let me know if you feel like this is "good enough", or if you have strong feelings to the contrary.

[2015-12-07 10:23] stevage commented on #309
OIC, it's the same message structure for "little d" and "big D" discard.

I have no remaining strong feelings, other than gratitude for your work on an excellent tool. Thanks. :)

(Aside: I wrote [this epic rant](http://stevebennett.me/2012/02/24/10-things-i-hate-about-git/) four years ago. I've invested quite a lot of effort in trying to use Git, including through various interfaces. Git-Savvy ac

[2015-12-07 11:05] stevage commented on #308
Wow, that's really excellent. The options to checkout as detached HEAD or new branch are great. A  couple of little comments:

- The menu item "Github: Pull request" may be confusing to people who think they can open a pull request here. Maybe "Github: View pull request" (or checkout, or review...)
- Because of the way the "Git: merge" command is set up (merging another branch into current), it's

[2015-12-07 11:09] stevage commented on #308
One quibble: I'm seeing "Created by TerriaJS" for most of the PRs. TerriaJS is the organisation (and also the repo name). Is it possible to get the actual contributor name?

![screenshot 2015-12-07 22 07 11](https://cloud.githubusercontent.com/assets/678344/11625403/e4df2b1c-9d2e-11e5-8b54-845c430387b3.png)

And of course, friendly times ("3 days ago") would be much nicer than raw timestamps.

[2015-12-07 11:37] stevage commented on #308
Oh, you can fix the first bit by changing:

`user=pr["head"]["user"]["login"],`

to

`user=pr["user"]["login"],`

[2015-12-07 12:37] stevage commented on #308
Ok, I opened a PR. I don't do much Python these days, and I don't think I've ever written Python 3. Eep. Feel free to criticise :)

[2015-12-07 20:50] divmain commented on #308
Thanks for catching `user=pr["user"]["login"]`, @stevage!  Your change is much better, and what I intended :)

There is an existing friendly/fuzzy date module (used for blame and log, etc), so I pulled down your changes and utilized that instead.  I made some cosmetic changes to the entries to make them easier to read.  And also added an option to create a local branch that corresponds to the PR s

[2015-12-07 20:57] divmain commented on #309
Glad to hear it!  And thanks for the feedback!

[2015-12-08 00:22] stevage commented on #308
Yeah, thanks - I discovered the fuzzy date module afterwards.

[2015-12-08 00:30] stevage opened #311 "Tools for reviewing pull requests"
Following on from #308, the next thing that would be useful is tools to actually facilitate the review. Similar to how I review my own changes before making a commit, I'd really like to be able to open up a line-by-line diff of every changed file in the PR. I couldn't seem to find a way to achieve anything like that though - you can open up each commit, but generally when I look at a PR I don't ca

[2015-12-08 00:35] stevage commented on #299
Sounds like another possible solution to part of #311 (seeing all the diffs between this branch and master). Personally I think I would prefer tabbing through different diffs, rather than seeing them all end to end in one file.

[2015-12-09 03:41] stevage opened #312 "Better branch deletion workflow"
Currently the options on the branch dashboard are:

`[d] delete                                    [D] delete (force)`

They both give the same warning that you're about to do something destructive.

The user probably doesn't know the distinction between the two, which is that the first one refuses to operate if the branch hasn't been merged into something else yet.

I'd suggest this workflow:
1.

[2015-12-09 17:39] aristidesfl opened #314 "Status view not updated after commit"
After making a commit starting from the status view, the staged list doesn't disappear, even after pressing `r` to refresh. Only after evoking the command palette the view gets updated.
I have set `"commit_on_close": true` in the user preferences, don't know if this is relevant to the problem.

[2015-12-10 01:34] stevage opened #315 "Dashboard keyboard shortcuts"
Only recently discovered that you can Tab through dashboards. There are quite a few (and that may grow), so how about keyboard shortcuts that work on any dashboard to consistently get to the same other one. As a simple idea, just pressing <kbd>1</kbd> etc:

* 1: status
* 2: branches
* 3: graph
* 4: rebase
* 5: tags

(Yes, I'm also voting for rejigging the current order).

[2015-12-10 01:41] stevage opened #316 "Help at top of Graph page"
Are there operations you can perform on the Graph view? How about a short summary of the keyboard shortcuts available at the top? I see that <kbd>,</kbd> and <kbd>.</kbd> navigate commits, but guessing there are other things you can do here - and now way to discover them. (Obvious things to want to do are diff, checkout, reset...)

[2015-12-10 01:44] stevage opened #317 ""[h] open file on remote" should not even try, on untracked files"
For obvious reasons? :)

[2015-12-10 01:56] divmain commented on #315
See #261 for previous discussion.  Most likely of interest to you, take a look at the `tab_order` option in `GitSavvy.sublime-settings`.  And if you want specific key-bindings so you don't have to rotate through, see how in [this comment](https://github.com/divmain/GitSavvy/issues/261#issuecomment-152301061).

The focus was on adding as much flexibility as possible without re-inventing what Sublim

[2015-12-10 01:56] #315 closed

[2015-12-10 09:32] asfaltboy commented on #316
If you open gitsavvy help while in the Graph view it will show contextual information (somewhat), at the bottom of that help page you can see the section on "Graph" which lists the available shortcuts.

There was [some discussion in the past](https://github.com/divmain/GitSavvy/issues/184) on showing more contextual help in some views.

А possible solution would be to somehow add a reminder that c

[2015-12-10 10:11] asfaltboy commented on #299
:+1:  I like the idea of hitting `tab` to continue to next file. Though it may get confusing if you have both staged and unstaged lines in the same files.

[2015-12-10 12:35] stoivo commented on #299
Maybe we should use `s` for switching between file that is available for inline diff? Than when you press `s` you will open a panel where we can fuzzy type to find  the file we want. Bad idea?

I personally don`t like tabbing since I never remember the order of files

[2015-12-11 00:32] stevage commented on #316
Hmm. I did spend a few moments looking to see if there was some help somewhere - didn't occur to me to do Cmd-P "gitsavvy help" though. (And even after reading your tip above, I still didn't twig for a while that the results of "gitsavvy help" are dependent on the current view you're in - very unintuitive IMHO).

One of the things I love about GitSavvy (and why I despise Git) is it gives you easy

[2015-12-11 00:37] divmain commented on #316
I'm open to the idea.  In some of the views (like inline-diff) it is difficult to add extra content.  However, that's not really the case here, if we use regions correctly.  Is there anything beyond what's in the text snippet above that you'd find useful?

[2015-12-11 01:42] stevage commented on #316
Oh, cool. Well, I'm not aware of anything else you can do on that screen - but if there is, then yes. :) Oh, and probably Tab/Shift-Tab.

[2015-12-11 03:07] stevage opened #318 ""Open a pull request" feature"
After pushing a branch, my current workflow is to then open a browser window, navigate to the Github repo, then click the "Compare & pull request" link when it pops up.

It looks like the URL is pretty simple:

`https://github.com/ORGANISATION/REPO/compare/BRANCHNAME?expand=1`

Maybe we should even automatically offer to do this when pushing a branch for the first time:

1. "No upstream branch set

[2015-12-11 08:04] asfaltboy commented on #318
I'm not sure I want to be asked this every time I push a branch to remote, as most of my time is spent outside of github.

I do however consider "open pull request" as a valid feature idea. My current flow is to either navigate via browser, or use [`git pull-request`](https://github.com/github/hub#git-pull-request) to open a PR on github from terminal.

[2015-12-11 08:10] stevage commented on #318
Ok, good to know (and thanks for the link to hub - didn't know that existed!). Maybe a slightly different approach would be to have "Open pull request" start by pushing. (Would you ever *not* to want to push your latest changes before opening the pull request?) Then your flow would look something like

1. commit
2. "github: open pull request"
3. "No upstream defined, where do you want to push to?"

[2015-12-11 09:45] stoivo commented on #318
I think that we should create GitHubSavvy where we can create all kind of views that is related to GitHub. Maybe a `GitHub: pull request`-interface, where we can open diff, write comments, etc ...

Also there are many user that don't use Github. There are many users that like GitLab, BitBucket or just a git server(no GUI).

[2015-12-11 09:49] stevage commented on #318
Well, all the Github commands are already quite well segregated in the
interface and in the code - no reason there couldn't be GitLab, BitBucket
etc features also included.

Also, GitSavvy can tell by looking at the remotes which tools are
applicable - no need to propose a Github pull request for a remote which is
hosted on GitLab?

The problem with separating things out into separate plugins is
d

[2015-12-11 09:55] stoivo commented on #318
We can recommend installing one of these in [messages/install.txt](https://github.com/divmain/GitSavvy/blob/fe2457fce846857bd846a7b76ffe95d50b0b93ed/messages/install.txt). This file is we be opened when someone install GitSavvy

[2015-12-11 10:05] asfaltboy opened #319 "Pushing a single tag does not work"
The tag dashboard has 2 commands `[p] push to remote` and `[P] push all tags to remote`.

I assume the first command is intended to push a specified tag; however invoking it seems to perform `git push origin` and this fails (unless we had the tag checked out).

"Branch interface" has a similar behavior, but I think it uses the branch from the line the cursor is currently on, and "Tag interface" sh

[2015-12-11 20:09] divmain commented on #318
Awhile ago, we were throwing around ideas for high-level GitHub integration - things like managing issues from Sublime, and opening and commenting on PRs - stuff like that.  After exploring the possibilities for awhile, I ultimately realized that I was trying to re-invent GitHub.  And unfortunately, it seemed that the UX would inevitably be worse.

The current strategy is to focus on the local dev

[2015-12-11 20:30] #319 closed

[2015-12-11 20:31] divmain commented on #319
Fixed, thanks for the report!

[2015-12-11 23:43] divmain commented on #314
Can you check in the console to see if any errors are present?  The `commit_on_close` setting is very likely involved somehow.

[2015-12-12 05:56] aristidesfl commented on #314
[code]

[2015-12-12 05:57] aristidesfl commented on #314
Before that I also had a problem where de commit did not succeed:

[code]

[2015-12-12 12:06] stevage commented on #318
Yep, I'm pretty happy with the "launch a Github browser window" approach.

To spell out what about GitSavvy gives me the most value: reducing the friction of interacting with each project's Github repo. In particular:

- doing everything I need to do from within my editor, using the keyboard
- getting rich context about the current situation to increase confidence I'm doing the right thing
- predi

[2015-12-12 12:19] stevage commented on #316
Ok, I now discover (by looking at the source) that there is both a single-branch and all-branch mode, and that the view you get by cycling dashboards is single-branch. So I'd probably suggest including that information in the header, possibly with a keystroke to switch:

[code]

[2015-12-12 18:58] randy3k commented on #318
https://github.com/temochka/sublime-text-2-github-tools has a similar feature. It should be great to implement something similar.

[2015-12-13 13:03] rimmer333 opened #321 "git: 'flow' is not a git command"
I have a strange issue with git flow commands in GitSavvy. I have git-flow installed (on a Mac from Homebrew), and I use it from command line all the time. I have enabled flow commands in GitSavvy, but whenever I call one of those from command drawer in Sublime upon an already flow-enabled repo, it ends up with this in a popping console on the bottom:
[code]
, as if I didn't have git-flow. Calling

[2015-12-13 16:21] divmain commented on #321
Have you installed a new version of `git` with Homebrew?  If so, it is likely that Sublime is using the Git packaged with OS X, whereas git flow is setup for the Git installed by Homebrew.  The easiest way to resolve this is to modify the `git_path` in `GitSavvy.sublime-settings`.  Give this a try, and let me know what happens.

[2015-12-13 18:50] rimmer333 commented on #321
Man, you're quick to react! Unfortunately, that is not the case. I don't have git installed as a Homebrew package, and I always had the system git path set in my settings:

[code]

[2015-12-13 19:59] divmain commented on #321
Only thing I can think of here is that `/usr/local/bin/` is not in your `PATH` for dock apps.  This is separate from your path in the terminal.  OS X has changed the way you set the global path with basically every version that's been released.

I'm on Yosemite, and you can set a global path (for all apps and all users) by running `sudo launchctl config user path <my path setting>` and restarting

[2015-12-14 13:51] stevage commented on #316
Some tentative work here: https://github.com/divmain/GitSavvy/compare/master...stevage:316-graph-ui?expand=1

Suspect that it should be refactored as a UI class.

[2015-12-15 04:10] sentience opened #323 "Eight-character SHAs not properly highlighted in UI views"
Occasionally, a Git SHA is displayed with eight characters instead of seven. For example, in the Rebase view:

![rebase__murmur_ _culture_amp](https://cloud.githubusercontent.com/assets/89772/11801833/bb320928-a33d-11e5-8c0f-af3a66b74be3.png)

I’m not sure if the bug is the length of the SHA or the lack of highlighting for the extra character, but there’s obviously something wrong.

[2015-12-16 00:11] ddevlin commented on #323
Hi @sentience, Git short refs are the shortest unambiguous prefix of the full 40 character SHA1 ref of a commit, with a minimum length of 7. Seeing a longer one here isn't a git bug, it means you have two or more refs starting with `49090f1`. The fact that it isn't syntax highlighted correctly is a GitSavvy bug.

[2015-12-16 19:41] asfaltboy commented on #321
confirmed this is required it seems:

[code]

[2015-12-17 09:20] randy3k opened #326 "git push tags in command palette"
While "git: tags" gives an integrated way to manage tags, the only time I really need it is to push tags.
@divmain, how do you think commands like "git: push all tags" or "git: push selected tag" in the command palette?

[2015-12-18 02:09] stevage opened #328 "Git Log current file > show whole file"
Could `git: log current file` allow `Show whole file`as an option after selecting the commit in question?

[2015-12-18 06:46] divmain commented on #326
`git: push all tags` should be extremely simple to add, but it adds clutter to the more commonly used `git: push ...` commands.  If it were just me, I would stick to the tags dashboard, since I like seeing what tags I'm pushing anyway.  However, others might prefer a different work flow.

Let me know your preference, and let's see if anyone else chimes in in support of this.  In the meantime, if y

[2015-12-18 06:50] divmain commented on #311
Have you used the `[f] diff against active` command in the branch dashboard?  This would show you the diff between the PR branch that you're evaluating and the master branch (or whatever you like).  Or are you looking for something like the inline-diff, where changes are highlighted inline in the files themselves?  If so, that's a very sizable task.  Not impossible, but we'd have to establish some

[2015-12-18 06:52] divmain commented on #328
Can do.

[2015-12-18 06:52] divmain commented on #321
@rimmer333, I'm going to close this one out.  Let me know if tweaking your path doesn't resolve.

[2015-12-18 06:52] #321 closed

[2015-12-18 06:54] divmain commented on #316
Yes, would like this to be a UI subclass.  But this initial work is good.  Would you like to keep at it, or should I put it into my own queue?

[2015-12-18 06:56] divmain commented on #318
Alrighty, this seems like a good way forward.  @randy3k, feel free to open a ticket (or a PR) for the other feature.  I'd prefer the more explicit `github: show history for current file`.

[2015-12-18 06:57] divmain commented on #314
@asfaltboy, do you have time to take a look at this?

[2015-12-18 07:01] #317 closed

[2015-12-18 08:36] asfaltboy commented on #314
I've mentioned this in [a comment to #298](https://github.com/divmain/GitSavvy/pull/298#issuecomment-161556346), i.e the  event listener behavior of a window closed by user seems broken. I'll try to debug in the weekend.

[2015-12-18 08:55] #314 closed

[2015-12-18 08:56] divmain commented on #314
Ended up being relatively straightforward.  @aristidesfl, can you pull down the latest to confirm this is now working?

[2015-12-18 09:01] aristidesfl commented on #314
Seems to be working, thank you :)

[2015-12-18 09:04] aristidesfl commented on #290
So I just cloned to test https://github.com/divmain/GitSavvy/issues/314 and this issue just is still happening.

[2015-12-18 14:55] rimmer333 commented on #321
Yup, Fix Mac Path seems to do it, flow commands are now perfectly fine. Thanks!

[2015-12-18 15:56] randy3k commented on #326
Thanks. `git: push all tags` works well. I also agree that "git: push ...." may not too much since we have the tags dashboard.

I have just submitted a PR on `git: push all tags`, it is something that I definitely need.

[2015-12-18 15:57] randy3k commented on #326
#332 is tracking this now.

[2015-12-18 15:57] #326 closed

[2015-12-18 18:22] divmain commented on #290
Hmm alright.  I'm not sure what else to try.  As far as I can tell this is a bug with Sublime, and I'm not sure what else to use as a workaround.

I will reopen with the `investigate` tag, but it may be that we just have to live with this.

[2015-12-18 18:27] divmain commented on #326
Thanks!

In the future, though, please write something like `Closes #326.` in the description of the PR.  GitHub will then auto-close the issue when the PR is merged (you can also do this in the commit message).  This ensures that, if the PR isn't accepted, we don't lose track of the original issue.  Plus it ties the issue directly to the remedy :)

[2015-12-18 20:28] randy3k commented on #326
Thanks for the fast response.
I should have probably done that. :)

[2015-12-18 20:44] randy3k commented on #318
Now, it is easy to create simple pull requests in Sublime Text in 4 steps.

1. `git: checkout new branch` for the pull request
2. `git: quick stage and commit current file` and type the commit
3. `git: push` and choose the upstream (assume that the remote is set)
4. `github: create pull request` and submit the PR via the browser

PS: There is a related feature that we are still missing: the abilit

[2015-12-19 19:08] txtsd opened #334 "Navigating past the end of git: graph crashes plugin_host"
![Screenshot of error](http://i.imgur.com/AxYCfmU.png)
[code]
Perhaps this is because the graph file has a blank line at the end? I have my ST3 set so all files have an empty line at the end on save.

OS: Archlinux
ST3: 3095
GitSavvy: 2.8.1 from Package Control

[2015-12-20 07:10] stevage commented on #316
​Realistically, I won't get to this again until January, so very happy for
you to take it over before then.

[2015-12-20 07:22] randy3k opened #335 "github: open repo and open file should open in the tracked remote"
Right now, `open repo` and `open file` commands open browser at the `get_integrated_remote_url()`. However, in some cases, the active branch is actually tracking a forked remote and I actually wish to open the repo/file at the tracking remote.

Here is my suggestion, if upstream is not set or the same as the `get_integrated_remote_url`, we should directly open the browser. However,  if the active

[2015-12-22 00:57] stevage commented on #311
Ah, thanks - I never seem to be able to find that feature when I need it. `diff against active` isn't quite my ideal workflow, but it's pretty close to be honest. A couple of tweaks and it would be pretty perfect:

1) Replace some of the diff syntax with something more human friendly, eg:

[code]

to:
[code]

(and something similar like `Line 44:` when there are multiple diffs in one file)

2) Sho

[2016-01-06 01:12] stevage opened #338 "Can't inline diff a file with merge conflict"
GitSavvy currently doesn't let you do an inline diff on a file that "has a merge conflict". I'm not sure what the technical reason is, but I ran into a situation in which it would have been useful.

Basically, I added a feature inside a single file, then (before committing) foolishly merged in master, and resolved the merge conflict (that is, edited the file, but didn't do any git actions). This l

[2016-01-06 01:45] blaggacao commented on #205
It rears it's head again, I get a cygwin path...

[code]

That's very weird, because my Paths are more or less clean, and Sublime is not started from cygwin or anything, any ideas where to look for?
![image](https://cloud.githubusercontent.com/assets/7548295/12132767/1b74dcba-b3ed-11e5-9814-87bea535c340.png)

![image](https://cloud.githubusercontent.com/assets/7548295/12132774/2abc8a24-b3ed-11e5-8

[2016-01-06 01:53] blaggacao commented on #205
Changing user settings to:
[code]
Yields an OK:
[code]
However, I can't explain this...

[2016-01-07 05:28] divmain commented on #205
Hi @blaggacao, if I'm understanding you correctly, this is unsurprising.  If you use the Cygwin git command, it is designed to function in the emulated Unix-like layer.  Because of that, it is going to report paths as they function within Cygwin (`/cygdrive/b/odoo/...`).  If you use the Windows Git binary, it is designed to function using Windows paths, which is why it works as expected.

[2016-01-09 16:49] eppfel opened #339 "Odd listings in status view, when git interprets splitting a file as copying"
The status view adds an incomplete filename:
<img width="839" alt="bildschirmfoto 2016-01-09 um 17 19 26" src="https://cloud.githubusercontent.com/assets/1899308/12217106/2166ce24-b6f6-11e5-88e7-b0533b214f9e.png">

Git in the shell looks like this:
[code]

What I did in git: I tried to merge the [android-colors branch](https://github.com/dharma-guardian/Signal-Desktop/tree/android-colors) into the

[2016-01-10 06:32] blaggacao commented on #205
@divmain Thanks, Dale! The bit I'm wondering about is, that I was not knowingly using the cygwin git (I just left the git path undefined), and sublime is not being called from cygwin environment. Furthermore the cygwin git is not in the windows paths.

[2016-01-10 08:29] divmain opened #340 "`GitSavvy: check config`"
This command will check things like:
- which Git binary are you using?
- do you have git-flow installed?
- which version of Git are you using?

And report any problems that may occur with the configuration, like:
- `git push --force` behavior
- Cygwin git issues

[2016-01-10 08:31] divmain commented on #205
Cygwin `git` not being in the Windows path is very peculiar.  I think I'll roll this into #340.  Ideally the diagnostics command would reveal some of the underlying config that leads to the situation you were in prior to changing your `git_path` value.

[2016-01-10 08:34] divmain commented on #339
Interesting.  To help me reproduce, could you record the underlying Git interactions [as described here](https://github.com/divmain/GitSavvy/blob/10b9de3c0e40692d559aabe459937959c6ab93dc/docs/debug.md#gitsavvy-start-logging)?  It is likely a parsing bug of some kind.

[2016-01-10 16:31] dharma-guardian commented on #339
Created a detached HEAD and repeated all procedures.
[code]

[2016-01-11 08:00] asfaltboy commented on #340
I think it can be a good idea to run the command on first install and show a warning alert to user if version/s are old/unsupported.

[2016-01-11 10:09] stoivo commented on #340
Yeah, this would be nice to load commit template here too. So we don't need to read from disk si many times.

https://git-scm.com/book/en/v2/Customizing-Git-Git-Configuration
look under: commit.template

[2016-01-13 11:37] Drllap opened #341 "When amending previous commit, only use staged files"
When using [m] in STATUS window, all of the unstaged files are added to staged before amending. I think you should be able to add files to staged using [s] as you would in a normal commit and then those files would be used when amending

[2016-01-13 11:55] alextegelid commented on #300
Just want to nudge this since I'm experiencing it again. I'm at the latest commit in master as usual.

[2016-01-13 18:50] divmain commented on #300
Sorry to hear that.  Re-opening, and I'll take a look!

[2016-01-13 23:14] divmain commented on #341
Could you provide additional information about the conditions under which this occurred?  I amend pretty regularly, and have never run into the issue you describe.  Amending should only add whatever is staged to the previous commit.

[2016-01-16 19:05] JamesJosephFinn opened #343 "Package Control"
Weird. "gitsavvy" is not reachable via package control. I do:
[code]
and begin typing "gitsavvy", but fuzzy searching returns nothing.

[2016-01-16 20:01] JamesJosephFinn commented on #343
Sorry, I installed it last week, and forgot all about it. doh! it's been a long week.

[2016-01-16 20:01] #343 closed

[2016-01-17 07:58] divmain commented on #343
No problem!  Let me know if anything comes up.

[2016-01-17 22:56] Drllap commented on #341
Sorry for the late response.
So I tested this a bit more. The thing is I've got "show_commit_diff": true in my GitSavvy settings file.
When I amend, either from STATUS VIEW or via "git: amend previous commit" in the command palette, the diff for all staged and unstaged files (not untracked though) appears below the commit message region. This is what was confusing me, I thought if I proceeded with

[2016-01-20 09:37] cvax opened #346 "git push resulting in "fatal: could not read Username"..."
When I try to do a git push I get this error
```fatal: could not read Username for 'https://github.com': Invalid argument```

Here is the full message:
[code]

[2016-01-20 20:16] cvax commented on #346
Figured it out. Had to save a credential to git for gitsavvy to work.

[2016-01-20 20:16] #346 closed

[2016-01-21 04:52] wldcordeiro opened #347 "Manage remotes"
It would be nice to be able to add, remove and manage remotes from the branch view.

[2016-01-21 18:03] stoivo commented on #346
Glad you made it and come back if there are anything we can help with.

[2016-01-22 09:55] divmain commented on #300
@alextegelid is there a public repo I could pull down to test this?  I've been playing around with it and cannot reproduce.

[2016-01-22 23:56] #323 closed

[2016-01-23 07:50] alextegelid commented on #300
I'll look into that. Unfortunately the one in question is work for a client
of mine.

fre 22 jan. 2016 kl. 10:55 skrev Dale Bustad <notifications@github.com>:

--
Alexander Tegelid
070-508 49 90

[2016-01-26 09:43] alextegelid commented on #300
No matter how hard I try I can't reproduce this either... I must've done something really stupid when this reappeared. Sorry for cluttering the issue tracker, feel free to close this again 😅

[2016-01-26 09:46] alextegelid commented on #341
:+1: I've noticed this as well, but haven't had the time to report it (and then forgot about it)

[2016-01-26 09:59] divmain commented on #300
No worries!  Text encoding is a messy business, and hard to handle all possible cases.  If you do notice something reproducible, please reopen, as it is probably effecting others users too!

[2016-01-26 09:59] #300 closed

[2016-01-27 22:15] #139 closed

[2016-01-28 09:10] stoivo commented on #300
Try  https://github.com/stoivo/sublime_bug_demo/.
Clone, edit 'encoding'(yes, the file is called encoding) and try to open inline diff.

[2016-01-28 13:23] alextegelid commented on #300
For me that works according to the solution @divmain introduced. Upon clicking `Cancel` a panel pops up with this message `'utf-8' codec can't decode byte 0xe5 in position 112: invalid continuation byte`.

[2016-02-10 03:29] tedbundyjr opened #348 "problem when committing with annex hook"
homebrew git and git-annex on osx.

here is the error log.

[code]

[2016-02-11 14:51] webbydoug opened #350 "GitSavvy: help - SyntaxError: invalid syntax"
"If you're a new user and you find yourself asking, _"Can GitSavvy do X?"_, there are two places to look.  First, open your command palette and type `GitSavvy: help`.  This will take you to the offline wiki-style documentation."

control + ` to open console.

When I followed instructions, I got this error:

  File "<string>", line 1
    GitSavvy: help
            ^
SyntaxError: invalid syntax

[2016-02-11 18:18] stoivo commented on #350
Could you provide additional information about the version you are running?
And your steps to reproduce this?

[2016-02-11 18:29] stoivo commented on #347
Would you like to have a own small interface or have a toggle option in branch interface? like toggle remotes.

[2016-02-11 18:36] wldcordeiro commented on #347
I think toggling would be useful, especially if you could toggle some remotes to show and others not (use case: in my team we add each other's forks as remotes and one team mate doesn't prune his branches so the branch view for me is a list of 300+ branches)

[2016-02-11 19:25] webbydoug commented on #350
http://recordit.co/gGco7tmjOc

[2016-02-11 19:32] webbydoug commented on #350
I see where the issue was. In your opening instructions, you mention opeing console using control + ` keyboard shortcut; then typing GitSavvy: Help.

On https://github.com/divmain/GitSavvy you state, "Feature documentation can be found here. It can also be accessed from within Sublime by opening the command palette and typing GitSavvy: help."

So, this command/instruction was for command palette a

[2016-02-11 20:43] divmain commented on #350
Hi @webbydoug - I think you may have misread?  [Here](https://github.com/divmain/GitSavvy/blob/master/messages/install.txt#L5) is the message you see when you first install GitSavvy.  Both here and in the README, it says to open the command palette and not the console.  I just did a quick search of the codebase to make sure there wasn't a typo somewhere, but I didn't find anything.  If you do find

[2016-02-11 20:43] #350 closed

[2016-02-11 22:30] webbydoug commented on #350
You are so right @divmain And I am soooo sorry for wasting your time.

Thank you for quality utility. I found this via Ryan Irelan's Lesson on Sublime & Git: https://mijingo.com/lessons/using-git-in-sublime-text/

Have a good one!

[2016-02-12 01:27] divmain commented on #350
No problem @webbydoug, glad you reached out!

[2016-02-12 07:12] stoivo commented on #350
:sparkles:

[2016-02-12 23:42] stoivo commented on #347
ok, I think we can make a option to toggle all remotes. I may look at this tomorrow. No promises.

[2016-02-13 01:49] divmain commented on #347
I've been thinking about it, and I don't want to add remote config to the branch dashboard.  There are a couple of reasons for that:

1) it will add significant clutter to the branch dashboard, in or to accommodate tasks that do not happen often
2) the way remotes are populated in the branch dashboard is distinct from what remotes are defined (for example, if you add a remote but haven't fetched y

[2016-02-13 02:06] wldcordeiro commented on #347
@divmain For managing remotes? Yes. I'd like to also get the toggle of displaying remotes to be on a remote by remote basis on the Branches dashboard.

[2016-02-13 04:54] divmain commented on #347
We've been talking about it this in the Gitter channel.  I don't want to add per-remote visibility toggling to the Branches dashboard.  The UX would be subpar (given the constraints) and the implementation would add significant complexity to how the branches dashboard's render works now.

However, I'm trying to think through other options.  One might be to "forget" all the branches a particular re

[2016-02-13 14:14] mreq opened #352 "Detect semvar tags and sort accordingly"
I'll try to make a PR soon.

![1455372821](https://cloud.githubusercontent.com/assets/1286942/13028084/785b4186-d264-11e5-9c4e-1303cacd2fc5.png)

[2016-02-14 00:33] stoivo commented on #348
Sublime Version?
Git version?
Annex version if it exist?

[2016-02-15 22:35] stoivo commented on #234
@pradyunsg, any progress? Or should we close the issue?

[2016-02-15 22:47] stoivo commented on #89
I have to option
1. A new command that will be called `git: commit with prefilled of previous message`
2. A new setting called 'prefill_commit_with_previus_commit_message'

I do refer the first.

Most of the time, I find myself just type those to words that is the same. And if I really badly don't want to type, I will open `Git log`, find my commit, copy the text I want. In is sense, would we like

[2016-02-16 04:56] pradyunsg commented on #234
Nope. I couldn't get the time.

If someone else takes this on, I won't mind. But I'm don't thing I'm going to get around doing this anytime before May. Just a lot of studies have been piled up. :stuck_out_tongue:

[2016-02-16 07:03] tedbundyjr commented on #348
Sublime: v3 build 3103
Git: v2.6.1
Annex:v 6.20160126

weird, now it is working. sorry for your time.

[2016-02-16 07:03] #348 closed

[2016-02-16 07:11] stoivo commented on #348
Glad to hear it,. Than this is not an issue any longer.

[2016-02-16 10:02] asfaltboy commented on #266
The attached code prompts for selection of tool and then attempts to simplify the tool launch by using `git`'s `mergetool.sh`; however, that helper can potentially prompt the user, even [when given an explicit tool](https://github.com/git/git/blob/494398473714dcbedb38b1ac79b531c7384b3bc4/git-mergetool.sh#L313), namely for:

* [resolve_symlink_merge](https://github.com/git/git/blob/494398473714dcbe

[2016-02-16 10:47] stoivo commented on #334
Hmm, I can not reproduce it.
Can you send me the steps you use to reproduce this? or make a screen recording?

[2016-02-16 10:52] asfaltboy commented on #266
The code above calls `mergetool` optimistically, i.e it ignores the other scenarios in which that command prompts the user for action (`resolve_symlink_merge`, `resolve_deleted_merge`, `resolve_submodule_merge` and `prompt_after_failed_merge`).

However, determining a `merge_cmd` for (non user-configured) tools [may prove to be difficult to mimic](https://github.com/git/git/blob/494398473714dcbedb

[2016-02-17 17:20] jipumarino opened #355 "Goto Symbol in Project matches with DIFF windows"
When using Goto Symbol in Project, besides matching with symbols in the actual project files, it also matches symbols with all open DIFF windows. Since there can be multiple DIFF windows for a single file (which might be a separate issue on its own), it often happens that, after selecting the symbol in Goto Symbol in Project, one has to select the actual file among a long list of DIFFs.

[2016-02-17 23:09] divmain commented on #355
Interesting - I haven't run into that before.  Unfortunately, setting `index_files` on the view doesn't change the indexing behavior for that view (which drives Goto Symbol), and there is no other mechanism exposed by the Sublime API to disable that feature for a given view.

Unfortunately, there is no way I can see to change this behavior.

[2016-02-17 23:09] #355 closed

[2016-02-18 18:03] randy3k opened #356 "Status bar should show status of the project directory when no view is opened."
Right now, if no file is opened, the status bar shows nothing. It only pops up if a file is opened. It would be nice to show info about the first project directory if no file is opened.

I did a quick look of the code, it seems that the current code depends heavily on `self.view`, which may make this feature hard to be implemented.

[2016-02-18 18:26] jipumarino commented on #355
Thank you for the reply @divmain. Besides this particular issue (which can't be solved without more help from the Sublime API), is the multiple DIFF windows for the same file an actual issue? Should I look into it?

[2016-02-18 18:41] divmain commented on #355
That one is tracked in #213.  Since I don't have as much time to work on it as I did, it hasn't been a high priority.  But since there are multiple users now who have made the same request, that'll push it closer to the top of my queue.

[2016-02-19 16:41] burbanczyk commented on #40
+1 for BitBucket, any chance for that anytime soon?

[2016-02-20 03:40] whophil commented on #295
Is this supposed to be working? I'm on GitSavvy 2.9.1 and Ubuntu 14.04. The normal diff works fine, but the `--word-diff` version appears in all yellow.

![screenshot from 2016-02-19 19 31 14](https://cloud.githubusercontent.com/assets/2186528/13194281/803c251a-d740-11e5-948d-2167cf49d67d.png)
![screenshot from 2016-02-19 19 31 19](https://cloud.githubusercontent.com/assets/2186528/13194283/883c3d

[2016-02-20 10:06] stoivo commented on #295
I can confirm the bug. So it is a bug :smile: ![imgage](http://puu.sh/neHKI/1c1ff62fcf.png)

The problem is that the line beginnings on `!`
Thanks to reporting this.

This will have to be solved in #349 too.

[2016-02-20 11:55] stoivo commented on #295
BTW, This is not an issue in GitSavvys code or syntax files. This is an issue in for [sublimehq/Packages](https://github.com/sublimehq/Packages). I will take it from here. I addressed it to this: [Diff/Diff.sublime-syntax#L58-L61](https://github.com/sublimehq/Packages/blob/master/Diff/Diff.sublime-syntax#L58-L61).

[2016-02-20 21:41] stoivo commented on #347
We should be able to add both with (username and password) and ssh keys
This is the two different ways we can add them. Do any of you who about more?
[code]

[2016-02-21 01:19] whophil commented on #295
Thanks for looking into this @stoivo.

Is it possible to remove a rule from the default `Diff.sublime-syntax file` using a patch? If not, it may be worth considering to have a separate `.sublime-syntax` file for GitSavvy Diff, instead of patching the default `Diff.sublime-syntax` as is done now. The original syntax rule for matching exclamation-prefixed lines only applies to context-formatted diff

[2016-02-25 00:09] divmain commented on #262
Closed by 569894082e337d5bebcc36aa1fc327b2e3f5ee05.

[2016-02-25 00:10] #262 closed

[2016-02-25 00:34] #347 closed

[2016-02-25 06:55] #208 closed

[2016-02-25 07:16] #296 closed

[2016-02-25 07:17] divmain commented on #296
@HughMacdonald sorry for the wait on this - both this and #208 should be good to go.  Give it a try and let me know if you run into any issues.

[2016-02-25 07:22] divmain commented on #284
Converted screenshots to PNG:

![00-forgot-to-capitalize](https://cloud.githubusercontent.com/assets/5016978/13312671/5ed2ad70-db4d-11e5-9a0c-c7363a57da12.png)
![01-edit-to-capitalize](https://cloud.githubusercontent.com/assets/5016978/13312672/6028b7d2-db4d-11e5-9da3-2cf4ce79babd.png)
![02-ok -good-changes](https://cloud.githubusercontent.com/assets/5016978/13312674/62787fe0-db4d-11e5-993a-da22ac

[2016-02-25 07:27] divmain commented on #284
This must have been resolved as part of an unlinked ticket.  I remember fixing this awhile back.  Closing, but please re-open if it continues to be a problem.

[2016-02-25 07:27] #284 closed

[2016-02-25 07:30] divmain commented on #89
@hanoii, assuming you'd still be interested in this - can you provide a link to user documentation or screenshots of other tools that do this?  This seems like strange UX, so I'd like to see how others have done it.  Thanks!

[2016-02-25 07:41] #301 closed

[2016-02-25 07:44] divmain commented on #301
@HughMacdonald, I've been polishing the rebase dashboard a bit.

- `squash into next` has become `squash into previous`
- commit meta-data uses the destination commit rather than the source commit
- commit message ordering is consistent with `git rebase -i` behavior
- cursor moves to the new, squashed commit

Let me know if you run into any problems.

[2016-02-25 07:46] divmain commented on #11
@stoivo, this probably went off your radar.  You still interested in adding this functionality?

[2016-02-25 08:47] #42 closed

[2016-02-25 10:53] stoivo commented on #11
oh, I will do it as next task.

[2016-02-25 21:32] divmain commented on #11
:+1:

[2016-02-25 22:14] vongoh opened #360 "Trying to `git status`, getting `git.exe stash list` error"
Ive been using GitSavvy with no problems for a few months now.  I just did a clean install of all of my ST3 plugins (to address a different issue).   When I reinstalled  GitSavvy - I get the following whenever I try and run `git status`:

1)  Windows error dialogue `sh.exe has stopped working.  A problem cause the program to stop working correctly` etc.  I click `Close program` button ..

2) The '

[2016-02-25 22:39] divmain commented on #360
Weird!  To start, double check that both GitSavvy and your command line are using the same `git` binary.  After a cursory search, it seems like some issues can arise if you 1) have Cygwin installed with Git, 2) msysgit installed, and 3) both are simultaneously listed in the `PATH`.

If you find that you're using different binaries, remove one, and set the `git_path` in `GitSavvy.sublime-settings`

[2016-02-25 23:37] #341 closed

[2016-02-25 23:37] divmain commented on #341
This should be good to go.

[2016-02-26 01:28] divmain commented on #270
Don't have what I need to reproduce this, so closing.  Feel free to re-open if you are still experiencing issues.  Thanks!

[2016-02-26 01:28] #270 closed

[2016-02-26 01:30] divmain commented on #257
It seems like pointing people to the existing key bindings has been good enough.  Keeping documentation up-to-date seems a difficult task, unless we utilized the Python parser to examine the GitSavvy code base and generate documentation from it.  However, that seems like a big task with minimal benefit, so closing this ticket as `won't fix`.

[2016-02-26 01:30] #257 closed

[2016-02-26 01:34] divmain commented on #279
@asfaltboy - any more thoughts about this?  I'm fine adding something similar to the commit view (there is already a UI primitive to use for this, which is used for amending commits).  But since I'm not a `flow` user, I'm not sure of the best way forward with this.  @ramiel, if you're still using GitSavvy and this is an important issue for you, I'd welcome a PR from you also.

[2016-02-26 01:36] divmain commented on #278
Haven't seen any other feedback, so I think I'm going to close this.  I don't really have a preference - one of the alternatives may be better, actually.  However, the project is old enough at this point that making changes may interrupt users' dev flow.

[2016-02-26 01:36] #278 closed

[2016-02-26 01:39] divmain commented on #318
@stevage, is the `github: create pull request` feature that @randy3k introduced good enough for your purposes?  Or would you like a little more polish somewhere before this ticket is closed out?

[2016-02-26 01:41] divmain commented on #311
The first change is unlikely to happen.  However, I think we could add a shortcut key to jump to the inline-diff (or to the file itself).

[2016-02-26 01:44] divmain commented on #334
I've been unable to reproduce this also.  Please re-open the issue if you can provide us with repro steps.  I don't mind throwing together an ArchLinux VM either, if that's necessary.

[2016-02-26 01:46] vongoh commented on #360
@divmain - Well, as I am not so git 'savvy'  :) about the differences between Cygwin and msysgit, I am not positive but it looks like I only have one of them on my machine - msysgit.

The only Git install I can find is at 'C:/Program Files (x86)/Git/cmd'.  The release notes in that directory state that I am using Git-1.9.0-preview20140217.

I tried setting '"git_path": "C:/Program Files (x86)/Git/

[2016-02-26 01:51] divmain commented on #360
Shoot - this may be difficult for me to troubleshoot remotely...  Is this the same Git that you had installed previously, or did you reinstall other things besides your Sublime plugins?  I can't think of a reason why reinstalling Sublime or plugins only would result in such significant breakage.

[2016-02-26 01:52] divmain commented on #360
This appears to be related:
https://groups.google.com/forum/#!topic/msysgit/EafhNNATV_4

[2016-02-26 02:48] stevage commented on #318
Oh! Sorry I didn't see this earlier. Just tested now and it works well.

I guess the only other useful "polish" would be a choice of where to PR to, but you can make those choices through the Github UI, so it's really fine as is. Thanks!

[2016-02-26 02:48] #318 closed

[2016-02-26 07:55] asfaltboy commented on #279
This raises a question on where are long/short prompts appropriate. In other words, I don't see this as a "flow" problem only; this applies to any `git` command that prompts for input in an editor, (such as creating a tag would).

For example, in the `Create Tag` command, we already prompt for tag commit message in the subject line, so technically we could easily do that here too. However, people

[2016-02-26 10:09] divmain opened #361 "Commit Templates"
- [ ] add `GitSavvy.sublime-settings` option `commit_template` that accepts a string
- [ ] when set, this string will be used to pre-populate the commit window on new commits
- [ ] user should be able to define tab-stops (similar to how snippets work), so that they can tab between the "fields" that need to be filled out

[2016-02-27 06:07] txtsd commented on #334
@divmain @stoivo
1. Open `git: graph` (current or all branches, doesn't matter)
2. Use `,` and `.` to navigate
3. Go past the last entry to the blank line
4. plugin_host will crash

[2016-02-27 07:53] #334 closed

[2016-02-27 07:54] divmain commented on #334
Hey @txtsd, I misunderstood.  Thanks for the repro steps, a fix is now in master.

[2016-02-27 08:55] txtsd commented on #334
Thanks for the speedy fix :)

[2016-02-27 09:49] stoivo commented on #361
Maybe we should use git's commit template? loot at setting commit.template

[2016-02-29 04:45] vongoh commented on #360
If by fast ring for updates you mean 'insider preview' (thats what they call it?) builds - no I am not on that.  Apparently I'm in for their standard 'opt out' upgrades where they do it behind the scenes without notifying you.

I am running version 1511 (OS Build 10586.71).

The most promising thing from the links you posted was this:
https://twitter.com/onovotny/status/692538905539780609

So I up

[2016-03-01 09:03] divmain commented on #360
Removing the cache won't hurt anything, but I don't think it'll help either.

This is definitely an issue with your system.  It seems like this error or similar problems have popped up at various times, and have been attributed to:

- graphics driver incompatibilities
- bad `msys-1.0.dll`
- recent windows build weirdness

The only things left I can recommend you try:
- Remove Git completely, and r

[2016-03-01 22:44] vongoh commented on #360
"Remove Git completely, and remove any traces of msys or Cygwin left on the system. Then re-install, and if you've been using the 32-bit build, maybe try the 64-bit build"

This did the trick,  I completely removed Git for Windows from my machine,  installed the latest 64bit copy 2.7.2.windows.1,  the commands that were failing in both the command prompt and GitSavvy now seem to be working fine.

[2016-03-01 23:10] divmain commented on #360
That's great to hear!

[2016-03-01 23:10] #360 closed

[2016-03-02 08:32] divmain commented on #40
@burbanczyk - I'm taking a fresh look at GitLab integration now.  What features would make a difference for you with BitBucket integration?

[2016-03-02 17:37] divmain commented on #40
Ah sorry, meant @lumpysimon.

[2016-03-02 18:56] hanoii commented on #89
You know what, I just checked two of the tools I kind of remember seeing this and couldn't find it :).

And to be honest, I lately using a different approach to commit messages so it's not a current need right now for me, but I do see some benefits.

I was thinking something more in the line of a shortcut, not sure if that's possible, like when hit on the commit window you could pull one of the la

[2016-03-02 21:05] stoivo commented on #89
Yes we can have specific short-cuts for each view and do.
Like when you press `SUPER + s` to sign a commit? Add something like  `SUPER + l` to pull the last commit?

Be already have a this text in the commit view
[code]

To make this in the UI we should it the same. Also I don't like to add another configuration. There is already many

[2016-03-02 22:08] divmain commented on #89
This is an interesting problem, and relates to other issues I've been considering lately.  Basically, people have varying preferences for what they'd like to see in the commit view.  Off the top of my head:

- `git status` output
- `git commit --dryrun` output
- `git diff --cached` output
- something like `git log -n 5 --format=format:"%h %s"` (this ticket)

Since everybody wants something differe

[2016-03-02 22:40] divmain commented on #50
Related to #89.

[2016-03-03 08:56] divmain opened #364 "GitLab support"
Work will occur in `gitlab-support` branch and can be tracked in #363 until it is merged.  The target feature-set for landing GitLab support in GitSavvy is as follows:

- [ ] support private GitLab servers
- [ ] issue number completion (with summary text in drop-down) in commit view
- [ ] collaborator completion (with names drop-down) in commit view
- [ ] `gitlab: open file on remote` with current

[2016-03-03 08:57] divmain commented on #40
GitLab tasks split off into #364.

[2016-03-03 12:11] stoivo commented on #295
The issue is fix but I will wait with closing this until it get merged into master and released.

[2016-03-03 20:05] divmain commented on #295
@stoivo, the issue will be automatically closed when the commit is merged into master, because you added `Fixes #295` :)

[2016-03-03 21:36] stoivo commented on #295
I forgot that. And you are totally correct.

[2016-03-04 03:44] hanoii commented on #89
Well, GitSavvy is for TechSavvy guys so I really wouldn't cut down on configurations only because they are complex.

I like your idea of having as much flexibility as possible. Cycling through the different configured settings is also great although I might do that as a second enhancement as I see this used only in very specific use cases in which cycling might not add much use.

The log though, w

[2016-03-05 11:18] stoivo commented on #89
We definitely need to have syntax highlighting. Since we need this I think is it nearly impossible to have it all displayed at once.

Lets take the diff. I think we want to have the same commands as we have for the normal diff interface, like jump to file, maybe toggle which files is displayed. So here we want to run this command.
[code]
This will solve issues with syntax and shortcuts.

Than I wo

[2016-03-05 20:27] #328 closed

[2016-03-08 02:20] allen-zeng opened #366 "Unicode support when trying to merge with kdiff3?"
Sometimes when I try to launch kdiff3 from the STATUS dashboard (typing <kbd>M</kbd> ), I get an error in the console that says

The error is straight forward enough to work out, but it's really annoying, and there's no way to get GitSavvy to bring up the merge tool for this file.

[2016-03-08 06:06] divmain commented on #366
Hey @allen-zeng, thanks for filing an issue.  It may be that we can work around this - would you please:

- Open the command palette (either `Cmd-Shift-P` or `Ctrl-Shift-P`) and enter `GitSavvy: enable logging`
- Reproduce the error that you've described above.
- Open the command palette again and enter `GitSavvy: disable logging`.
- Open the command palette a final time and enter `GitSavvy: view

[2016-03-08 06:46] allen-zeng commented on #366
Sorry I should have mentioned - the file does contain a character \u2022, it's causing the crash.

I've looked through the logs and everything seems correct. I'm reluctant to post the actual log messages that contain all the source code though :)

[2016-03-08 17:19] stoivo commented on #366
What type of encoding is the file saved with?
I think it shows it by default in right bottom corner on the status bar. If not you can change this by setting `show_encoding_on_status_bar` to true in user preferebces.

[2016-03-08 19:11] allen-zeng commented on #366
The file is encoded in UTF-8.

[2016-03-08 19:13] allen-zeng commented on #366
The unicode character is a bullet, used in comments:
[code]

[2016-03-08 19:21] divmain commented on #366
Oh, strange.  That's definitely something we should be able to fix.

[2016-03-08 21:47] #366 closed

[2016-03-08 21:47] divmain commented on #366
@allen-zeng, I just pushed a change that should resolve this issue.  Could you pull down latest master and let me know if this is resolved for you?

[2016-03-09 09:46] allen-zeng commented on #366
Works perfectly! Thanks for fixing it so quickly too!

[2016-03-09 20:16] divmain commented on #366
Glad to hear it!

[2016-03-12 11:31] #356 closed

[2016-03-12 11:34] divmain commented on #352
If you get a chance to push up a PR, I'd be glad to merge it in!  Depending on my availability over the next couple of weeks, I may get to this before you :)

[2016-03-14 11:40] benmosher opened #369 "rebase: select remote tracking branch as default"
I often fetch + rebase against `origin/master` + push.

Assuming this is a common workflow, I thought it would be useful to auto-select the tracking remote branch in the `rebase on top of...` => `Rebase on top of branch` list.

Possible additional option, if this is _very_ common: add as a third option next to `Rebase on top of branch` and `Rebase on top of ref`: `Rebase on top of remote-tracking

[2016-03-14 18:50] sindrig opened #370 "Issue autocomplete does not work"
All of a sudden, autocomplete on issues in the commit window does not work. When I type in "#" and press TAB, nothing happens.

This is printed in the dev console:

[code]

[2016-03-14 22:22] stoivo commented on #370
GitSavvy version?
OS?
Sublime version?

[2016-03-14 22:31] sindrig commented on #370
GitSavvy version 2.9.1
Manjaro 15.12
Sublime build 3103

[2016-03-14 22:47] sindrig commented on #370
['/home/sindri/.config/sublime-text-3/Packages/Python PEP8 Autoformat/libs/py33', '/home/sindri/.config/sublime-text-3/Packages/Python PEP8 Autoformat/libs', '/opt/sublime_text_3', '/opt/sublime_text_3/python3.3.zip', '/home/sindri/.config/sublime-text-3/Packages', '/home/sindri/.config/sublime-text-3/Packages/bz2/st3_linux_x64', '/home/sindri/.config/sublime-text-3/Packages/pyyaml/st3', '/home/si

[2016-03-14 23:35] sindrig commented on #370
This is probably related to a recent update of OpenSSL on Arch (https://projects.archlinux.org/svntogit/packages.git/commit/trunk?h=packages/openssl&id=4b82ed4285c7cb76caf6d75a015c5a7542c625d1). It's up to you if you want this issue to remain open as it has little to do with GitSavvy, but either way I'll be back if I find a way to fix this.

[2016-03-15 04:50] stevage opened #371 "Combine "git checkout branch" and "git checkout remote branch as local""
I find this split a little bit clumsy and counterintuitive. Why not just list all remote branches below local ones:

[code]

In particular this would remove the confusing error that happens when you try to "checkout remote branch as local" a branch that you have previously checked out.

[2016-03-15 08:39] divmain commented on #370
Yeah, I haven't done much work with the Sublime-bundled Python on Linux.  I did come across [this](https://github.com/codexns/sublime-ssl-linux) that may provide some help.  Would be glad if you could post anything you come up back here for other Arch Linux users.

[2016-03-15 08:40] #370 closed

[2016-03-15 08:42] divmain commented on #371
Agreed, these don't need to be separate, especially since the second command doesn't prompt for a local branch name.  We'll be doing a 3.0 release which includes breaking changes, so I'll try to include this change with the rest of it.

[2016-03-18 19:06] MichaelOhlrogge opened #373 "Git Diff against Specific Commit"
Maybe I am just missing something obvious, but is there a way to view the differences against a specific commit, rather than just the most recent one?

[2016-03-18 22:00] divmain commented on #373
Oddly enough, that hasn't come up before.  It should be simple enough to add, however.  How would you prefer it work?  We could introduce a new command `git: diff...` that takes the user through a series of prompts, like - diff against working directory or index - diff against ancestor (git-log like prompt appears) - etc.

[2016-03-18 22:16] divmain commented on #370
@sindrig, ST3 build 3109 may help with this.  From the release notes: `API: Updated to Python 3.3.6, and now includes the _ssl module on Linux, plus sqlite3 and bz2 on all platforms.`

[2016-03-18 22:27] aireties commented on #373
Great! I think what would be most useful would be to get a list of commits by their dates and commit messages and then be able to either scroll down through that list or filter it by typing in characters which match to commit messages.  Right now I use GitSavvy for basically all of my sublime git needs, but I need to go to the GitGutter package to get this comparison ability (which is enabled ther

[2016-03-18 22:32] divmain commented on #373
Oh, you know what.  This is already there, I just don't find myself using it often.

- `git: log` (or variant)
- select the commit you care about
- `Compare commit against index` or `Compare commit against working directory`

[2016-03-18 22:44] aireties commented on #373
Hmmm, maybe I'm just not doing this right, I can get that feature to work, but it just seems to give the log comparisons.  If I then call the git diff operation, it still seems to be comparing against the most recent commit.  I'm relatively new though to git and GitSavvy, so it's possible I'm just not using things correctly.

[2016-03-18 23:20] sindrig commented on #370
ST3 build 3109 fixed this. Thanks @divmain

[2016-03-19 01:16] divmain commented on #373
Ah, so are you talking about `git: diff current file inline`, where the changes are file is displayed, added lines are green, removed are red, etc?

That functionality does not currently exist - and is unfortunately very difficult to implement.  We've been talking about doing an inline-diff rewrite that would provide a bit more complexity, but it hasn't been a top priority.  That's partially track

[2016-03-19 01:16] divmain commented on #370
Great to hear!

[2016-03-19 14:19] aireties commented on #373
Yeah, basically it would be the equivalent of

`git diff <commit> <commit> `

from the command line.  But, if it would be prohibitive to implement, I totally understand.  Thanks for the great package, it's still very useful!

[2016-03-21 15:11] asfaltboy commented on #364
Just wanted to mention that `github: open file on remote` already works _for gitlab_! Although jump to line works with hash `#L70-70` and NOT with `#L70-L70` as in github.
I, personally, would love to see these implemented: `gitlab: protect branch on remote (link)` and `gitlab: unprotect branch on remote`

[2016-03-23 11:20] fracarma opened #376 "New Feature: porting to Atom"
It would be great to port this Package to Atom editor: for me, the "git status" pages are fundamental in my work and I miss it a lot on Atom.
Is a porting already studied?

[2016-03-28 23:16] divmain commented on #376
Hey @fracarma - I've had a handful of discussions about this, but I don't have great news for you.

This would be less of a port and more of a completely new project.  Atom uses 1) JavaScript for plug-ins, and 2) a very different plug-in architecture.  I looked at creating a JavaScript-to-Python bridge and Sublime/Atom plugin compatibility layer, and it just looked like too much work.

On top of t

[2016-03-28 23:16] #376 closed

[2016-03-29 18:16] #295 closed

[2016-03-30 15:02] fracarma commented on #376
Thank you very much for the answer!

[2016-04-01 02:28] stevage opened #377 "Move cursor down after staging merge-conflicted file"
Minor UI issue. When you have:

MERGE CONFLICTS:
  foo.js
  bar.js

After staging foo.js, the cursor moves up to MOVE CONFLICTS, instead of staying on the same line and now pointing at bar.js.

[2016-04-04 13:49] mreq opened #379 "Pull from status page"
Is there a reason for no git pull (potentially even a --rebase one) command in the status page? I can make a PR if you tell me the preferred keybind.

[2016-04-04 17:08] wldcordeiro opened #380 "New Release?"
Looks like a lot has been merged into master but Package control is looking at your releases and the last one was a couple months back (59 commits since.) Could we get a 2.10.0 or 3.0 or whatever version number would be appropriate given the changes?

[2016-04-04 17:12] wldcordeiro opened #381 "Add folding to Gitsavvy Branch View"
Based on ScopeHunter output, we could tell Sublime that the headings for remotes are foldable points. This could also be used in other views as well on other `keyword.other.git-savvy.section-header` scopes too.

[code]

[2016-04-04 19:48] stoivo commented on #381
Like where?

[2016-04-04 19:52] stoivo commented on #379
There have been some discussion about it earlier but I can't recall, to you @divmain?

[2016-04-04 19:55] wldcordeiro commented on #381
![selection_012](https://cloud.githubusercontent.com/assets/580982/14261206/cd251766-fa6c-11e5-9315-bb158bd24f06.png)

Ideally line 44 would have the ST code folding indicator and let me fold up the branch list under the remote name.

[2016-04-04 19:58] stoivo commented on #381
Oh, we have it on master branch, but we just need to make the release.
it looks like
![screen shot 2016-04-04 at 21 57 15](https://cloud.githubusercontent.com/assets/3492040/14261299/423f1e64-fab0-11e5-9968-f6cc48b85fc7.png)

Is there some other places where this should be added?

[2016-04-04 19:59] wldcordeiro commented on #381
Can't think of any places off the top of my head. The scope for the syntax seems pretty generic so it should be in most places now. :)

[2016-04-04 19:59] wldcordeiro commented on #381
If we get a new release @stoivo  you could close this issue and #380 together. :+1:

[2016-04-04 20:01] stoivo commented on #381
I agree, I am checking with @divmain.

[2016-04-05 23:19] #381 closed

[2016-04-05 23:19] stoivo commented on #380
Now we have 2.10.0

[2016-04-05 23:19] #380 closed

[2016-04-06 02:26] utahmike opened #382 "Git Savvy no longer working after force quit of sublime."
I encountered the same problem as described here:

https://github.com/divmain/GitSavvy/issues/300

And was forced to "Force Quit" sublime.

Upon restart, Git Savvy commands are no longer available in the Command Palette. I've tried removing and re-installing the package. Restarting the computer. Restarting sublime. Nothing will restore the commands to the Palette.

[2016-04-06 02:40] divmain commented on #382
@utahmike, can you check the Sublime console to see if any errors are reported?  This sort of problem usually happens if the plugin is not initialized correctly.

[2016-04-06 02:40] divmain commented on #380
Thanks @stoivo.

[2016-04-06 02:54] divmain commented on #379
Yeah, we've discussed adding `pull` to the status page, and related discussions about what global palette commands to include.  The thing is, everybody has their own preferences about what should be available - some people use fetch really often, some people use a particular incantation of rebase, some people use pull, etc.

So we concluded that:

- Adding too many explicit key-bindings to the das

[2016-04-06 02:54] #379 closed

[2016-04-06 07:54] mreq commented on #379
Can't say I agree with that, as the UI is inconsistent now. I'd either remove the push keybind, or add a pull one. Also don't agree on a single keybind (a single line in the UI) cluttering the interface. I believe that pull/push/commit are the most common actions performed and that they all deserve a keybind in such an interface.

It's of course your decision, that matters. One can surely set cust

[2016-04-06 08:57] divmain commented on #379
Totally understand, but I've exchanged almost identical words with other folks who have different opinions on what should be included.  I agree that adding a single line in the UI doesn't clutter - but adding several does.  At some point, all the keybinding hints just become noise.  I had to draw a line somewhere and "related to what we're showing you" seemed sane `¯\_(ツ)_/¯`

I'll think about rem

[2016-04-06 12:01] demon386 opened #383 "failed to import `yaml` module"
[code]

OS: OS X EI Capitan
Sublime: Sublime Text 3 Build 3109 (Dev Build)

[2016-04-06 12:02] dominiquedutra commented on #382
Hello,

I too have the same problem this morning and I dont remember force-quitting sublime yesterday. Last thing I did as always was push my code and close everything up.

[sublimeConsoleOutput.txt](https://github.com/divmain/GitSavvy/files/206350/sublimeConsoleOutput.txt)

[2016-04-06 12:04] majkiee commented on #383
[code]
OS: OS X EI Capitan
Sublime: Sublime Text 3 Build 3103

[2016-04-06 12:22] KenzR commented on #382
Me too, from this morning my git savvy does not exist anywhere. I tried reinstalling it, reinstalling sublime, deleting packages. Nothing helps, also my branch that i was on yesterday is lost. Yesterday everything was okay.

[2016-04-06 12:26] dominiquedutra commented on #382
@KenzR @utahmike please attach your console output to help the developers.

[2016-04-06 12:55] utahmike commented on #382
Here is my console output. Definitely problems loading the package.
[SublimeStartup.txt](https://github.com/divmain/GitSavvy/files/206426/SublimeStartup.txt)

[2016-04-06 16:52] tcrockett1138 commented on #382
I've also hit this issue, specifically when I updated to 2.10.0.  I've attached a snip of the console log.  I'm running ST3 on Windows7.
[SublimeGitSavvy210Error.txt](https://github.com/divmain/GitSavvy/files/206891/SublimeGitSavvy210Error.txt)

[2016-04-06 17:54] stoivo commented on #382
I am working on a fix.

[2016-04-06 18:13] bank32 opened #384 "GitSavvy doesn't work after installed GitGutter"
After installed GitGutter my Sublime can't use GitSavvy anymore. It was not found on my command palette. So, I tried to remove GitGutter and reinstall GitSavvy but it still doesn't work.

Please help me as soon as possible, GitSavvy is a part of my life now.

[2016-04-06 18:17] rmnbrd commented on #384
Same issue here, GitSavvy is totally absent from the command palette since the last update :disappointed:

[2016-04-06 18:35] stoivo commented on #384
There is some major bug now, I am working on fixing it now.

[2016-04-06 18:46] divmain commented on #384
@bank32 @rmnbrd, I just pushed out an update that will disable the offending code as a temporary work-around.  Syntax highlighting will disabled in inline-diff views, but we'll address that regression separately.  If you see this in the next few minutes, it would be super helpful if you could pull down master and confirm that things are working for you.  Sorry for the bad update!

[2016-04-06 18:46] #384 closed

[2016-04-06 18:47] divmain commented on #382
@utahmike @dominiquedutra @KenzR @tcrockett1138 I just pushed out an update that will disable the offending code as a temporary work-around.  Syntax highlighting will disabled in inline-diff views, but we'll address that regression separately.  If you see this in the next few minutes, it would be super helpful if you could pull down master and confirm that things are working for you.  Please ping

[2016-04-06 18:47] #382 closed

[2016-04-06 18:48] divmain commented on #383
@demon386 @majkiee, I just pushed out an update that will disable the offending code as a temporary work-around.  Syntax highlighting will disabled in inline-diff views, but we'll address that regression separately.  If you see this in the next few minutes, it would be super helpful if you could pull down master and confirm that things are working for you.  Sorry for the bad update!

[2016-04-06 18:48] #383 closed

[2016-04-06 18:50] bank32 commented on #384
fixed it. Thanks a lot.

[2016-04-06 19:04] bank32 commented on #384
@divmain I have another question. now I fixed it by less simple method but I wanna know when we can install latest version via Sublime package control ?

[2016-04-06 19:09] utahmike commented on #382
All is working again, thank you for your quick response.

[2016-04-06 20:02] divmain commented on #384
@bank32 it should be going out now.  You may need to either 1) restart Sublime, or 2) run `Package Control: Upgrade Package` in the command palette.  There is a delay between when I push a new tag in my Git repo and when `packagecontrol.io` picks up that changes and starts pushing it out to clients.

[2016-04-06 20:09] tcrockett1138 commented on #382
Looks good, all fixed.  And the remote add/remove work great also. :-)

[2016-04-06 20:35] rmnbrd commented on #384
It's working like a charm now.
Thank you guys for your great reactivity! You rock! :+1:

[2016-04-07 00:37] demon386 commented on #383
It's fixed now. Thanks for the quick response.

[2016-04-07 07:31] KenzR commented on #382
It's working :D

[2016-04-07 09:25] stoivo commented on #382
:1+:

[2016-04-07 10:42] dominiquedutra commented on #382
Working. Thanks!

[2016-04-08 09:28] nightmarebadger opened #386 "Lost syntax highlighting in diff view"
From yesterday my diff view lost all syntax highlighting for some reason. I can still manually check the correct syntax and it works, but I have to do it every time I close and re-open a diff. The green/red highlights from GitSavvy still work, but it always sees the diffs as `Plain Text`, no matter what file I open.

I have tried a complete removal of GitSavvy (removing and even manually deleting

[2016-04-08 09:53] divmain commented on #386
Hey @nightmarebadger.  This is a known issue.  There was a pretty significant bug that disabled GitSavvy for some users with the `2.10.0` release.  As a workaround, we have temporarily disabled syntax highlighting in the inline diff views with `2.10.1`.  We'll be releasing `2.10.2` within the next day or so to restore the disabled behavior.

[2016-04-08 10:29] nightmarebadger commented on #386
Thanks @divmain, I did not see that anywhere when I searched.

Will leave this in and open until it is fixed for other people searching for the same thing.

[2016-04-13 04:36] bharath144 commented on #361
Hey,

I use the "commit_help_extra_file": option to set the commit message that I am supposed to use. However, the commit screen (and the amend commit screen for that matter) ends up showing the GitSavvy's help message anyway.

## To make a commit, type your commit message and press CTRL-ENTER. To cancel
## the commit, close the window. To sign off on the commit, press CTRL-S.

## You may also ref

[2016-04-13 04:39] bharath144 opened #388 "Keyboard shortcuts in 'inline diff view'"
Hey,

I couldn't find a way to move to next diff in the inline diff view by using the keyboard shortcuts. I end up reaching for the mouse to scroll to the next diff (or keep pressing page-down until I see the next change/diff).

Can we have keyboard shortcuts to navigate in the diffs in the inline diff view.

Cheers!
Bharath
ಭರತ

[2016-04-13 04:42] bharath144 commented on #388
Damn, I just read the docs and it is possible by using the ',' and '.' keys. Never mind the post.

Keep up the good work! Loving it. :+1:

[2016-04-13 06:34] #388 closed

[2016-04-14 05:19] DanielKeep opened #389 "Help doesn't work"
I opened the GitSavvy help from the command palette, and got the "GITSAVVY HELP" file.

The advice about following links to other pages simply *does not work*.  I've tried Ctrl+Enter, Enter, Shift+Enter, Alt+Enter, Ctrl+Alt+Enter, Ctrl+Shift+Enter, Win+Enter, ], >, f... nothing works to follow links.  I can't open the files manually, since File > Open just shows my project's folder, and I have no

[2016-04-14 07:13] stoivo commented on #389
We have some trouble with the new syntax format (.sublime_syntax). We are working on a fix. If you set the syntax to markdown and then press `Ctrl+Enter` it will work.

I hope we can make a release with a fix next two weeks.

[2016-04-14 07:15] divmain commented on #389
@DanielKeep, that was an unexpected side-effect of the syntax changes.  As @stoivo mentioned, we should have a fix shortly.  In the meantime, you can look through the same documentation [here](https://github.com/divmain/GitSavvy/blob/master/docs/README.md).  I'll leave this open until we have a fix for docs in place.

[2016-04-14 07:19] #386 closed

[2016-04-14 07:19] #389 closed

[2016-04-14 07:29] DanielKeep commented on #389
Switching to "Syntax: Markdown Extended" does appear to work.  Incidentally, and just to clarify: I had the same problem *prior* to updating to the latest build of ST3 with `.sublime_syntax` support.  Don't know if that's relevant, but just thought I'd mention it.

[2016-04-14 07:32] divmain commented on #389
Thanks!  We made changes in GitSavvy to accommodate the syntax changes going on in ST3.  That led to a serious regression, and we pushed out a temporary fix that included disabling some of the features that rely on syntax.

If you have time and inclination, could you pull down the latest version of GitSavvy directly from the repo (instead of through the package manager)?  I re-enabled some of the

[2016-04-14 10:42] DanielKeep commented on #389
I just followed the instructions for installing the package through a Git clone, and got the following in the console:

[code]

A quick look in the `common` folder shows no `__init__.py`; was it accidentally not checked in?

[2016-04-16 09:23] stevage opened #390 "Fetch required after git remote add"
1. Add remote
2. Git Pull
3. Select the name of the remote
4. [Nothing happens - branches within the remote are not presented]
5. Git Fetch
6. Select the name of the remote
7. [Now branches are presented in a list]

[2016-04-16 14:34] stoivo commented on #390
What is it you would like to have? Is this what you want?
1. Add remote (GitSavvy does fetch that remote)
2. Git Pull
3. Select the name of the remote
4. Select the name of the branch

[2016-04-16 23:59] stevage commented on #390
Yeah. So for some reason GitSavvy isn't fetching the new remote for me and it should?

[2016-04-17 09:29] divmain commented on #390
Right now, all that `git: add remote` does is `git remote add NAME URI`.  If you were to do this on the command line, a fetch would be necessary.

However, since most times you would want to fetch after adding, I don't see a problem with asking the user `Would you like to fetch history from your new remote?`.  Does that seem like a reasonable direction for resolution of this ticket?

[2016-04-17 12:55] stevage commented on #390
Well I'd ask the question: when does the user *not* want to fetch after adding the remote? Imho never. So why bother with the question?

[2016-04-17 18:58] stoivo commented on #390
@stevage because adding remotes is SWAG... :P
I agree with you @stevage, I can not think of an scenario where I don't want to fetch after adding a remote. I would try not to add more setting that make sense.

[2016-04-18 01:41] aristidesfl commented on #41
@yyyc514 tried your fork but seems to be a bit strange. Is this how it is supposed to work? The color scheme I'm using is `Flatland_Dark (SL)`:

![gitsavvy](https://cloud.githubusercontent.com/assets/208149/14591775/3d875bc2-0517-11e6-9971-963eec0517be.gif)

[2016-04-18 09:39] allen-zeng opened #391 "configure tracking in the branches dashboard no longer works"
When I try to configure tracking, I get this error:

  File "core.interfaces.branch in /Users/<user>/Library/Application Support/Sublime Text 3/Installed Packages/GitSavvy.sublime-package", line 349, in run_async
AttributeError: 'GsBranchesConfigureTrackingCommand' object has no attribute 'get_remote_branches'

I haven't looked at exactly when this started failing, but it must have been fairly rec

[2016-04-18 15:51] stoivo commented on #391
Strange.
I can see passed on the path that you are using OSC and ST3. It looks like you installed GitSavvy form Package manager, is that correct?
Can you check which version of Sublime you have?

This happens when you open branch dashboard and press `t`? Just we are looking at the same feature :)

[2016-04-18 22:47] allen-zeng commented on #391
Sure :)

This happens when I open the branch dashboard and I press `t` on a line that displays a local branch. It doesn't matter which local branch it is either.

I did install GitSavvy from Package Manager. I can also confirm that the `GitSavvy` folder under `Packages/User` only contain `tmTheme` files.

My Sublime version is Dev 3111.

[2016-04-18 22:48] allen-zeng commented on #391
I think the problem just resolved itself - I had to restart Sublime.

This is very strange indeed :/

Thanks for your time anyway!

[2016-04-19 05:39] #391 closed

[2016-04-20 05:49] stevage opened #393 "Don't add "# added by GitSavvy" to .gitignore files"
I'm not sure what the thinking behind this line being added is. It basically makes the "ignore" feature useless for me. For any shared project it's not very friendly to have comments like this dotted around, so I end up having to remove them manually...

[2016-04-20 13:45] benmosher opened #394 "blame current file: remember last blame mode"
I always use the last blame mode (detect moved or copied across all commits). Would be handy if it was auto-selected every time.

Many of the sub-menus remember the last position, so I suspect this is low-hanging and generally desirable.

For your consideration. Thanks for all your work so far! 😄

[2016-04-20 16:48] stoivo commented on #394
It makes a lot of sense to me to autoselect the one you last used.

[2016-04-20 19:15] divmain commented on #393
This was one of the original features and, at the time, I was concerned about ways that GitSavvy could do damage to a person's work.  Adding the comment served as a big fat warning label.  However, nobody has expressed concerns about it since, and it has turned out to be pretty reliable.  So we'll make this change!

[2016-04-21 02:58] stevage commented on #393
Cheers. And if you're anything like me, you're committing everything in hunks anyway, so you'll see the change before it gets committed.

(Have I mentioned that this is one of the best things about GitSavvy for me - checking every single hunk before it gets committed is so easy that it becomes a very natural part of the workflow. It's awesome.)

[2016-04-21 03:55] stevage opened #396 "Freeze on diff of large, one-line JSON file"
Attempting to view the [diff of this one large file](https://gist.github.com/stevage/9f5883dbb5c30ccdc67db74f1bdffd72) has completely frozen Sublime. It's about 150kb, and consists of a single line of minified JSON.

After a few minutes it has managed to render a page of red, but Sublime is still non-responsive.

Perhaps at least GitSavvy could detect situations like this and warn/refuse to procee

[2016-04-22 19:49] stoivo commented on #393
Should we add
1. `\n<pattern>`
or
2. `<pattern>\n`
or to be super safe but then the .ignore file looks supit
3. `\n<pattern>\n`

I always leave an empty line at the end. I am not sure what's more common. So 2. option is my goto.

[2016-04-22 19:54] stoivo commented on #393
Or maybe 3th is better since most of the time when you ignore a pattern you want to have a comment with why this pattern should be ignored.

[2016-04-22 20:57] stoivo opened #399 "Show file at commit when folders are symlinked"
These lines of code is not working when folders are symlinked
[core/commands/show_file_at_commit.py#L29-L31](https://github.com/divmain/GitSavvy/blob/3d89abab3f3304120549176a461c816837278321/core/commands/show_file_at_commit.py#L29-L31)

[2016-04-22 21:14] stoivo commented on #316
@stevage, this probably went off your radar. You still interested in adding this functionality?

[2016-04-23 09:19] #393 closed

[2016-04-23 22:46] #394 closed

[2016-04-24 09:05] stoivo commented on #394
@benmosher, If you installed GitSavvy by pulling down master branch, you can pull now and it will work. We are trying to keep master stable. 😄

[2016-04-25 13:38] stevage commented on #316
Yeah, sorry about that. I'm pretty terrible at picking things back up once I put them down. I'm about to head off for another 5 weeks of inactivity, so if someone else is willing to take this over, that would be better.

[2016-04-25 17:21] stoivo commented on #316
Than we will keep the issue open, we will look at this issue later.

[2016-04-27 15:09] aristidesfl opened #402 "Install GitSavvy commit themes globally"
Is there a easy way to install the themes globally so they work also when git command line in used instead of GitSavvy? Ideally they would stay up-to-date with the latest version from GitSavvy

[2016-04-27 20:52] stoivo commented on #402
I am not really sure if I understand what you want? So many you can come with one clear example?

[2016-04-27 21:14] aristidesfl commented on #402
When you use git from the command line, you commit, and sublime pops up to edit the message, which theme do you see?

[2016-04-27 21:35] stoivo commented on #402
Aaa, so if I understand you correctly. You set you EDITOR to sublime with something like this: `export EDITOR='subl -wn'`. And now when do execute the command `$ git commit` from the terminal, sublime open with some syntax. And you would like it to be the same syntax as if you open the commit view from GitSavvy?

The syntax that GitSavvy is called `GitSavvy Make Commit`.
It look like this
[code]

[2016-04-28 09:17] ramiel commented on #312
Probably showing that a branch is merged in the interface would help too. I cannot understand if is already shown or not.

[2016-04-29 11:24] aristidesfl commented on #402
Yes, the idea is to make this syntax work for commit messages initiated with `subl -wn` as well.

[2016-04-29 12:48] stoivo commented on #402
Is there any other view where we should do this?

[2016-04-29 12:52] aristidesfl commented on #402
The only other one I can think of at this moment is: `git rebase -i`

[2016-04-29 12:57] aristidesfl commented on #402
https://github.com/aristidesfl/sublime-git-commit-message-auto-save/blob/19c4d0035c0e64425adb4aee34a9e364172e529c/gitcommitautosave.py#L21

[2016-05-02 17:51] divmain commented on #312
Hey @ramiel.  That's an interesting thought, but somewhat problematic, I think.

Just showing whether a branch is merged or not is probably not as useful as showing whether is is merged with the primary development branch.  If we stuck with the underlying Git semantics, it could easily suggest something to a user that is not actually true ("my branch has been merged into master").

But, since not

[2016-05-02 18:35] ramiel commented on #312
The information should always be `this branch is merged with the current branch` which is also the information you get with `git branch --merged`.
Btw probably you're right. I use this information to know if is safe to delete a branch and to have an hint on which branch has been merged after a pull. In any case it can be useful but is not vital of course.

[2016-05-08 10:48] dufferzafar opened #405 "Diff syntax highlight in the commit message file"
The diff that gets displayed in the commit window isn't highlighted.

I think `git-savvy.make-commit` & `git-savvy.diff` should be merged somehow, so that the diff can be properly highlighted during commits.

[2016-05-08 17:04] stoivo commented on #405
This can be fix with including the diff in make-commit.

[2016-05-08 17:07] stoivo commented on #405
I look like you studied it, Would you like to make a Pull Request on this?
https://www.sublimetext.com/docs/3/syntax.html look under section `Include Patterns`.

[2016-05-09 07:06] stoivo commented on #405
I can not see that this PR is making any difference. Could you add two screenshots of before and after?

[2016-05-09 11:59] stoivo commented on #402
Do you mind if I steal you code and add it to GitSavvy like this
[code]

And then make a syntax highlight for rebase?

[2016-05-09 16:14] dufferzafar commented on #405
Here you go:

## Before:

![before](https://cloud.githubusercontent.com/assets/1449512/15119584/33fffb12-162f-11e6-875b-062bcc9a02bf.png)

## After:

![after](https://cloud.githubusercontent.com/assets/1449512/15119590/39507eb6-162f-11e6-8eaa-c662eb4f83be.png)

[2016-05-09 21:33] stoivo commented on #405
I am on git version 2.8.2 and my diff looks like this
[code]

Can you check your git version? `$ git --version`

[2016-05-09 21:48] dufferzafar commented on #405
I am on 2.8.1

[2016-05-09 21:50] dufferzafar commented on #405
I knew it was some custom setting that I had. Turns out there is a setting in git config called `noprefix` which removes those a, b characters.

Though I think that GitSavvy should handle both these cases.

[2016-05-09 21:56] stoivo commented on #405
Sure, I agree

[2016-05-09 23:16] #405 closed

[2016-05-11 21:26] #11 closed

[2016-05-13 12:42] aristidesfl commented on #402
Not at all, go ahead! 👍

Just notice that some views don't have a `file_name`, thats why I had a check `if path and any(path.endswith(name)`

Also I would have just one class since most of the code is the same, and use a dictionary to apply the right syntax file. Just an idea.

[2016-05-15 11:14] old9 opened #409 "CRITICAL: changes get lost when making live rebase"
WARNING: create a sandboxed repo to test these:

1. Say I'm now on ref 8d19112
2. I have 3 files changed, file1, file2, file3
3. add file1, commit
4. add file2, commit
5. leave file3 unstaged and enter live rebase dashboard
6. press r to rebase on top of ref 8d19112
7. Sublime warns me that `Cannot rebase: You have unstaged changes. Please commit or stash them.`
8. I didn't notice that warning and

[2016-05-15 11:17] old9 commented on #409
I'm creating this issue with tears in my eyes, seriously.

[2016-05-15 16:21] divmain commented on #409
Hey @old9, I'm very sorry and I'll look at this later today.

However, if these changes are important to you, take a look at the diffs for the top commit that was rebased with you "move up" action.  It is possible that the unstaged changes were rolled into that diff and are not lost.  Under the hood, GitSavvy is doing `git cherry-pick` and `git cherry-pick --no-commit`, so that seems likely to me.

[2016-05-16 18:17] stoivo commented on #402
Does this look good?
![screen shot 2016-05-16 at 20 13 30](https://cloud.githubusercontent.com/assets/3492040/15299048/d94d0cfe-1ba2-11e6-9b76-58e4159d80c8.png)
![screen shot 2016-05-16 at 20 13 55](https://cloud.githubusercontent.com/assets/3492040/15299049/d94fa338-1ba2-11e6-8a88-bd6c3b0dc04f.png)

Maybe add keybinding to swap `pick` to `squash` by pressing `s`

[2016-05-16 22:32] aristidesfl commented on #402
Looks good. You could also add f for fixup. in the meanwhile added support for merge message. the syntax should be the same as commit. check https://github.com/aristidesfl/sublime-git-message-auto-save/blob/master/gitcommitautosave.py

[2016-05-20 17:06] kamenjan opened #411 "Hotkey commands strange behaviour"
I've been using gitsavvy for some time now and had no issues. Few days ago I've set up a new system using El Capitan. Since then I have this strange issue when I try to use hotkey commands (e.g. [o],[s],[c] ...). Lets say I want to stage a file, I press "s" and nothing happens until I press any other key. So basically I have to "confirm" every command with any key input. I tried googling for this

[2016-05-20 22:12] divmain commented on #411
I have a vague recollection of this happening to me before, and I think it may have been due to a package conflict.  Have you confirmed that the strange behavior occurs with a fresh install of Sublime + GitSavvy?

[2016-05-21 02:37] kamenjan commented on #411
It was indeed a package conflict. I have removed a package named AutoSpell and issue was resolved. Thank you for fast response, cheers!

[2016-05-21 09:07] stoivo commented on #411
@divmain, should we add a note somewhere that we might have conflicts with AutoSpell?

[2016-05-23 07:09] laggingreflex opened #412 ""show file at commit" on windows not working"
I'm on Windows 10 using Sublime 3 (3103) and Git for windows installed.

When I do "git: log current file", then choose a commit, then "show file at commit" it throws this error:

    Traceback (most recent call last):
      File "C:\…\GitSavvy\core\commands\show_file_at_commit.py", line 26, in <lambda>
        sublime.set_timeout_async(lambda: self.render_text(view), 0)
      File "C:\…\GitSavvy\

[2016-05-26 19:55] #412 closed

[2016-05-26 20:00] stoivo commented on #411
I will close this issue since the issue is solved.

[2016-05-26 20:00] #411 closed

[2016-05-26 21:09] divmain commented on #411
@stoivo sorry for not responding earlier.  It might be worth noting that certain plugins can interfere with GitSavvy's keybindings.  But I'm quite sure it wasn't `AutoSpell` that I ran into myself, so calling out specific packages is probably not worthwhile.

[2016-05-27 17:57] rkpatel33 opened #414 "'SELECTED FILE' hot keys dead when cursor is at the end of the line"
When my cursor is at the end of a file name line, seems all my 'SELECTED FILE' keys are dead. When I bring the cursor onto the line or at the BOL, they work. Small but seems to be a reset issue.

![image](https://cloud.githubusercontent.com/assets/3799489/15616613/ff18660e-2412-11e6-8a71-94bf08e1710a.png)

[2016-05-27 18:47] stoivo commented on #352
@mreq, still interested in putting up a PR?

[2016-05-27 18:55] stoivo commented on #402
I will have to use some other keys then only `e`. I don't want to make this a readonly  view, and I have to to do that is I want to have only `e`.

I will add them to `shift+control+e`.

[2016-05-27 23:01] stoivo commented on #402
@aristidesfl, I think I have come up with some good things. Would you try it out?

[2016-05-27 23:52] #414 closed