[2015-01-30 01:30] divmain opened #1 "Test github issue integration with commit view"
This isn't a real ticket.

[2015-01-30 02:02] #1 closed

[2015-02-11 23:14] ethanbustad opened #2 "Color scheme fails to load for git diff (windows)"
I get the attached error message, the color scheme defaults to white with black text, and the changed hunks are unclear (in cached mode it seems like the changed hunks aren't shown at all, in uncached mode the hunks are shown as white text on black but it isn't clear what was removed, changed, added).
![gitsavvy-error](https://cloud.githubusercontent.com/assets/2229593/6158607/bab0b32a-b200-11e4-8

[2015-02-12 08:56] #2 closed

[2015-02-12 10:13] divmain opened #3 "Windows keybindings conflict"
When in the inline-diff view, you cannot do `SUPER-L`, as this results in a locked machine.  Introduce Windows-specific keybindings that swap `SUPER` for `CTRL` across the board.

[2015-02-12 10:14] divmain opened #4 "Status view displays invalid information immediately after `git init`"
[code]

[2015-02-12 10:17] divmain opened #5 "Helpful message when git unconfigured"
- [x] When path to `git` cannot be found, notify user and inform that they can either install or enter custom path in `User/GitSavvy.sublime-settings`.
- [x] When Git name and email and unconfigured, notify user, prompt for name/email, and configure Git.

[2015-02-12 10:23] divmain opened #6 "Integrate with external merge tool for conflicts"
Include option for user to specify other merge tool.

[2015-02-12 10:23] divmain opened #7 "`git: merge` in command palette"
Required merge functionality:
- [x] `git: merge`
- [x] `git: abort merge`
- [x] ~~`git: merge (rebase)`~~ (split out as #26)
- [x] ~~`git: fetch and merge`~~
- [x] status view reports merge status successfully
    + [x] header
    + [x] files
- [x] merge information in commit view
- [x] ~~`git: restart merge`~~ (untenable at present)
- [x] `git: restart merge for file...`
- [x] disallow inline-dif

[2015-02-12 10:30] divmain opened #8 "`git: branch` view"
- [x] syntax-highlighted view
- [x] show all local branches
- [x] checkout branch
- [x] delete branch (--force)
- [x] merge branch

[2015-02-12 10:31] divmain opened #9 "File status in gutter"
- [ ] icons for inserted, modified lines
- [ ] icon between lines for removed lines
- [ ] gray out icons when changes are staged

[2015-02-12 10:32] divmain opened #10 "`git: tags` view"
- [ ] show all local tags
- [ ] add tag
- [ ] delete tag
- [ ] show tags on remote (?)
- [ ] push tags to remote

[2015-02-12 10:32] divmain opened #11 "`git: cherry pick`"

[2015-02-12 10:34] divmain opened #12 "Interactive help system"
- [x] help docs written in markdown in `docs/`
- [x] wiki-style browsing when user presses `super-enter` on link
- [x] open docs to specific page/location when certain flags are set on originating view
- [x] ~~docs include context for what it going on under the hood, to help learn git~~ moving this requirement to #28.

[2015-02-12 10:36] divmain opened #13 "Full-featured `git: graph` view"
- [x] syntax highlighted view
- [x] ~~pressing `super+enter` on a branch name checks out that branch~~
- [x] pressing `super+enter` on a commit will checkout that commit as detached HEAD
- [x] pressing `enter` on a commit displays the full commit message and diff in a separate window

[2015-02-12 10:38] divmain opened #14 "GitHub issues integration"
- [ ] list all issues for remote repository (special view)
- [ ] syntax highlighting
- [ ] open new issue (special view)
- [ ] close issue
- [ ] view details for issue, including comment history
- [ ] add comment
- [ ] view issue in browser

https://developer.github.com/v3/issues/

[2015-02-12 10:39] divmain opened #15 "Teaching mode"
- [ ] Before running git commands, display what is about to happen to the user
- [ ] Dry-run mode where commands aren't run, just displayed to the user

[2015-02-12 10:42] divmain opened #16 "GitHub pull requests integration"
- [ ] list all open pull requests (special view)
- [ ] show details for pull request, including comment history (special view)
- [ ] show changes (?) (special view)
- [ ] open pull request in browser
- [ ] open new pull request against remote branch
- [ ] open new pull request against remote owner/repo/branch

https://developer.github.com/v3/pulls/

[2015-02-12 16:46] ethanbustad commented on #2
:+1: thanks! Works great now :)

[2015-02-12 18:37] divmain commented on #2
Thanks for letting me know!

[2015-02-12 20:38] ethanbustad opened #17 "Provide ability to delete, add, and open untracked files in `git: status` view"

[2015-02-12 20:55] divmain commented on #17
This should be working.  Can you open the console (`CTRL-~`) and see if it shows any errors there?  I'll also test in my Windows VM.

[2015-02-12 21:04] divmain commented on #17
I confirmed the following under Windows 7 32-bit and Sublime Text 3, dev build 3069:

- Highlighting file and hitting `s` in stage view will add untracked file.
- Highlighting file and hitting `o` in stage view does open an untracked file.
- `d` will not discard, but I suppose I could just have it delete the file altogether.  One possible issue with that is mistakenly hitting `d` when the wrong th

[2015-02-12 21:08] ethanbustad commented on #17
Yeah, you're right. I first noticed the inability to delete the file, but when I went to test that the other actions worked (when I was making the ticket) it didn't work. But now it does. Most of the time..... I just had to hit 'u' a few times before it ended up unstaging my untracked file... but it looks like it's probably fine? Not sure why it would only work inconsistently.

[2015-02-12 21:29] divmain commented on #17
Yeah that's very weird.  If you notice it failing, open the console to see if there are any exceptions.  It is also possible that Git is taking a little extra time under the hood on some executions, which would explain a delay if not an outright failure.

[2015-02-12 21:31] divmain commented on #17
Oh, and there is a bug where if the cursor is at the end of the line where a filename is listed, it doesn't perform the action correctly.  I forgot about that - I'll file a bug.

[2015-02-12 21:31] divmain opened #18 "Actions while cursor is at end of line in Status view fail"

[2015-02-12 22:17] divmain opened #19 "Will not browse backwards to hunk at top of file in inline-diff mode"

[2015-02-12 22:39] divmain opened #20 "`git: ignore (temporarily)` in command palette and status view"
Using `git update-index --assume-unchanged`, `git update-index --no-assume-unchanged` and `git ls-files -v` where files are marked as "assume unchanged" if first char in output is `h`.

[2015-02-13 07:19] divmain opened #21 "Change issue number hints in commit view to tab-completion"

[2015-02-13 07:20] divmain commented on #17
If you notice it again, and the errant behavior is not covered by #18, please re-open.

[2015-02-13 07:20] #17 closed

[2015-02-13 07:45] #3 closed

[2015-02-13 07:45] #21 closed

[2015-02-13 07:49] #19 closed

[2015-02-13 07:56] #18 closed

[2015-02-13 08:01] #4 closed

[2015-02-13 08:36] #5 closed

[2015-02-19 00:04] divmain opened #22 "`git: log me` command"

[2015-02-24 22:50] divmain opened #23 "Async-ify any commands that block user interaction"

[2015-02-25 23:49] divmain opened #24 "`git: abort merge` in command palette"
Relates to #7.

[2015-02-26 00:08] divmain commented on #24
Closing this in favor of a list-item in #7.

[2015-02-26 00:08] #24 closed

[2015-02-26 01:12] divmain opened #25 "Unable to stage deleted files"
Also, deleted files should appear different in the status view somehow.

[2015-02-26 06:23] divmain opened #26 "`git: rebase`"
Thoughts for a rebase dashboard.

[code]

---------------------------

**Notes:**
- cannot finalize until all commits show a green check mark
- squash commands would take to commit-like view pre-filled with combined commit messages
- cannot squash all until all commits show a green check mark
- cannot squash commit with next until selected and selected's next commit show green check mark

[2015-02-26 06:53] divmain opened #27 "Add syntax highlighting to commit view"

[2015-02-26 07:42] #7 closed

[2015-02-26 07:45] divmain commented on #22
AUTHOR_PATTERN = `git config user.name` + `git config user.email`
`git log --author=AUTHOR_PATTERN`

[2015-02-26 08:00] #22 closed

[2015-02-26 08:39] #20 closed

[2015-02-26 21:53] #27 closed

[2015-02-26 22:32] #25 closed

[2015-02-27 07:21] #6 closed

[2015-02-27 07:46] divmain opened #28 "Feature documentation"
Add basic documentation including:
- [x] intro / welcome
- [x] command palette commands
- [x] special views, their features, and key-bindings
- [x] existing GitHub integration features
    + [x] setup API keys
- [x] ~~docs include context for what it going on under the hood, to help learn git (moved from #12)~~

Link to docs from README.

[2015-02-27 07:46] divmain opened #29 "Add CONTRIBUTE.md file"

[2015-02-27 07:56] divmain opened #30 "Rethink module layout"
Instead of:

- root
    + commands
        * git-related commands
        * github-related commands
    + common
        * util
            - actual common code
        * git-related code
        * github-related code
        * some actual common code (view or HTTP related)
    + syntax
        * ...

Consider:

- root
    + core
        * all git-related commands and shared code
    + github

[2015-02-27 09:57] #30 closed

[2015-02-27 10:13] #29 closed

[2015-02-28 00:25] divmain commented on #28
Will implement pieces of #12.

[2015-02-28 00:34] divmain opened #31 "`git: submodule`"
Special view with:
- [ ] list of all submodules with commit status
- [ ] summary for each submodule
- [ ] initialize new submodule
- [ ] update

[2015-03-01 08:37] #12 closed

[2015-03-02 01:18] lolpack opened #32 "Sublime Text 3 compatbile only"
There should be mention in the README that this is for Sublime Text 3 only and wont work on older versions.

[2015-03-02 09:41] divmain commented on #26
@baer - you're a heavy rebase user, yes?  Would you mind describing your workflow?  I'd like to see if I could support it in GitSavvy.

[2015-03-02 20:35] baer commented on #26
Sure! My typical workflow is the following

[code]

I rebase nearly every time I sit down to do new work (unless the branch is shared) in place of merging `develop` back into my branch.

When I rebase I do one of the following things. Lets start with this as an example of some changes on a feature
[code]

#### Squash 'em all
Sometimes preserving individual commits doesn't make sense. They are not

[2015-03-02 21:53] #32 closed

[2015-03-03 20:23] divmain opened #33 "Add info about git commands to documentation"
Moved from #28.

[2015-03-03 20:23] #28 closed

[2015-03-04 11:10] #23 closed

[2015-03-06 03:15] wilsonmiz opened #34 "Show status."
Can we have a new feature that show repo status in bottom left-hand corner of Sublime Text Window?

[2015-03-06 05:28] divmain commented on #34
I don't see why not.  @wilsonmiz, do you have anything particular in mind beyond branch name and ahead/behind?

[2015-03-06 09:03] divmain opened #35 "Undo for inline-diff view"
Cache last diff to be applied; when undo is invoked, apply the same diff with `--reverse` toggled.

[2015-03-06 10:00] benregn commented on #34
I'd vote for something similar to [Git-StatusBar](https://github.com/randy3k/Git-StatusBar) which is a reduction of what [Git](https://github.com/kemayo/sublime-text-git) shows.

[2015-03-06 13:47] TheHippo opened #36 "Add setting to allow signed commits instead of regular commits"
Add setting to allow signed and/or signed-off commits instead of "regular" commit.

[2015-03-06 18:01] divmain commented on #36
@TheHippo, do envision this would be an additional palette command `git: commit (signed)`, or a global option where the flag would be included when set?

[2015-03-07 01:36] p3lim opened #38 "Diff while commiting"
When creating a commit, it's handy to see at a glance what you are actually committing, a diff displayed at the bottom is the optimal solution.

Should also be optional, as it would probably add extra load time on larger commits.

[2015-03-07 01:38] p3lim opened #39 "Customized git log (graph)"
Basically the option to customize this line: https://github.com/divmain/GitSavvy/blob/83a486eaad8aac982160caabeb7099052da5e462/core/commands/log_graph.py#L29

[2015-03-07 01:39] yowmamasita opened #40 "Bitbucket integration"
Leaving this here as a feature request. How hard/easy it is to support Bitbucket as well?

[2015-03-07 01:46] p3lim opened #41 "Pedantic commit messages"
Add a distinct style guide for the commit messages:
- First line should be max 50 characters
- Second line should be empty
- Any subsequent lines should be max 72 characters

Coloring the background of any characters that exceed limits is ideal, only warning the user.

This should be optional, of course.

References:
http://tbaggery.com/2008/04/19/a-note-about-git-commit-messages.html
https://gith

[2015-03-07 01:49] p3lim commented on #36
Implementation suggestion; hold <kbd>Shift</kbd> when pressing <kbd>CTRL</kbd>+<kbd>Enter</kbd> when committing to also sign it.

[2015-03-07 01:53] p3lim opened #42 "add `git add --edit` equivalent"
There's no easy way of telling which hunks or lines are actually staged in the inline diff.
Consider adding a background color to these (e.g. yellow) to distinguish them.

This would be especially useful with #35.

[2015-03-07 08:14] wldcordeiro opened #43 "Git Flow Integration"
This would be a nice to have feature. See this repo for details on its implementation https://github.com/nvie/gitflow

[2015-03-07 08:25] divmain commented on #42
I thought about this, but I wasn't sure how to deliver a consistent experience.  A color could be shown for added lines, but not sure how to represent lines that have been removed.  You _are_ able to view an inline-diff of the file in the index, and un-stage lines and hunks there.  That seemed to mostly solve my personal use case.

With #35, I envision situations where I mistakenly revert a hunk (

[2015-03-07 08:28] divmain commented on #40
I haven't started in on this yet, but it is definitely my intention to support BitBucket.  Also looking at GitLab support.

[2015-03-07 08:32] divmain commented on #39
Are you looking for direct customization (enter any flags you want), or something more specific?  My intention here is to add interaction to the view, where `Super+Enter` on a commit would open that commit, `Super+Enter` on a branch would prompt you to check it out, etc.  Too much customization here might make this a more difficult task.

[2015-03-07 08:33] divmain commented on #38
Good idea.  I'll probably add a configurable threshold beyond which the text is cut off.

[2015-03-07 11:29] p3lim commented on #42
Honestly, I really prefer the look and usability of patch files, basically what you'd get from running `git add -e`.

I'm not entirely sure how I'd properly support that feature entirely in the current design, that would be entirely up to you. For now I've just added the aforementioned command as a keybind to the status window for my own needs.

[2015-03-07 11:32] p3lim commented on #39
Custom flags, like adding committer, email, tags etc.

This is what I use normally in bash, and I'd love something like it for this. Not sure if you plan on supporting colors though.
`git log --graph --pretty=format:'%Cred%h%Creset %s%Cgreen%d %C(yellow)(%cr) %Cblue[%an]%Creset' --abbrev-commit --date=relative --all`

[2015-03-07 11:37] p3lim opened #44 "Output to panels"
Most of the outputs in this plugin is done to the status bar.
I would like to see an option to output to panels, especially for certain actions like commit or push where you'd want to see the output, like a response from the server(s).

[2015-03-07 13:37] bobbyrenwick commented on #43
:+1:

[2015-03-07 15:31] TheHippo commented on #36
There are two options for signing commits:

* `git commit -s` or `git commit --signoff` which adds just a text snippet to the commit message and seems to be implemented by @p3lim in #46 .
* `git commit -S` or `git commit --gpg-sign` which signs the commit with your GPG key.

Both options can be combined (`git commit -Ss`). In my opinion it would be the best option to have a "normal" commit command

[2015-03-07 15:50] p3lim commented on #36
What about having a separate commit command (`git: commit (signed)`) for GPG-signed, and also have my implementation in #46, so the user can mix and match between them (as you could with the porcelain).

[2015-03-07 16:06] jbrooksuk commented on #44
:+1: for showing the push output in a panel.

This is especially useful when pushing to Dokku or Heroku for example, where the buildstep progress is long.

[2015-03-07 18:03] divmain commented on #44
In `GitSavvy.sublime-settings`:
[code]

[2015-03-07 18:05] divmain commented on #39
Relates to #13.

[2015-03-07 18:13] divmain commented on #42
I've never used `git add -e` before, myself.  That's something I'll take a look at to identify if similar functionality can be incorporated into the inline diff or into a separate feature.

[2015-03-07 18:35] p3lim commented on #44
As far as I understood it, this is how you'd create and output to a panel in ST3:
[code]
Documentation is not that good, so this might save you some time.

[2015-03-08 01:50] iamolivinius opened #48 "git: blame current file results in AttributeError"
git 1.9.3
sublime 3065
ubuntu linux 14.04

[code]

[2015-03-08 07:00] divmain commented on #26
Thoughts for a rebase dashboard.

[code]

[2015-03-08 07:06] divmain opened #49 "`GitSavvy: submit last failed git command as issue`"
For debugging purposes (particularly for those submitting bugs), store the `stdin` and `stdout` of the most recent failed `git` operation.  Add command to open web browser with URL along the these lines:
[code]

[2015-03-08 07:08] divmain commented on #48
Could you paste the output of `git blame FILENAME` for the file this fails for?

[2015-03-08 07:12] divmain commented on #44
Thanks @p3lim.  I'll pick this up early this upcoming week.  GitSavvy displays panel output for failed Git commands, so additional conditions is a simple add.  I'll make this opt-in, where you can configure panel output using `show_panel` as seen in my above comment.

[2015-03-08 07:26] divmain opened #50 "Enhance commit view interactivity"
Follow-up for changes seen in #45.
- [ ] convert commit view to `ui.Interface`
- [ ] enable region-based retrieval of commit message
- [ ] toggle-able display of relevant diff
- [ ] toggle-able display of commit summary (ala `git commit --dry-run`, see #107)
- [ ] add embedded syntax-highlighting for diff (defining scope for region)
- [ ] **investigate:** stage files from commit view

[2015-03-08 07:28] divmain opened #51 "Update exclude content behavior in commit view"
Currently just removes everything including and after the `COMMIT_HELP_TEXT`.  Instead, add a canonical separator below which all content will be excluded.  Follow-up to #45.

[2015-03-08 09:27] harelstern opened #52 "Branch names with '/' don't display correctly"
For instance, displaying the status of a branch named `bug/1234` will output a branch name of `bug`.

[2015-03-08 12:44] iamolivinius commented on #48
`encoding UTF-8` works fine
`encoding UTF-8 with BOM` fails
`encoding UTF-16 LE` fails
`encoding UTF-16 LE with BOM` fails
`encoding UTF-16 BE` fails
`encoding UTF-16 BE with BOM` fails

That's the `git blame` output (first line) of an UTF-8 with BOM encoded file
[code]

Since git doesn't handle these file encodings either I guess there's not much to fix here. Maybe a readable error message for th

[2015-03-08 16:11] steverandy opened #54 "Is there a way to configure inline diff background colors?"
The default background colors result in a very low contrast because I'm using a light color scheme.
Is there a way to set these color values in the user config?
If not, would you consider to add in the config?

[code]

Thanks.

[2015-03-08 23:46] wldcordeiro opened #55 "Status panel doesn't render name of branches correctly with `/` in their name."
If you have a branch in the git flow style you name them things like `feature/registration`. Unfortunately right now your status view will show a name like that as just `feature`

[2015-03-09 01:16] p3lim commented on #55
See #52.

[2015-03-09 01:20] wldcordeiro commented on #52
:+1:

[2015-03-09 01:21] wldcordeiro commented on #55
@p3lim Thanks.

[2015-03-09 01:21] #55 closed

[2015-03-09 02:51] wilsonmiz commented on #34
This is what I wanted, thank you @benregn ! But wish it to be able to integrate into GitSavvy. @divmain

[2015-03-09 03:01] divmain opened #56 "git: generate changelog"
Prompt user for ref or commit hash. Take commit summaries from commits between the entered ref/commit and head, and aggregate into new scratch view.

[2015-03-09 04:20] jtremback commented on #54
+1 It's very hard to read.
![image](https://cloud.githubusercontent.com/assets/1335122/6549901/dfb447f4-c5d8-11e4-84b3-9296f54e90b8.png)

[2015-03-09 04:38] divmain commented on #54
Absolutely. I'll have a fix for this in the next day or so.

[2015-03-09 04:39] divmain commented on #52
This and a couple of other fixes should be out in the next day or so.

[2015-03-09 04:47] #52 closed

[2015-03-09 04:54] #38 closed

[2015-03-09 09:57] iamolivinius opened #57 "Discarding staged files is not possible"
In the status view I'm not able to discard staged files with the `d`-key. For unstaged files this works perfectly.

[2015-03-09 12:05] JonnieCache opened #58 "Warning before discarding changes, dangerous status view key bindings"
I'm used to using SublimeGit, but this looks better so I disable that and install this instead. Bring up the status page, everything looks good. I want to check out the inline diffs, they sound very useful, so I move to a file with some changes and reflexively hit `d` which stands for diff in sublimegit. I'm sure you've worked out the punchline: the first thing I did with gitsavvy was discard a bu

[2015-03-09 13:57] ddevlin commented on #58
Firstly, thank you for this project, the current features are excellent, and I was really excited to see some of the additional functionality you have planned.

Like @JonnieCache, I also got caught out by SublimeGit muscle memory when switching to GitSavvy. I will eventually get used to it, but if you do decide to change the interaction I think a modifier key (e.g. Super+d) or a key sequence like

[2015-03-09 17:42] divmain opened #59 "`git: get CDN URL`"
via rawgit.com

[2015-03-09 18:07] divmain commented on #58
I'd like to find a way to address this - I agree, that's not the best first experience.  @JonnieCache @ddevlin, how do you feel about prompting for confirmation the first time the user ever discards?  After that, the experience would continue as it does now.

Basically, I'd like to avoid exactly what you experienced.  But I also appreciate single-key shortcuts for my own workflow, or if multi-key

[2015-03-09 18:16] alextegelid commented on #58
How about a setting, something like "prompt_before_discard", that defaults to true for new users? That way new users won't risk deleting uncommitted work and experienced users can easily turn those warnings off. 

I experienced the same muscle memory mishap (from SublimeGit), luckily I was only testing GitSavvy on dummy files and didn't loose any actual work. 

—
Alexander Tegelid
070-508 49 90
al

[2015-03-09 18:16] JonnieCache commented on #58
prompting the first time would work. Instinctively I'd prompt the user every time they do anything irreversible to a whole file like that, and let them turn off the prompt in the settings file.

[2015-03-09 18:17] divmain commented on #57
This was intentional - discarding a staged file seems ambiguous, especially if that file is partially staged.

For example, let's say half of `file.ext` is staged, I select `file.ext` in the unstaged section, and then I hit `d`.  The outcome would be as expected - the staged portion would remain staged, and the file in the working directory would revert to HEAD.  `file.ext` in the index would be u

[2015-03-09 18:18] divmain commented on #58
That seems reasonable.  I'll include this in the bug-fix release sometime today.

[2015-03-09 18:34] arubis opened #60 "Handle branch names with slashes"
Git branch names are allowed to have slashes in them; however, GitSavvy status shows only the branch name up until the first slash.

eg. in console:
[code]

...but in GitSavvy:

![status__infra_ _infra](https://cloud.githubusercontent.com/assets/19107/6561642/738f5f7a-c658-11e4-9c25-8de04105bd94.png)

[2015-03-09 19:14] divmain commented on #60
Hey @arubis - this was reported as #52, and a fix is in master.  Should be pushed out to package control users sometime this evening.

[2015-03-09 19:14] #60 closed

[2015-03-09 19:14] arubis commented on #60
Great, thanks! Sorry I missed seeing that on scanning through in the first place :)

[2015-03-09 19:38] dflock commented on #58
Argh! just done this too :(

[2015-03-09 20:32] ethanbustad opened #61 "inline-diff newline change ambiguity"
This code

    Line 1 content
    // comment
    Line 3 content

and this code

    Line 1 content

    // comment
    Line 3 content

generate the same inline diff:

    Line 1 content

    // comment  <--- (green text)
    Line 3 content

There's no indication of whether I've added a newline or not.

If I simply add or remove a newline, the diff acts as expected. It's only when I add text to a p

[2015-03-09 21:25] baer commented on #56
This is already being done by other tools - may want to look into how they are doing it

https://www.npmjs.com/package/conventional-changelog

[2015-03-09 21:58] divmain commented on #56
Thanks!

[2015-03-09 22:16] divmain commented on #61
I'm surprised I haven't noticed this before.  Can you post a screenshot?

[2015-03-09 22:17] jtremback commented on #54
Wow thanks for the quick response! Would it be possible to simply use the built-in 'Diff' syntax coloring in Sublime? This way the colors will match whatever theme is active.

[2015-03-09 22:55] #61 closed

[2015-03-09 23:37] ethanbustad opened #63 "Failure to inline-stage a file"
Tried to stage hunk (h) in inline_diff_file view. Got the following error message in sublime's console:

    `C:\Git\cmd\git.EXE apply --unidiff-zero --cached -` failed with following output:

    error: portlets\testray-portlet\docroot\WEB-INF\jsp\util\testray_run_util.jspf: does not exist in index

The file does exist in the index. However, the previous commit created the file, so maybe that con

[2015-03-09 23:44] #58 closed

[2015-03-10 00:12] #54 closed

[2015-03-10 00:16] divmain commented on #54
@steverandy @jtremback - I've just added configuration options for inline-diff colors.  Divining the correct color based on the user's theme proved to be time prohibitive, so I opted for this more explicit approach.

Once this is pushed out with the next release, you'll have to delete the corresponding generated `.tmTheme` files from `Packages/User/GitSavvy` and restart Sublime.  GitSavvy re-uses

[2015-03-10 01:05] #56 closed

[2015-03-10 05:03] divmain commented on #49
Unable to automatically open new GitHub issue with log text, due to query param length limits.

[2015-03-10 05:23] divmain opened #64 "Inline diff fails if old version has no newline at end of file"
Example:
![screen shot 2015-03-09 at 10 22 36 pm](https://cloud.githubusercontent.com/assets/5016978/6569621/d31e9f12-c6aa-11e4-8bf8-a04482994ea3.png)

The "no newline" messaging should be suppressed.

[2015-03-10 05:24] #49 closed

[2015-03-10 05:29] divmain commented on #48
@iamolivinius - it may be possible to support this, but it'll require a bit more investigation on my part.  I've just added a feature (will be in the release later this evening) that enables recording of the underlying interactions with Git.  Once GitSavvy is updated on your machine, would you mind doing the following:

1. In the command palette, run `GitSavvy: start logging`.
2. Reproduce the err

[2015-03-10 05:40] #44 closed

[2015-03-10 10:59] leemhenson opened #65 "play nice with vintageous"
as a [vintageous](https://github.com/guillermooo/Vintageous) user
when I open ```git: status``` and see that it acts like a normal vintageous-aware document
I do not want any commands (e.g. ```[d]```) to be acted upon unless I am in insert mode

[2015-03-10 13:04] oswjk commented on #63
The same happens when trying to unstage hunks too.

[2015-03-10 13:25] grimborg opened #66 "Inline diff shows empty tab"
Inline diff (cached or not) just shows an empty tab. Regular diff works, though. Using ST3 build 3075.

[2015-03-10 14:01] hanoii opened #67 "Discarding accidentally, too easy"
I really like this plugin, however, since I installed it this weekend, I accidentally discarded two files. I know this is more an error from me than the plugin, but it's just to easy to type 'd' and discard it. The first time I was trying to discard a stash, but somehow, as I didn't had the cursor on the stash, typing [t][d] on a file actually discarded the file.

Today I hit d thinking of diff, a

[2015-03-10 14:35] divmain commented on #67
Hey @hanoii.  Sorry you ran into this.  This was brought up and fixed in #58.  I just rolled out the change in 1.1.0, which should be picked up by package control the next time you upgrade.

[2015-03-10 14:35] #67 closed

[2015-03-10 14:38] divmain commented on #63
@ethanbustad @oswjk, I rolled out v1.1.0 which includes a feature to help debug.  After upgrading, can you:

1. Open the command palette and type `GitSavvy: start logging`
2. Open the inline-diff and try to stage the hunk.
3. Open the command palette and type `GitSavvy: stop logging`
4. Open the command palette and type `GitSavvy: view recorded log`

Then paste the output here.

[2015-03-10 14:40] hanoii commented on #58
I just upgraded and for some reason I am not being prompted for anything, I can see the new setting.

[2015-03-10 14:48] divmain commented on #58
@hanoii, I took another look and there was an issue with reading the settings in certain environments (but not on my dev machine, which is why I missed it).  Just pushed v1.1.1, which should be picked up by package control in the next while.

[2015-03-10 15:15] TheHippo commented on #43
This would be indeed very nice.

[2015-03-10 15:17] TheHippo commented on #36
@p3lim This sounds good.

[2015-03-10 16:04] ethanbustad commented on #63
Here's the output:

    [
      {
        "stdin": null,
        "stderr": "",
        "stdout": "100644 89f4c8f4af82e2ac3f89062a1bbac2e9d35b708d 0\tportlets/testray-portlet/docroot/WEB-INF/jsp/util/testray_run_util.jspf\n",
        "type": "git",
        "command": [
          "ls-files",
          "-s",
          "D:\\Liferay\\source\\EE\\liferay-plugins-ee\\portlets\\testray-portlet\\docroot\\W

[2015-03-10 16:37] TheHippo commented on #43
Any ideas on how this should be implemented UI-wise?

Maybe something similar like the current status view?

[2015-03-10 16:42] wldcordeiro commented on #43
@TheHippo Yeah that would be a good way of doing it or commands in the command palette.

[2015-03-10 17:15] iamolivinius commented on #48
There you go!

[code]

[2015-03-10 18:01] divmain commented on #65
@leemhenson - I just pushed a change to `master` that should resolve this issue.  When you get a chance, can you [pull down the master branch](https://github.com/divmain/GitSavvy/blob/master/README.md#less-simple) and see if the issue is resolved?  If so, I'll include the change in the next release.

[2015-03-10 18:03] divmain commented on #66
Hey @grimborg, is it always broken for you or only under certain conditions?  If you don't mind, can you do the following?

1. Open the command palette and type `GitSavvy: start logging`.
2. Try to open an inline-diff view for a file that wasn't working before.
3. Open the command palette and type `GitSavvy: stop logging`.
4. Open the command palette and type `GitSavvy: view recorded log`.

Also,

[2015-03-10 20:24] hanoii opened #69 "push command in git status tab"
Might be nice to have a push action in the status screen.

[2015-03-10 21:47] flip4bytes commented on #69
Yeah, I was wondering about this as well. I assumed there was probably a reason as to why you chose to not include it though? Would love to see it in there as like "shift+P" or something because it's more of a big deal than just an accidental button press.

[2015-03-10 23:27] divmain commented on #69
The primary reason is that I tried to restrict status dashboard actions to those that interact directly with the index (or stashes).  If enough people would like to see push/pull from the dashboard, I'm happy putting it in.  I just want to avoid the dashboard getting too bloated or doing too many things.

[2015-03-11 01:53] p3lim opened #71 "Error when pushing/pulling"
Got this error when trying to push a new branch to a remote:

[code]

I also saw something similar when trying to pull from a secondary remote, but I can't say for certain what was the causing factor.

[2015-03-11 02:01] p3lim commented on #71
Not 100% sure what is causing this, if you need me to test I'll get a test case going tomorrow.

[2015-03-11 02:20] p3lim opened #73 "Error when fetching"
[code]

[2015-03-11 03:33] #73 closed

[2015-03-11 03:35] divmain commented on #71
There was a change in the accepted parameters for this method from one ST3 version to the next.  It can be overcome using keyword args instead.  I'll fix this tonight.

[2015-03-11 05:06] #71 closed

[2015-03-11 05:49] divmain commented on #66
Wondering if this is for files that were previously untracked.  I never got that to work properly (because the compare-to version isn't tracked by Git).  Whether it is or not, the behavior for inline-diffing previously untracked files should be more explicit.

[2015-03-11 07:15] divmain commented on #63
Np about sanitizing the file - if you don't mind checking a couple of other things, that'd be helpful.  The diff appears reasonable.  Can you confirm that the line numbers match up?

For example, in the above output, there should be a file `portlets\testray-portlet\docroot\WEB-INF\jsp\util\testray_run_util.jspf`, and line 23 should be (`\t` is a tab):
[code]

If the line numbers don't match up, th

[2015-03-11 07:15] #57 closed

[2015-03-11 07:32] #48 closed

[2015-03-11 07:33] divmain commented on #48
Thanks for the log output @iamolivinius.  Just cc'd you on a commit, which is now in master.  Can you confirm that the change fixes the issue you were seeing?  From appearances, this had nothing to do with the encoding of the file.

[2015-03-11 08:15] #64 closed

[2015-03-11 08:16] divmain commented on #64
"No newline" messaging is not suppressed, but inline-diff otherwise behaves as expected.  Removing messaging proved to be overly involved without much benefit.

[2015-03-11 08:33] leemhenson commented on #65
Ok, I've installed it from master and it looks like it is now completely disabling Vintageous on the status view....

[2015-03-11 08:46] leemhenson commented on #65
Oh I think I miscommunicated my wish. I don't want Vintageous disabled, I just want GitSavvy to only respond to keypresses if I am in Vintageous' insert mode. I should be able to use Vintageous (and other plugins, e.g. EasyMotion) to move my cursor to the appropriate filename, switch to Insert Mode and then stage, commit etc.

[2015-03-11 08:47] leemhenson commented on #65
If it's any help, I got the same thing implemented on SublimeGit too: https://github.com/SublimeGit/SublimeGit/issues/125

[2015-03-11 10:19] iamolivinius commented on #48
Thanks, this fixes the blame command for me! :+1:

[2015-03-11 10:33] p3lim commented on #9
So basically [GitGutter](https://packagecontrol.io/packages/GitGutter)?

[2015-03-11 16:27] ethanbustad opened #75 "Handle all valid git branch names?"
Related to https://github.com/divmain/GitSavvy/issues/52 (and https://github.com/divmain/GitSavvy/issues/60).

My current requirement is that branch names with a period display correctly. Currently branch `ee-6.2.x` is showing up as `ee-6`.

However, given the previous issues which described a similar problem, it seems worthwhile to prevent an issue a week for handling another valid branch name, u

[2015-03-11 16:31] benmosher commented on #26
Looks great. Fantastic workflow description, @baer. Looking forward to this.

[2015-03-11 16:38] hanoii commented on #69
They are just too frequently used that I would expect it to see it there. They are primary buttons in SourceTree, not that this is any similar, but it's really into my workflow.

Anyway, as sublime is all about configuration, this could just also be another configuration entry in which you can have extra actions on the status page :)

I am really enjoying using GitSavvy, good work!

[2015-03-11 17:06] p3lim commented on #10
I was thinking about tackling this one today, as I use tags quite a bit in my projects.

I wanted to hear with your first though, do you want it to be handled by the menus entirely, or do you want something more like the status window?
Both have their advantages and disadvantages.

[2015-03-11 20:01] #34 closed

[2015-03-11 20:03] ethanbustad commented on #63
Just got this again, ironically, while working on GitSavvy. The log output is at https://dl.dropboxusercontent.com/u/101485540/sublime/gitsavvy_diff_error.json, this time with no file contents sanitized. The code can also be found in https://github.com/divmain/GitSavvy/pull/77.
The lines look accurate to me.
`git config --get diff.mnemonicprefix` yields nothing, which I assume means it's not set.

[2015-03-11 20:42] divmain commented on #63
Can you send me the commit hash of where you are in GitSavvy, as well as a diff representing the working dir?  If I have something I can consistently reproduce, this will be much easier to work out.

[2015-03-11 20:53] divmain commented on #65
Can you explain a bit more about how this works in SublimeGit?  I'm happy to address this, but the more information you can give me, the sooner I'll get to it?

Also, how would you feel about a key-combo that:
- disables GitSavvy's status view key-bindings
- removes `__vi_external_disable` from the view (enabling Vintageous key-bindings)

On second press, it would do the opposite.  There could be

[2015-03-11 20:54] divmain commented on #9
Ha - pretty much, although I don't think GitGutter disambiguates between stated and unstaged changes in a file.  But perhaps that'd work better as a PR for GitGutter.  I'll close and revisit if necessary.

[2015-03-11 20:54] #9 closed

[2015-03-11 20:57] divmain commented on #10
I was thinking something similar to the status view.  I like the way I can interact with stashes in the command view, and I imagine it'd be a similar productivity boost here.  Basically `git: tag` palette command takes you to the TAGS view.  Does that sound reasonable?

[2015-03-11 21:26] p3lim commented on #10
I agree on using a view for this, but I'm still going to implement some quick commands for the menu as well (just like with commit there is quick commit).

I don't mind the work that is required by this, I'm really enjoying Python so far, fantastic language.

[2015-03-11 21:31] p3lim commented on #34
Would it be (technically) possible to move this to the right instead?

The left is already cluttered by output and other information about the view, and without the capabilities of icons like in Atom (atleast I don't think there is a way of adding icons to the status bar), it's a bit messy.

[2015-03-11 21:34] ethanbustad commented on #63
I'm at `1876c02`. Diff is:

    diff --git a/core/git_mixins/active_branch.py b/core/git_mixins/active_branch.py
    index 0cf3c8b..8f35f88 100644
    --- a/core/git_mixins/active_branch.py
    +++ b/core/git_mixins/active_branch.py
    @@ -1,4 +1,5 @@
     import re
    +import string

     class ActiveBranchMixin():
    @@ -34,7 +35,8 @@ class ActiveBranchMixin():
             if first_line.star

[2015-03-11 21:34] divmain commented on #34
@p3lim - as far as I know, this is not supported.  See `set_status(key, value)` [here](https://www.sublimetext.com/docs/3/api_reference.html#sublime.View).

[2015-03-11 21:36] divmain commented on #63
Awesome, thank you!

[2015-03-11 21:38] p3lim commented on #34
In that case, please make the status feature optional.

[2015-03-11 21:39] divmain commented on #10
:+1:

[2015-03-11 21:39] #75 closed

[2015-03-11 21:43] divmain commented on #34
Can do.

[2015-03-11 22:09] divmain commented on #69
@hanoii - do you envision it would directly do `git push`, or would it prompt for remote/branch like `git: push to branch name` does now?

[2015-03-11 23:57] ethanbustad opened #79 "Git log doesn't open until hitting another key (windows)"
Just tried `git: log` for the first time.

At first I thought it didn't do anything. When I hit ctrl+shift+p again to see if I could get it to work the second time, I briefly saw the command palette, then the `git: log` menu showed up. Seems like it isn't a timing problem - the `git: log` menu just doesn't come up until I open up the command palette again.

This isn't the intended behavior, right?

[2015-03-12 00:38] ethanbustad commented on #79
Screen capture:
![issue79](https://cloud.githubusercontent.com/assets/2229593/6609903/6c7daeb2-c815-11e4-81b0-b9a58998e1f6.gif)

[2015-03-12 01:59] hanoii commented on #69
@divmain I'd say a straightforward push/pull, at least that's what's most common on my workflow.

[2015-03-12 04:00] divmain commented on #79
Hmm... this sounds like a Sublime bug.  Can you put a `print` statement in your local version, right before [this code block](https://github.com/divmain/GitSavvy/blob/f90d409835e228f0a6cc89de39b4f13f57071373/core/commands/log.py#L50-L55)?  You'll either have to restart Sublime or run `GitSavvy: reload modules (debug)` (if you have `debug_mode` set to true in `User/GitSavvy.sublime-settings`.

[2015-03-12 06:22] divmain commented on #79
Hmm just realizing that if you're in the GitSavvy repo, you should be anywhere near the limit, so that's not going to help.

[2015-03-12 06:47] #35 closed

[2015-03-12 08:47] alextegelid opened #81 "local variable 'stdout' referenced before assignment"
Appears in console when a new window is opened since updating to ver 1.2.0

[2015-03-12 10:09] #81 closed

[2015-03-12 10:10] divmain commented on #81
@alextegelid - sorry about that, 1.2.1 will fix the issue once its picked up by package control.

[2015-03-12 10:11] alextegelid commented on #81
Thanks, I'll pull it from GitHub right away!

[2015-03-12 10:15] divmain commented on #81
There was a typo, so use 1.2.2.  Thanks for giving me the heads-up.

[2015-03-12 10:19] alextegelid commented on #81
Will do, thanks!

[2015-03-12 10:43] leemhenson commented on #65
In SublimeGit I use a setting:

```"git_status_disable_vintageous": false```

and that's all I need to do. Vintageous operates normally and when I switch to insert mode, all of Sublime Git's keybindings are activated. Drop out of insert mode, and the SG keybindings are deactivated.

[2015-03-12 11:32] ddevlin opened #82 "Duplicate cursor created after viewing stash"
After viewing a stash, when returning to the status view, a duplicate cursor is created at line 1 column 1. This interferes with further line based actions like reopening the stash. GitSavvy 1.2.0 / Sublime Text Build 3075.

![2015-03-12 11_24_29](https://cloud.githubusercontent.com/assets/912471/6616851/8ba7244a-c8aa-11e4-951c-249c21bcc8b6.gif)

[2015-03-12 12:06] sentience opened #83 "Custom commands"
I frequently want to pull the latest upstream changes to a branch and then re-apply my own unpushed changes. This is done from the command prompt using `git pull --with-rebase`.

I’m able to do this with the SublimeGit package using its support for [custom commands](https://docs.sublimegit.net/customizations.html#customizations-commands).

[2015-03-12 12:12] sentience opened #84 "Global flags for specific git commands"
Many of the projects I work on require that feature branches remain in the repo history even after they are merged. I therefore always merge with `git merge --no-ff`.

I’m able to do this with the SublimeGit package using its `"git_merge_flags"` setting.

[2015-03-12 15:51] lumpysimon commented on #40
+1 for BitBucket integration :)

[2015-03-12 17:19] divmain commented on #82
Let me try to reproduce this - definitely a bit strange!

[2015-03-12 17:19] divmain commented on #65
@leemhenson, I'll take a whack at this.  From your description, Vintageous must either set properties on the view when not in insert mode, or it provides a hook of some sort for when the transition occurs.

[2015-03-12 20:03] jdoconnor opened #85 "support force push"
Maybe I missed this, but if there's a way to rebase and and amend commits, force push should also be a valid option.

[2015-03-12 23:12] #82 closed

[2015-03-12 23:12] divmain commented on #82
Thanks @ddevlin, this will be fixed in the next release.

[2015-03-12 23:47] divmain commented on #63
I tried this on my Mac and could not reproduce.  Specifically:

1. `git remote add alt git@github.com:ethanbustad/GitSavvy.git`
2. `git fetch alt`
3. `git checkout reproduce-issue-63`
4. `git checkout HEAD^`
5.  Copy the following into my clipboard:

[code]

6. `pbpaste | git apply -`
7. GitSavvy shows the changes, so open inline-diff view.
8. Staging hunks/lines works as expected.

I'll try repro

[2015-03-13 01:05] p3lim commented on #85
:+1:

[2015-03-13 04:40] divmain commented on #65
@guillermooo, hope you don't mind my asking: can you recommend a strategy for accomplishing this?  Essentially, key-bindings for GitSavvy should only be in effect when Vintageous enters insert mode.  I took a cursory look through the Vintageous codebase and didn't see any obvious view settings that I could check for.

[2015-03-13 07:31] #79 closed

[2015-03-13 07:31] divmain commented on #79
Should be fixed in the next release.

[2015-03-13 07:41] divmain commented on #63
I am able to reproduce in a Windows VM.  Stay tuned...

[2015-03-13 08:38] #63 closed

[2015-03-13 08:39] divmain commented on #63
@ethanbustad, can you pull down master when you get a chance?  I was able to resolve this in my VM, but not sure if it solves this issue in all cases.  Would like confirmation beyond my own tests before including it in a release.  Thanks again for the repro steps, that proved to be very useful!

[2015-03-13 09:36] matrixagent commented on #40
GitLab support (especially self-hosted) would be all kinds of awesome. :tada:

[2015-03-13 16:23] ethanbustad commented on #63
Will do!

[2015-03-13 16:45] ethanbustad commented on #63
Fixed! I'll continue to test, as I've seen this bug elsewhere as well, but the steps I gave you yesterday that consistently revealed the bug are now working correctly. Thanks for the fix!

[2015-03-13 20:11] irhs opened #86 "Stage and commit selected text (hunk) in a file"
I frequently find that I want to commit certain parts of my modified file, leaving the rest of the changes in working tree. Equivalent of 'git add -p'. With the sublime text2 git plugin I could select text from a file and stage and commit those.

This feature would be a good addition.

[2015-03-13 20:12] alextegelid commented on #86
Try the inline diff view in GitSavvy, that’s what you’re looking for.

—
Alexander Tegelid
070-508 49 90
alex@tegelid.se
—
Sent from Mailbox App.

On Fri, Mar 13, 2015 at 9:11 PM, irhs <notifications@github.com> wrote:

[2015-03-13 20:40] irhs commented on #86
Ah. I missed that. Thanks for pointing out.

[2015-03-13 20:40] #86 closed

[2015-03-13 21:01] p3lim opened #87 "Tags view cursor inconsistency"
The cursor is not being placed correctly on view changes, as mentioned in #80.

[2015-03-13 21:03] p3lim opened #88 "Tags view improvements"
Continuation of #80.

- Suffix remote tags to the local tags section when they exist locally
- Give the same treatment to the remote section(s), only having one section instead of a section for each remote.

[2015-03-13 21:07] divmain commented on #10
Closed by #80.

[2015-03-13 21:07] #10 closed

[2015-03-13 21:51] #84 closed

[2015-03-13 21:51] divmain commented on #84
@sentience, this will be included in the next release.

[2015-03-13 22:57] hanoii opened #89 "Repeat last commit message"
This is something I sometimes find nice of GIT ides, I appreciate is not all the time, but sometimes you are working on something and you have some common text on the commit message, like a module prefix or something and it's nice to maybe just have the last commit message already pre-filled, maybe commented.

Again I think this should be configurable.

[2015-03-13 22:59] hanoii opened #90 "No visible feedback when git push requires user input"
Today I pushed to a host, and because I removed .ssh/known_host, git push was probably asking me to confirm the SSH signature of the remote host, which happens normally on a terminal.

I saw no feedback on sublime about this and I really thought that git push was failing for some other reason external to me. It might be good to know if a commend failed or is requesting user action for any reason.

[2015-03-13 23:29] divmain commented on #90
This one is complicated.

As it is, the user will be shown the `stderr` output if a `git` command fails.  However, if it hangs (waiting for user input, for example), the plugin will continue waiting for the process to end.  Usually, `git` knows it is not in a terminal and fails hard where it would normally prompt for input.  So I'm surprised that isn't the case here.

I'll do some investigation to

[2015-03-15 09:56] alextegelid opened #91 "Close view if repo not initialized for GitSavvy UI view"
If the git directory was removed outside of ST and the Status view was active (might affect other GitSavvy views aswell), GitSavvy will ask the user to init a new repo. Upon pressing cancel the same question appears again, and again.

The only way to stop it seems to be to press OK and actually create a new repo.

**Steps to recreate:**
• Open Status view with an existing git repo
• Delete the .gi

[2015-03-15 16:14] NicoSantangelo opened #92 "Checkout current file"
Hello!

The only feature I miss from SublimeGit it's the ability to checkout the current active file to HEAD without having to go to the status view.

I've implemented this in GitSavvy like this:

[code]

and in Default.sublime-commands:

[code]

I didn't add `@util.actions.destructive(description="discard a file")` because it's a direct action against the file.

I don't know if this really is use

[2015-03-16 03:22] divmain commented on #92
Hey @NicoSantangelo, I'm happy to add this myself but would also welcome a PR if you want your name on it.  `core/commands/checkout.py` looks good for the palette command.

One additional note, you can reference `self.file_path` to get the file name, which should normalize the path relative to the repository root, and also allow this to work in inline-diff views.

[2015-03-16 03:52] divmain commented on #91
Hmm interesting.  I think in this case, a message should be displayed and the status/inline-diff/whatever view should be closed.

Otherwise, we'd have to either 1) riddle the code base with checks in random places, or 2) disable GitSavvy for a view that could never be recovered from (like if the user returned to the terminal, did `git init`, and returned back to the view).

[2015-03-16 05:18] alextegelid commented on #91
True. Closing the view makes more sense!

[2015-03-16 07:31] thechinnster opened #93 "Status View: branch names truncate after period"
Any part of a branch name after a period is truncated. Example: if my branch is `release/v1.11` the first line of the status view is:

[2015-03-16 08:59] divmain commented on #93
Hi @thechinnster.  This was initially caught in #77 - the fix is in master and will be included in the next release.

[2015-03-16 08:59] #93 closed

[2015-03-16 19:29] NicoSantangelo commented on #92
Great! I didn't realized that I could use `self.file_path`.
I'll send the PR today (adding the docs).

Thanks

[2015-03-17 07:52] #8 closed

[2015-03-17 07:54] divmain commented on #8
@ethanbustad - If you have some time, would you mind test driving this feature for me?

[2015-03-17 08:03] divmain commented on #59
Feeling meh about this feature now.  Closing.

[2015-03-17 08:03] #59 closed

[2015-03-17 08:08] divmain commented on #83
- [ ] take an array of args like `GitCommand#git`
- [ ] support string interpolation for arguments for `{FILE_PATH}` and `{REPO_PATH}`
- [ ] support non-git commands (that nonetheless rely on running in project's root dir)
- [ ] support output to panel or new scratch view
- [ ] accept flag to run as shell command, to support basic sh capabilities

[2015-03-17 08:29] p3lim commented on #8
If a remote branch is deleted from somewhere else than the current system, it will still show up in the list, and the user will be unable to delete it because the remote ref doesn't exist.

[2015-03-17 15:51] ethanbustad commented on #8
@divmain will do

[2015-03-17 16:18] ethanbustad commented on #8
@divmain Tried `checkout`, `create new branch (from HEAD)`, `delete`, and `delete (force)`, and it all seems to work great on my Windows machine. I'll test the other commands as the need arises and let you know if I have any problems.

[2015-03-17 16:41] ethanbustad commented on #8
@divmain One thing to consider.... I have a lot of remote branches in one repo (over 1000), so I have to scroll way down to see the possible actions I can take. Would it make sense to show the actions at the top of the branch page, and then list the branches below that? That'd probably affect several other places as well if the UI is to be consistent.... Just a thought. Let me know what you think.

[2015-03-17 16:47] p3lim commented on #8
@ethanbustad What about having an option to show the keybindings text in a panel that could be hidden, and add a keybinding (I suggest `h` for help) to show it again. Would be great for power users.

[2015-03-17 18:28] divmain commented on #8
@ethanbustad @p3lim, I've just added a key-binding to toggle display of remote branches.  Let me know if it helps.

[2015-03-17 18:43] p3lim commented on #8
Nice addition, I'd love to see that in the tags view as well!

[2015-03-17 18:51] divmain commented on #8
It'll be necessary to go back and refactor status and tags view using this new abstraction, to get some of the benefits.  Once done, ideally, it should be trivial to update pieces of the UI (it adds regions for partial sections of the rendered template), or implement uni-directional flow of data for rendering depending on which works best in context.

[2015-03-17 20:30] #85 closed

[2015-03-17 20:34] divmain commented on #33
Considering the number of features that are being added, I think this may be over-reaching.  Closing.

[2015-03-17 20:34] #33 closed

[2015-03-17 20:37] divmain commented on #50
- [ ] convert commit view to `ui.Interface`
- [ ] enable region-based retrieval of commit message
- [ ] in-view toggle-able display of relevant diff
- [ ] add embedded syntax-highlighting for diff (defining scope for region)

[2015-03-17 20:39] divmain commented on #43
@wldcordeiro @TheHippo - a new `git: branch` dashboard is in master and will be landing in the next release.  Do you think this would be an appropriate place to include git-flow features?

[2015-03-17 20:54] TheHippo commented on #43
@divmain The `git branch` dashboard looks good. :blush:

I think it would be better to have `git flow` on its own dashboard, because:

* Although `git flow` is basically just juggling with git branches it is different from using git branches since branches have a certain context (release, feature, etc.)
* Users who don't use `git flow` probably could become confused having some git flow terms on t

[2015-03-17 20:57] TheHippo commented on #31
Are people still using `submodule`. Nearly everybody I know switched to [`git subtree`s](http://blogs.atlassian.com/2013/05/alternatives-to-git-submodule-git-subtree/)?

[2015-03-17 21:03] divmain commented on #31
We still use it for some projects internally - I'm deferring this (that's basically what my next-next milestone is for) until I can dig in and see if it is worth the effort.  I can take a look at subtrees too.

[2015-03-17 21:51] divmain commented on #43
Alright, so ideally this issue encompasses:

- `git flow: FEATURE OF GITFLOW` palette commands
- `git flow: dashboard` with similar layout to branch view but with flow-specific context and key-bindings

That works alright for me.  Since I'm only casually knowledgable of git-flow, if you have ideas specifically wrt what the dashboard might do/look like, I'd find that very useful.

[2015-03-17 22:05] TheHippo commented on #43
The palette commands would be good for like 90% of the usage.

The dashboard could should a list of all currently started features, releases, hotfixes  and support branches. Other than starting and closign these it should be possible to push a single feature/release/etc. (`git flow feature publish feature_name`) or pull a feature/release/etc from a remote (`git flow feature track feature_name`)

[2015-03-17 22:27] wldcordeiro commented on #43
@TheHippo publish and finish are different from each other. When you start a feature it's local to you, publish will actually create a remote branch to match.

[2015-03-17 22:50] #13 closed

[2015-03-17 23:04] #92 closed

[2015-03-18 00:21] divmain commented on #15
I've decided this is out of scope.

[2015-03-18 00:21] #15 closed

[2015-03-18 00:26] #39 closed

[2015-03-18 12:01] p3lim commented on #31
A lot of people on Windows use submodules instead of subtrees since subtrees is not easily installed, while submodules ships with Git itself.

[2015-03-18 12:47] TheHippo commented on #31
subtrees are part of git since version 1.7.11. But they do not need an interace in GitSavvy, because once initialised they blend in with  the normal tree.

[2015-03-18 13:32] p3lim commented on #31
@TheHippo ![image](https://cloud.githubusercontent.com/assets/26496/6709674/61cfba30-cd7b-11e4-9af0-f4d38bbc4479.png)

[2015-03-18 16:38] jipumarino opened #98 "Add/remove hunks and lines in "diff all files" view"
Currently, this can only be done in the "diff file inline" view.

[2015-03-18 17:27] p3lim opened #100 "Remote branches in the branch view"
In commit 985fc6260e83b4e149ceef34286bbf9f3317580e you changed the method used to delete remote branches. Instead of deleting them on the remote, you're only allowing the user to delete the tracking of the remote branch, not actually deleting the branch.

Depending on what you'd want to do with this, you have two options:

1. If you intend to _not_ delete remote branches, don't show them at all (u

[2015-03-18 17:31] divmain commented on #98
Hi @jipumarino - if you run `git: diff`, you are able to stage individual hunks from the resulting view (see [here](https://github.com/divmain/GitSavvy/blob/master/docs/staging.md#git-diff)).  You can also remove hunks from the index using `git: diff (cached)`.

I don't have plans to support staging individual lines from this view, mostly because of the complexity involved that was already solved

[2015-03-18 17:31] #98 closed

[2015-03-18 17:32] divmain commented on #42
Leaving a note for myself: this feature will present a view similar to `git: diff`, but will allow user to edit the diff at their own peril.  Upon submission, that diff will be applied to the index.

[2015-03-18 17:43] jipumarino commented on #98
Oh, sorry. I tried using the same shortcuts as in the file diff. Thanks!

[2015-03-18 18:32] divmain commented on #98
No worries!

[2015-03-18 18:35] divmain commented on #100
I should have tested this better.  I'm going to revert to the previous behavior for now, since the user will be notified that the push failed, and they can fetch to update the branch list.

[2015-03-18 18:37] #100 closed

[2015-03-18 18:49] p3lim commented on #100
The fetch command from GitSavvy doesn't prune, I suggest either adding one that does or simply add pruning to the existing one.

[2015-03-18 18:51] p3lim commented on #100
Also, adding a fetch keybinding to the branch view wouldn't hurt :smiley:

[2015-03-18 21:26] TheHippo commented on #31
@p3lim Interesting. I'm exclusively develop on Linux and `git subtree` installed everywhere since mid 2012.

[2015-03-18 21:44] p3lim commented on #31
@TheHippo Which is why I specifically said Windows in https://github.com/divmain/GitSavvy/issues/31#issuecomment-82935088 :smile:

[2015-03-18 23:03] thechinnster opened #101 "Pull Current Branch"
Pulling the current branch is rather difficult now since it requires three separate steps: pull, choose remote from menu, choose branch from menu. Since the git default for Pull is to pull the current branch it would be nice to have a single command for this in GitSavvy.

[2015-03-18 23:35] divmain commented on #101
I'd consider adding this.  The remote and branch should be preselected, which means:

1. open palette
2. start typing "git pull"
3. press enter - enter - enter

Do you find this is too much interaction anyway?

[2015-03-19 02:41] maxim opened #102 "Show current file feature"
Git package had a very convenient feature: "show current file". It's just like GitSavvy's "log current file", but instead of taking you to full commit diff, it just opens current file at chosen revision. It helps you see how a particular file looked in the past, and manually bring back some code. I don't see an equivalent in GitSavvy, would be awesome to have it. That's pretty much the only thing

[2015-03-19 02:58] divmain commented on #102
It shouldn't be difficult to implement as described.  I've also considered a view where you can walk back in time for a particular file.

For example, you open the palette, type something like `git: show file at...`, select a revision, and the view pops up.  This sounds like basically what you've described.  However, at that point, you could then hit maybe <kbd>Super</kbd>+<kbd>Left</kbd>, and the

[2015-03-19 03:09] maxim commented on #102
@divmain This walking sounds super convenient (which is what I love about GitSavvy, you just keep taking things a step or two further). Imho, it's such a clean addition that it doesn't even have to be done in 1st iteration of this feature, can be added later, but yes, definitely would instause it.

[2015-03-19 03:14] maxim commented on #102
I would give default key combo a bit more thought however. <kbd>Super</kbd>+<kbd>Left</kbd> and some other similar bindings are often taken, but say my <kbd>Ctrl</kbd>+<kbd>Alt</kbd>+<kbd>Left</kbd> is available.

[2015-03-19 04:36] divmain commented on #102
Hmm, I think <kbd>Ctrl</kbd>+<kbd>Alt</kbd>+<kbd>Left</kbd> may effect the screen orientation in Windows 7 and later.  How about:

- <kbd>Ctrl</kbd>+<kbd>Shift</kbd>+<kbd>Left</kbd> - walk back in time (Windows)
- <kbd>Ctrl</kbd>+<kbd>Shift</kbd>+<kbd>Right</kbd> - walk forward in time (Windows)
- <kbd>Super</kbd>+<kbd>Shift</kbd>+<kbd>Left</kbd> - walk back in time (Linux/OS X)
- <kbd>Super</kbd>

[2015-03-19 05:05] maxim commented on #102
Problem is, you still want to select/copy/navigate the text in that file, and <kbd>Super</kbd>+<kbd>Left</kbd>/<kbd>Right</kbd> is used to jump to beginning/end of line. Holding <kbd>shift</kbd> does the same + selection. So the advantage of <kbd>Ctrl</kbd>+<kbd>Alt</kbd> is that at least it's doesn't seem to be bound to any standard editor functions, and these keys would still be configurable.

[2015-03-19 05:07] divmain commented on #102
We need more modifier keys!  Maybe left/right keys aren't the right thing to use here, even though they're the most obvious.

[2015-03-19 05:20] maxim commented on #102
Yeah, it's hard to pick the keys. Also it's complicated by the the fact that even though the file is non-editable, you still wouldn't want to restrict navigation in it, including for people like myself who use Vintage/Vintageous (vim simulation).

[2015-03-19 06:00] alextegelid commented on #102
I second this, especially with the walking (next/prev) feature. 

How about this for keyboard shortcuts? Ctrl+super+alt as modifiers, and dot and comma as next/prev (or vice versa, whichever makes the most sense).

These keybindings would then be similar to the inline diff view where dot and comma is used to walk through the hunks.

[2015-03-19 11:22] pdanpdan opened #103 "Syntax for branch shows as syntax for status"
Hello.
I just noticed that the syntax files for branch (branch.tmLanguage and branch.YAML-tmLanguage) show as Syntax Savvy Status

[2015-03-19 16:00] ethanbustad commented on #102
:+1: for the feature, :+1: for using dot/comma to mimic inline diff

[2015-03-19 17:15] jipumarino opened #104 "Reopen views in same tab"
Currently, when choosing "git: status" or any other view from the command palette, a new tab/sidebar entry with the interface is opened. I think it's better to just open the same one if it's already opened.

This image can clarify what I mean:
![branches scribd scribd 2015-03-19 14-12-15](https://cloud.githubusercontent.com/assets/2559/6736243/5f5d7270-ce42-11e4-886d-5376d97edd4f.png)

[2015-03-19 17:34] thechinnster commented on #101
Having defaults pre-selected for origin remote and current branch would be much better and would be totally acceptable as far as I'm concerned. It was the selection of remote and branch that was making it onerous.

[2015-03-19 17:37] alextegelid commented on #104
Yes! That's something that I've been thinking of aswell. That'd be awesome👍

[2015-03-19 17:38] p3lim opened #105 "[WinError 267] The directory name is invalid"
Whenever I open up or select a tab with content that should exist on the harddrive but doesn't (file opened from a Zip file so it's in /Temp, or simply opening the Default settings/keybindings for sublime), I will get the error `[WinError 267] The directory name is invalid`, marking the file as dirty.

Also, if I have any of those files opened in Sublime, close Sublime and reopen it, the tab is go

[2015-03-19 17:40] p3lim commented on #105
Full error:
[code]

[2015-03-19 17:43] #103 closed

[2015-03-19 17:47] divmain commented on #101
@thechinnster, I'm realizing that `origin` may not be pre-selected for remotes (I will definitely fix that), but the branch name should be pre-selected for sure.  Are you not seeing pre-selection for branch?

[2015-03-19 17:58] #105 closed

[2015-03-19 17:58] divmain commented on #105
@p3lim would you mind letting me know if this resolves the issue for you?

[2015-03-19 18:00] divmain commented on #104
I think as I refactor the status and tag dashboards, this should be easier to do.  I'll start with branch dashboard as proof of concept, and if it works out, the others will be addressed as part of the refactor.

[2015-03-19 18:03] p3lim commented on #105
That fixed it, thanks

[2015-03-19 18:06] divmain commented on #105
Sorry, I just re-read this and realized that you were going to address.

[2015-03-19 21:14] yyyc514 opened #106 "Tags show commit should open commit same as blame"
Any reason the behavior here is not standardized?  One opens a new tab, the other uses an output panel?  I could submit a PR to standardize this.  Can we agree on a single behavior?  Or a configuration option to choose behavior?

[2015-03-19 21:22] yyyc514 commented on #11
How would this work?  Would you get a list or be presented with a list in a view and then have to choose commits individually as a separate action?

[2015-03-19 21:34] divmain commented on #106
The reason was that I didn't catch it in review :)  @p3lim, was there a reason you preferred the panel over a scratch view?  I prefer the scratch view because 1) it doesn't disappear after closing/re-opening sublime, and 2) it is easier to review long diffs.  However, I'm not averse to making this configurable if there's a good reason.

[2015-03-19 21:35] yyyc514 commented on #104
Seems like you could replace/supliment `get_read_only_view` with `create_or_find_read_only_view(context, name, title)` and then just search existing views for a matching `title`, no?  If title matches (and it's a gitsavvy view) return that view, otherwise return a new view?

Sound about right?  Trying to find someplace easy I could start helping contribute.

[2015-03-19 21:36] yyyc514 commented on #104
It might work with name alone, I'd have to review how repo_path works and see if you can't open up a higher level directory that has two different git repositories in subduers.

[2015-03-19 21:37] yyyc514 commented on #106
Oh I'd prefer scratch also.

[2015-03-19 22:13] p3lim commented on #106
Personally, I prefer the panel, simply because it doesn't take me out of the original view I was in, it just overlays with temporary information (commits/diffs), which could become especially useful in the graph view.

I can agree on it not being the default method of showing it, but I would like to see an option for it somewhere down the road.

[2015-03-19 22:17] divmain commented on #106
Fair enough. And there's no need to change the behavior without making it configurable as part of the same effort.

[2015-03-19 22:31] divmain commented on #104
@yyyc514, if you'd like to take a look at this, start with the branch dashboard and the UI module.  I plan to port over existing functionality from status and tags views soon, as this will provide a more solid base for enhancement (and consistency) moving forward.

Wrt this ticket, since it is only relevant for interfaces/interfaces-to-be (and not other types of views), there is already the interf

[2015-03-19 22:49] yyyc514 opened #107 "Show what will/won't be committed same as default git commit template"
IE:

[code]

We can get this from `git commit --dry-run` with a few small tweaks.  I like the single pounds to differentiate it from the above help, but we could also use ##.

[2015-03-19 22:54] yyyc514 opened #108 "Allow user to set a custom syntax for making commits"
This would allow a lot more flexibility and integration with packages like https://packagecontrol.io/packages/Git%20Commit%20Message%20Syntax.  We don't need to necessarily own the syntax file for making commits (unless we really want to, in which case we could merge in a more thorough syntax).

This goes right along with request #107 and relates to #41.

[2015-03-19 22:54] yyyc514 commented on #107
It would be nice to get the meat (what's changed) a little higher... could the notes about github issues be placed below?  Thoughts?

[2015-03-19 23:16] yyyc514 opened #109 "git commit should use -a rather than calling add_all_tracked_files"
I'm not sure why we wouldn't use the built in option to `commit` to stage modified/deleted files.  Doing it manually can results in a weird error case.  If the add should happen but the commit should fail for some reason now your tree is in a state you may not expect... just passing `-a` to commit makes commit a wholly atomic operation.  It succeeds or fails completely, there is not in-between sta

[2015-03-19 23:17] yyyc514 commented on #109
This relate to #107 since the idea is to show what would happen... asking `git commit -a` can show us what would happen easily without the need to actually stage the files.  Of course this isn't a requirement for 107, but it's the context that caused me to stumble across this.

[2015-03-20 00:23] zx8 commented on #102
Seems like an awesome idea! +1

[2015-03-20 02:28] yyyc514 commented on #107
https://github.com/divmain/GitSavvy/pull/111

[2015-03-20 02:40] yyyc514 commented on #89
You're not talking about amend but rather a sequence of commits that are related?  Why not put them all in a branch then merge?

[2015-03-20 02:48] p3lim commented on #107
Try setting the option `show_commit_diff` to true, it'll show a diff for the commit.

[2015-03-20 02:52] yyyc514 commented on #90
Could we use more manual file IO here against Popen's stdout/stderr vs using `communicate` and then check for the most common error conditions that would cause a hang (ssh keys, etc)?  That way you could abort instead of hanging forever.

[2015-03-20 03:00] yyyc514 commented on #51
I saw this. Why not just pass the full thing to git?  It's going to ignore the comments.  That's how the existing git edit workflow works if you let git drive the process.

[2015-03-20 03:17] yyyc514 opened #112 "Support git push --set-upstream"
We should support:

`git push --set-upstream origin feature/show_commit_summary`

Is there some way to do this already that I'm missing?

[2015-03-20 03:18] yyyc514 commented on #112
Maybe we could overload the remote selection by having options for both the remote and remote (set upstream)?

[code]

[2015-03-20 03:35] yyyc514 commented on #107
Perfect IF what I wanted was a diff.  What I'm going for is to match the default git behavior for editing commits.

[2015-03-20 03:37] yyyc514 commented on #51
Ah, this is because of showing a full diff...

[2015-03-20 03:38] yyyc514 commented on #51
Can we control the view layout?  Sure seems like this would make a lot more sense with commit on top and actual diff (in it's own view) on bottom.

[2015-03-20 03:39] yyyc514 commented on #51
Splitting, syntax coloring, etc...

[2015-03-20 04:07] p3lim commented on #107
Ahh, now I know what you mean.

[2015-03-20 05:00] sentience commented on #84
Awesome, thanks!

[2015-03-20 05:34] p3lim commented on #112
Take a look at the global_flags option.

[2015-03-20 06:53] divmain commented on #112
Thanks @p3lim.  @yyyc514, yes this is the intended use case for `global_flags`; namely, customization of frequently used Git commands that not everyone will agree on (without adding palette commands for everything).

[2015-03-20 07:10] divmain commented on #51
Yes, I plan to significantly refactor using Sublime regions, which will help with cleanly partitioning the content, as well as nested syntax definitions.

[2015-03-20 07:12] divmain commented on #90
The problem is that this then becomes an asynchronous operation, whereas right now it is synchronous (and simple).  Definitely doable, but will involve a significant effort, I think.

[2015-03-20 07:16] divmain commented on #107
I'm going to tackle this myself.  I don't see any reason why it can't be toggle-able, ala the remote branches in the `git: branch` dashboard.  Probably the same with the diff.  I'll include syntax highlighting in that effort.

[2015-03-20 08:12] yyyc514 commented on #107
I'm open to helping with the larger refactoring also.  Just trying to hit the ground running on a few things and I didn't realize there was a whole new interface paradigm until you pointed it out. :)

[2015-03-20 08:34] yyyc514 commented on #112
I'm just trying to get all the way thru a full github PR workflow:

[code]

The last part might not be really inside the scope of GitSavvy but it seems pushing with set upstream or tracking should be, no?

[2015-03-20 08:35] yyyc514 commented on #112
I guess the --set-upstream technically isn't required if you're typing it out overtime, hmmm.

[2015-03-20 12:20] hanoii commented on #89
@yyyc514, well that's a possibility, but I do not do that very often. Rather I am working on something and then do a commit, but further commits might be necessary after some tests and a lot are related. I sometimes prefix the commit message with a module name or something and lazy enough, sometimes its good to have the old commit message already filled in. It is something that a log of GUIs do.

[2015-03-20 18:24] #104 closed

[2015-03-20 18:26] divmain commented on #104
This is in master now.  Please give it a try and let me know if you encounter any issues.

[2015-03-20 21:27] yyyc514 commented on #109
Adding this to #107 since it was super easy and builds on what I already started.

[2015-03-20 21:44] yyyc514 commented on #109
Sorry, I mean https://github.com/divmain/GitSavvy/pull/111

[2015-03-21 04:35] divmain commented on #109
Can you do this as a separate PR?  There are still some things to work through for #111, and I'd like to keep it to one PR per issue (the `-a` change itself is fine, and I'll merge it as soon as the PR is ready)

[2015-03-21 07:07] yyyc514 commented on #108
https://github.com/divmain/GitSavvy/pull/119

[2015-03-21 07:09] yyyc514 commented on #108
I could also break it out, but it's not much use without a more "typical" commit message (that includes summary, etc).

[2015-03-21 07:22] yyyc514 commented on #41
See #119.  Someone just needs to make a kick-butt syntax for commits in general.

[2015-03-21 10:25] yyyc514 commented on #41
Related: https://github.com/adambullmer/sublime_git_commit_syntax/pull/2

Spent a little time on this.  If I can't get it back it mainline I'll probably create a whole new repository and package.  Still tweaking the styles.

[2015-03-21 10:27] yyyc514 commented on #41
![screen shot 2015-03-21 at 6 26 41 am](https://cloud.githubusercontent.com/assets/6473/6764679/607ce3a0-cf93-11e4-9549-ccb05da0a4f3.png)

[2015-03-21 11:04] yyyc514 commented on #41
@divmain Would you like this kind of thing in GitSavvy proper?

[2015-03-21 11:05] yyyc514 commented on #41
Having multiple syntax files for different modes gets messy at some point (though it might be ok for only two options).

[2015-03-21 21:23] yyyc514 opened #122 "Discuss: @async decorator"
[code]

[code]

Objections?  Seems like a perfect use case or am I missing something?

[2015-03-22 06:08] divmain commented on #41
Please see my comment in #119.  I'm not averse to including a "pedantic commit message syntax" in GitSavvy proper - it can be commented out as an alternative in the default `GitSavvy.sublime-settings` file.

[2015-03-22 06:14] divmain commented on #108
We can capture the work/issues as part of #41.  Closing.

[2015-03-22 06:14] #108 closed

[2015-03-22 06:16] divmain commented on #122
I had the same thought but deliberately kept it explicit, mostly to avoid any ambiguity regarding the life-cycle of `edit` objects.  I'll stick with the current approach for now, since it keeps things cleaner when I am running down bugs.

[2015-03-22 06:16] #122 closed

[2015-03-22 08:21] maxim commented on #102
I love dot/comma idea, but it's best to avoid all 3 modifiers, very inconvenient. Ideal for me would be <kbd>Ctrl</kbd>+<kbd>Super</kbd>+<kbd>,</kbd> (no alt)

[2015-03-22 12:21] yyyc514 commented on #122
Huh?  In all cases where it's hard-coded now `run` always calls `async_run`... how would it not be a huge clean up to just add the decorator to make that 100% clear?  If you're debugging it's just as easy to comment one line as to comment 2 (to let the run fall thru into run_async.  Am I missing something here?

[2015-03-22 12:24] yyyc514 commented on #109
#124

[2015-03-22 12:26] yyyc514 commented on #109
Closing discussion in favor of PR.

[2015-03-22 12:26] #109 closed

[2015-03-22 15:44] yyyc514 opened #125 "textwrap.dedent"
Use this instead of the manual dedent counts?

https://docs.python.org/2/library/textwrap.html

[code]

[code]

With \ to auto remove the first line I think maybe that `skip_first_line` could also be tossed?

[2015-03-22 16:32] divmain commented on #109
Closed by #124.  @yyyc514, in the future, please leave the issue open until the PR is closed.  I track all pending work in issues.

[2015-03-22 17:17] demon386 opened #127 "Support for non-UTF-8"
I got invalid UTF-8 error when viewing "git: log" for a GBK encoded file (Chinese).

Any plan for supporting encodings other than UTF-8?

[2015-03-23 01:39] divmain commented on #127
I'd be interested in exploring the possibility. Would you be willing to help me test out an experimental branch?

[2015-03-23 02:28] demon386 commented on #127
No problem! Excited!

[2015-03-23 08:17] alextegelid opened #128 "GitSavvy views won't open if no tabs are present"
For example the status view won't open unless I open one or more files in tabs. Executing the "git: status" command outputs this in console

[code]

Might this have something to do with reusing gitsavvys tabs if present? Maybe that function needs to check if any tabs are open before trying to reuse them. I'm not familiar with ST plugin development, so this is just a guess ;)

[2015-03-23 16:50] p3lim opened #129 "Error: maximum recursion depth exceeded in comparison"
This error is shown in a panel every time a file without a source (e.g. opened from a zip) is opened or in the focused view.

The console shows a flood of the following error:

[code]

[2015-03-23 21:00] wickchucked commented on #127
I'm having some utf-8 issues myself.  I'm trying to do file diff's and keep getting the error `'utf-8' codec can't decode byt 0xac in position 6009: invalid start byte.`  I had been using SublimeGit prior to this and never encountered any issues like that when doing diffs.  I have a bit of a unique setup in that I use the not character (¬) as a tab replacement for the language I code in.

Just cur

[2015-03-23 23:29] yyyc514 commented on #109
Ok.  Sorry.

[2015-03-23 23:34] yyyc514 commented on #129
I could look at this is anyone knew how to easily reproduce on Mac platform.

[2015-03-23 23:35] yyyc514 commented on #50
Why we're at it any objection to staging files from the git commit when users have turned on viewing commit summaries?

[2015-03-23 23:40] p3lim commented on #129
I encountered this on Windows, no idea if it's reproduceable on other systems.

[2015-03-23 23:45] yyyc514 commented on #129
Yeah, no idea.  I just opened up a single file outside of git and I saw no issues here.

[2015-03-24 00:00] yyyc514 commented on #128
Try PR #130

[2015-03-24 04:17] yyyc514 opened #131 "Easier to read branch summary on status view"
Now:

[code]

Proposed:

[code]

This line starts to get really long.  Could we put the extended stuff on another line?

[2015-03-24 05:34] dsusini commented on #66
I'm having the same issue while testing on a single file with a single edit.  I followed your directions from above.  Looks like I'm getting a python crash in the console:

Traceback (most recent call last):
  File "C:\Users\--------\AppData\Roaming\Sublime Text 3\Packages\GitSavvy\core\commands\inline_diff.py", line 36, in <lambda>
    sublime.set_timeout_async(lambda: self.run_async(**kwargs), 0

[2015-03-24 06:13] alextegelid commented on #128
Thanks! I'll wait for @divmain to merge it.

[2015-03-24 06:24] alextegelid commented on #50
I often forget to stage some file and I don't think it's a big deal closing the commit message, returning to the status view and stage the remaining file/files from there

[2015-03-24 06:43] yyyc514 commented on #50
Yeah, I've kept doing the same thing and if I'm seeing the problem on the commit view I'm not sure why I shouldn't able to just solve it right there.

[2015-03-24 06:56] yyyc514 commented on #26
Is this going to use git rebase to drive the process or try and rebuild all that ourselves?  My workflow is typically:

- `git rebase -i master`
- lots of squashing
- lots of re-ordering
- a little renaming
- GO
- resolve conflicts
- `git rebase --continue`
- resolve conflicts
- `git rebase --continue`
- etc..
- DONE.

Seeing where I'm at in the latter part of the process would be a killer feature

[2015-03-24 06:58] yyyc514 commented on #26
Oh, and --skip comes up periodically also if things have made there way into the master branch via a different route. (or were cherry-picked out, so I'm rebating but forget to do a skip at the first step)

[2015-03-24 10:36] alextegelid opened #132 "'NoneType' object has no attribute 'rfind' when using "Goto Anything""
I encountered this when quickly switching between files using Goto Anything (CMD+P)

Output from console:

[code]

[2015-03-24 10:52] alextegelid opened #133 "Inline diff adding multiple instances of the same row"
When staging specific lines the line doesn't disappear after being added. This makes it possible to add the same row over and over again.

What I'm doing in the video is placing the cursor on row 92 `include('includes/php-session.php');` and pressing `l` (lowercase L), that row is then added on top of the changed hunk but are left where it was before aswell (row 93). I press `l` again and another

[2015-03-24 18:32] divmain commented on #127
@wickchucked, can you do the following for me:

1. Open a new issue here on GitHub.
2. Open the command palette and type `GitSavvy: start logging`.
3. Reproduce the issue you've just described.
4. Open the command palette and type `GitSavvy: stop logging`.
5. Open the command palette and type `GitSavvy: view recorded log`.  Copy the contents of the new window into the GitHub issue.
6. Open the Sub

[2015-03-24 19:00] #128 closed

[2015-03-24 19:00] #129 closed

[2015-03-24 19:01] divmain commented on #128
@alextegelid, this should be fixed in master, along with #129.  Please let me know if you encounter any issues.

[2015-03-24 19:01] divmain commented on #129
@p3lim - this should be fixed in master.  Please let me know if this is still an issue for you.

[2015-03-24 19:04] alextegelid commented on #128
Thanks! I'll continue to keep an eye open for further issues. Thanks again for writing this

[2015-03-24 22:19] p3lim commented on #129
Yup, that solved it.

[2015-03-24 23:14] JustinAiken opened #134 "Hide .tmLanugages"
Sublime Text 3 3080 just came out with this new setting:

I'm not sure if that's the same thing as the `.hidden-tmLanguage` extension it talks about [here](http://docs.sublimetext.info/en/latest/reference/syntaxdefs.html#file-format) or not, but it would be nice if pulling up the command palette and typing `GitSa` didn't pull up a bunch of stuff like `Set Syntax: GitSavvy Graph`

If possible... no

[2015-03-24 23:57] NicoSantangelo commented on #131
I like this idea!

Even if don't need to scroll horizontally to see the line, it can be a lot of information. Looking at the code, adding newlines in [active_branch.py#L80](https://github.com/divmain/GitSavvy/blob/master/core/git_mixins/active_branch.py#L80) shouldn't break anything (I could be very wrong :P)

[2015-03-25 01:47] yyyc514 commented on #131
I'm not sure that's how I'd go about it, but I was trying to get buy-in for the idea itself before I started poking around at the code.

[2015-03-25 02:28] yyyc514 commented on #112
How is everyone else doing this right now the first time? (to setup tracking branches properly)

[2015-03-25 06:45] pdanpdan opened #136 "TypeError: object of type 'NoneType' has no len()"
When using git commands (eg. git pull / git status) from an open project, but without an open file, i get the following error:

[code]

I think it should either use the project folder as base directory for git, or show a human readable error.

[2015-03-25 13:45] freexo opened #137 "How to tell GitSavvy to forget git repository?"
When you delete git repository (delete .git folder) GitSavvy will start bugging you with the following message:

`It looks like you haven't initialized Git in this directory.  Would you like to?`

You can't do anything until you hit "OK". I had to delete sublime text project files and create new project.

[2015-03-25 15:29] benmosher opened #138 "Delete untracked file/folder on discard (status: `d`)"
I noticed that you mentioned the possibility of having the `d` discard action in the Status pane delete an untracked file in #17.

Discard all (`D`) appears to remove untracked files, but I get a pathspec-not-known-to-git error in the console when I try to discard a single untracked file or folder.

Console output:

[code]

[2015-03-25 18:19] divmain commented on #138
As of right now, discard-all does the following:
[code]

The single-file discard action does this:
[code]

However, I've found it annoying myself that I can't discard untracked files either.  I'll add this functionality.

[2015-03-25 18:50] #138 closed

[2015-03-25 18:51] divmain commented on #138
If you'd like to pull down master and confirm it behaves as expected, it is not available.  Otherwise, it'll be in the next release.

[2015-03-25 18:54] divmain commented on #137
I see how that'd be really annoying.  Let me dig into this.  For performance reasons, GitSavvy caches information about the Git repository for a given open file / view.  That's probably what causes this issue.  I'll look into how the user can actually say "no" when the `.git` dir has been removed.

[2015-03-25 18:58] wldcordeiro opened #139 "Github Integration broken?"
I noticed that I'm getting errors for issue and contributor completion regarding my credentials. I've updated my preferences to include the API token but can't get it to run.

[2015-03-25 19:06] divmain commented on #131
Seems like a reasonable idea :+1:.  It doesn't look like the syntax highlighting will have to be changed, which is very convenient.  Because we don't want an empty line when there is no tracking information, a new-line plus whitespace should be added in these places if the additional status information is available:

- https://github.com/divmain/GitSavvy/blob/4f359da52b9f528794039a998d53344ddf8646

[2015-03-25 19:07] divmain commented on #139
Hmm, it is working for me for both GitHub.com and GH Enterprise.  Can you paste the exact error output @wldcordeiro?

[2015-03-25 19:07] divmain commented on #134
Thanks for the heads-up!  I'll take a look at this...

[2015-03-25 19:35] #134 closed

[2015-03-25 19:35] divmain commented on #134
Seems to work fine.  Will be in next release.

[2015-03-25 19:43] divmain commented on #112
Hmm, I'm reconsidering this now.  I don't want a ton of palette commands if we can avoid it, and the `--set-upstream` flag could have unexpected consequences if the user didn't realize that's what was happening under the hood.

Perhaps a good approach would be to add this functionality to the branch dashboard.  Right now, the `[t] configure tracking` just allows the user to select from known remot

[2015-03-25 19:45] JustinAiken commented on #134
Thanks! :+1:

[2015-03-25 19:55] divmain commented on #136
@pdanpdan, are you on master or `1.3.3`?  This looks familiar and may have been fixed by 36119c98c98127b7c55abc43e1403248385be015, which includes a fix for this case and human-readable errors for others.

[2015-03-25 19:56] divmain commented on #132
@alextegelid, are you on master or 1.3.3?  This looks familiar, and I think it was fixed as part of 36119c98c98127b7c55abc43e1403248385be015.

[2015-03-25 20:01] divmain commented on #26
@yyyc514, I've started working on this but I haven't hammered out all the details yet.  However, I plan to try consecutive rebases - the first will re-write commits such that there are no conflicts.  That will be reflected by the check marks and X marks at the left of the commits in the interface.  Once all the commits show as check marks, that means there are no conflicts, and the other commands

[2015-03-25 20:02] p3lim commented on #112
I suck at UX, so I really shouldn't get a voice in this matter.

[2015-03-25 20:03] wldcordeiro commented on #139
[code]

[2015-03-25 20:06] divmain commented on #139
Do you have an entry in your `GitSavvy.sublime-settings` that looks like this?
[code]

The token itself should be 40-characters.

[2015-03-25 20:08] wldcordeiro commented on #139
[code]

[2015-03-25 20:10] wldcordeiro commented on #139
Upon further inspection I'm getting these errors as well.

[code]

[2015-03-25 20:11] divmain commented on #139
@wldcordeiro, go [here](https://github.com/settings/tokens/new), enter "GitSavvy" for the token description, and click `Generate token`.  On the next page, you should see a 40-character token highlighted in green.  Replace `apikeyhere` in your settings file with the 40-character token, save, and restart Sublime.

[2015-03-25 20:17] divmain opened #140 "Crash when creating augmented theme"
Copied from #66.  /cc @dsusini

I'm having the same issue while testing on a single file with a single edit.  I followed your directions from above.  Looks like I'm getting a python crash in the console:

[code]

Here is the log with private info replaced with "--------":
[code]
LISTS ALL FILES IN PROJECT HERE..........

I think the below is my gitignore file contents:
[code]

Also, when I "Stop L

[2015-03-25 20:17] wldcordeiro commented on #139
I have the actual token there. I just didn't want to put my real token.

[2015-03-25 20:19] divmain commented on #140
@dsusini, I've created a new issue as I think this is unrelated to #66.  Can you do the following for me?

1. Open the Sublime console.
2. Enter `view.settings().get("color_scheme")`
3. Add a comment here with the output.

It looks like the syntax file that GitSavvy tries to augment is not valid XML (Sublime may be more forgiving than Python standard library in this regard).  What type of file are

[2015-03-25 20:41] divmain commented on #139
Ah, sorry.  The first error definitely looks like a valid API response based on invalid credentials.  In the terminal, try:

[code]

Make sure the token is copied verbatim from your settings file.  If you get a "Bad credentials" message, then your token is invalid somehow.  If you get back issues JSON, let me know!

[2015-03-25 20:51] alextegelid commented on #132
Yeah you're probably right. I submitted two issues not long after each other, not realizing they were connected... I see that I added this issue just a couple of hours before you patched it.

[2015-03-25 20:52] wldcordeiro commented on #139
I got the JSON dump of the issues page.

[2015-03-25 21:14] divmain commented on #139
Weird!  Alright, I'll look into places where you can place debug statements, since I can't reproduce locally.

[2015-03-25 21:15] divmain commented on #132
:+1:  I'll close for now, but if you notice it again, please re-open and ping me.

[2015-03-25 21:15] #132 closed

[2015-03-25 21:18] pdanpdan commented on #136
I'm on master

[2015-03-25 21:52] dsusini commented on #140
Good catch.  I don't even have to run that command because I know I'm using my own custom theme and language files for c/c++.  I didn't add any bad xml, but the base file that I started with may have. Do you think that's the only issue?  If so, I'll scour the tmTheme file and see if I can figure it out.  I'll let you know what I find.

[2015-03-25 22:00] dsusini commented on #140
Ok, thanks to you I figured it out.  I needed to make sure this line was correct at the top of my tmTheme file:

<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

[2015-03-25 23:09] yyyc514 commented on #14
I've been looking at this a little.  You didn't have a mockup laying around, did you?

[2015-03-25 23:12] yyyc514 commented on #14
Since results are paged from the server we'd need to support paging somehow so that would have to fit in the UI.

[2015-03-25 23:15] yyyc514 commented on #26
That seems limited to me as the entire point of squashing in some cases might be to avoid rebasing conflicts (or simplify them greatly).  What I'm most curious about is how do you kick off the rebase and get the initial workplace?  The git tool doesn't seem to have any hooks for doing this that I can see.

[2015-03-25 23:20] yyyc514 commented on #112
Not opposed to this but why don't we consider this an error condition of a normal push and handle it well?

- "git: push" (which is what my brain wants to do anyways)
- git throws "please add upstream error"
- present a menu of choices
- abort, push to named branch, push to existing, push (--set-upstream)

Abort would stop.  The other two would call out into our existing commands... and push up-st

[2015-03-25 23:30] yyyc514 commented on #139
divmain:  I ran into an issue with issues.  The before_issue string includes the # in my testing, but the regex does not include "#"... so tabbing seems to do nothing (or does th wrong thing, I forget).  Maybe related?

[2015-03-25 23:35] yyyc514 commented on #14
I assume we'd allow paging by keystroke... thoughts?

[2015-03-26 00:37] divmain commented on #140
Awesome!  Interesting that SublimeLinter didn't have an issue since I believe that's where I originally got my approach for theme handling.  Anyway, I'm going to close this out, but ping me if more needs to be addressed.

[2015-03-26 00:37] #140 closed

[2015-03-26 00:37] divmain commented on #109
No worries @yyyc514 :)  Just want to make sure I don't lose track of anything!

[2015-03-26 00:40] divmain commented on #136
Hmm.  Just to be sure, can you pull latest master and restart Sublime?  This looks eerily familiar, so I don't want to dig too deep if it is already resolved.

[2015-03-26 00:42] divmain commented on #133
Weird!  Makes sense, and I'll try to reproduce.  I've had a number of issues with inline-diff and no newlines at end of file.  Thanks for the heads-up!

[2015-03-26 00:46] divmain commented on #50
Hmm, I'll think on that...  Updating description to reflect possible enhancement.

[2015-03-26 01:02] yyyc514 commented on #14
I was imagining a detailed view and then less detailed view that you could toggle.  Idea for less detail:

[code]

[2015-03-26 02:03] yyyc514 commented on #14
![screen shot 2015-03-25 at 10 02 59 pm](https://cloud.githubusercontent.com/assets/6473/6839145/bcdb2062-d33a-11e4-8ee0-939d3cf54508.png)

Detail example.

[2015-03-26 02:04] yyyc514 commented on #14
Thoughts?

[2015-03-26 02:47] yyyc514 commented on #14
Idea for adding comment:

[code]

[2015-03-26 02:47] yyyc514 commented on #14
Or did you imagine we might do the add comment view inline inside the listing of comments when viewing an issue?

[2015-03-26 05:01] p3lim commented on #112
When using `git: push to branch name` there is an input displayed where we can enter the branch name.
What about allowing additional arguments filled in there? Would probably be the best UX implementation for power users.

[2015-03-26 06:43] divmain commented on #112
That's a solid idea @p3lim.  So a combination of what you and @yyyc514 suggested:

- open command palette, `git: push to branch name`
- select remote
- enter branch name pre-filled with local branch name
- Yes/No dialog asking whether to set the remote branch as upstream

The first three points are already implemented - the last bullet point should be very simple to add.

[2015-03-26 06:44] pdanpdan commented on #136
Sorry to have bothered you, i think it wasn't the master, but 1.3.3, because after update the problem is gone, and it gets the project folder all right. Thank you.

[2015-03-26 06:44] #136 closed

[2015-03-26 06:48] divmain commented on #136
No worries!  Thanks for letting me know.

[2015-03-26 06:50] p3lim commented on #112
Make sure it only asks if the remote branch isn't already upstream tho.

[2015-03-26 06:53] yyyc514 commented on #26
Actually I'm not 100% sure what `consecutive` rebases means to you.  I mean the rebase itself is nothing more than a very light-weight process on top of the regular git reset, commit, etc...

[2015-03-26 07:07] yyyc514 commented on #112
That's why I'm interesting in just fixing "push"... I'd like to only think of push when I'm on a branch and then if an edge case comes up (first push) I'm informed and can decide what to do.

[2015-03-26 07:07] yyyc514 commented on #112
I'll play around with some things when I'm done working on some other stuff.

[2015-03-26 07:37] yyyc514 commented on #14
Should each switched page result in a HTTP request to load the latest or if we've just visited all x pages should we serve them up cached and fast?  (i.e., should the interface cache the issue as they are paged, or pretty much run a HTTP request every single time)

[2015-03-26 07:55] yyyc514 commented on #14
[code]

Paging idea.

[2015-03-26 07:55] yyyc514 commented on #14
Well we wouldn't need it if it was 1 of 1, but you get the idea.

[2015-03-26 08:29] #112 closed

[2015-03-26 08:31] divmain commented on #112
Alright, you have me convinced :)  Just added this now.  It'll be optional, for those who just want to rely on the default behavior of `git push`.  I also chose not to rely on Git's behavior when upstream is not set, as this behavior varies depending on Git version (and I'd like the GitSavvy UX to be consistent and independent of underlying Git version where possible).

[2015-03-26 08:48] divmain commented on #14
I hadn't planned on tackling this for awhile, so after reading your comments, I'm stopping now to consider what the goals should be here.  If in-Sublime functionality won't add anything (in UX or functionality) to existing workflows (open GitHub in a browser, switch between browser and Sublime), we should re-evaluate the scope of the feature.

So, in what way can we improve user workflows by utili

[2015-03-26 09:48] wprater opened #141 "feature: possible to diff lines with changed characters and whitespace"
it would be nice to alternate background opacity to show the changed charters in each line for the diff view.  do you need to use a new parser?  hoping for a similar view to GitX.

[2015-03-26 11:20] yyyc514 commented on #14
This really doesn't work without some sort of caching (for larger issue lists)... as the only thing a single request can get you is a list of of top xx issues.  I'd assume that would be a problem with the existing tab complete issues we use on the commit page also.  Caching the list would be helpful for those other features that reference issues (like commits).

Are you talking about caching the i

[2015-03-26 11:23] yyyc514 commented on #14
Sorry to push it into the limelight - was looking for another (new) interface to work on to flesh out my interface ideas. :-)

[2015-03-26 11:27] yyyc514 commented on #14
If we scoped this to JUST a quick panel where would we show the syncing status of issues, when they were last refreshed, etc?  I feel like you'd need some sort of manual refresh (if not auto) - and some way to trigger/check that, no?

[2015-03-26 11:40] yyyc514 commented on #141
Are there any git diff options that producible scanable output of the sort you're hoping for?

[2015-03-26 11:46] yyyc514 commented on #141
Maybe we should bundle `diff-highlight`? http://blogs.atlassian.com/2013/06/git-diff/

[2015-03-26 12:07] yyyc514 commented on #90
Wouldn't have to be to detect a lot of errors... you could still be totally sync, just paying attention to the output.  I might play with this.

[2015-03-26 16:35] wprater commented on #141
yeah, that perl script looks nice!  I was trying to see which GitX (rowanj) uses.

[2015-03-26 16:37] wprater commented on #141
https://github.com/rowanj/gitx/pull/243

[2015-03-26 20:22] divmain commented on #14
Issue JSON.  We shouldn't be touching HTML at all.

I'm not really talking about technical feasibility, I'm talking about the value proposition.  What I was getting at before is that, if the results are paged and each page event requires an HTTP request, the UX for this inside Sublime will be worse than UX in the browser.

If that's the case, we should reduce the scope of this feature, i.e. make i

[2015-03-26 20:40] wickchucked opened #142 "'utf-8' codec can't decode byte 0xac in position 4566: invalid start byte"
Here is the dump from what I could see in the Sublime console, it wasn't popping up in a new window form me when I tried to view recorded log.  Let me know if you need anything else.

This is referencing the thread I started in #127

[code]

[2015-03-26 22:06] divmain commented on #142
I'm going to do some work to the logging feature to better support cases like this.  As it is, I don't think I have enough information to go on.  Most likely, the file is not valid UTF-8.  You mentioned you were using SublimeGit before this without issue, so I'll look for a workaround.

Do other commands succeed (normal diff views, for example)?

[2015-03-27 01:25] yyyc514 commented on #14
Not necessary, but likely.  I get your point.

Disagree completely, at least for how I'm imagining the cache would be used.  If you're looking up issues (by title) to attach to issues or to launch a web browser the cache freshness starts to matter a lot less.   We know issue #'s can't change, and I'd wager titles don't change super often... therefore if you only cached title, issue #, URL, only 33

[2015-03-27 02:42] yyyc514 commented on #141
I'm not sure we could depend on perl for Windows... we might need a python native solution.

[2015-03-27 03:08] yyyc514 commented on #112
Awesome.  So far this is working really well.  Now we just need PR support and I could get thru a full development cycle with GitSavvy.

[2015-03-27 03:10] yyyc514 commented on #131
#146

[2015-03-27 03:50] yyyc514 commented on #83
What is the advantage of an array of args (in this context) vs just a command string?

[2015-03-27 03:59] yyyc514 commented on #102
What exactly would that workflow look like?

- pop open file at revision 1234
- page forward/backwards thru history
- copy stuff
- close tab
- now we're back to the editable file
- paste

Or something else?

[2015-03-27 04:05] maxim commented on #102
@yyyc514 exactly. Also if you're refactoring something, and in the process lost something, this is a great UI to quickly refer to what the logic should've been from before refactor, so you can reproduce it differently in the refactored version.

[2015-03-27 04:32] yyyc514 commented on #102
What's the best way to do this and preserve history across renames?  `git log --follow` can follow the history for a file but `git show hash:file` doesn't work if the file name does not match the exact name of the file as of the hash you passed in.

[2015-03-27 05:03] maxim commented on #102
That's a good question. I believe the old sublime Git package (which has this feature) doesn't follow files across renames. Would be cool if we could find a way to do it.

[2015-03-27 05:08] maxim commented on #102
Another small detail that could be useful - when walking back-and-forth across revisions, perhaps we should try to preserve the scroll position. The code won't be where it was, and if the scroll is beyond the limit of last revision - we'd resort to just scrolling to the bottom, but imo it's better than not doing it.

[2015-03-27 05:18] yyyc514 commented on #102
That would be a neat trick but probably pretty hard to do without a lot of extra logic (stuff that's already built into things like git blame, etc).

[2015-03-27 05:19] yyyc514 commented on #102
A git blame walker could be a lot more powerful than a git log walker, but you'd be limited to jumping to commits that had some remnants existing in the current revision of the file.

[2015-03-27 06:47] yyyc514 commented on #139
Can you try #145

[2015-03-27 13:23] alextegelid opened #149 "Inline diff view for renamed file tries to diff old filename"
When I enter the inline diff view (via the command palette) for a file that I have renamed GitSavvy tries to open the diff view using the files old filename, resulting in a blank diff view.
![image](https://cloud.githubusercontent.com/assets/7058721/6868482/43e530f0-d48c-11e4-9ce5-908b6b87db24.png)

[2015-03-27 13:41] alextegelid commented on #149
Opening the inline diff from the status dashboard works as expected

[2015-03-27 17:38] wprater commented on #141
I could see about porting the [JS](http://ejohn.org/files/jsdiff.js) or [Perl](https://git.kernel.org/cgit/git/git.git/plain/contrib/diff-highlight/diff-highlight) versions to Python.

[2015-03-27 21:52] yyyc514 commented on #149
Interesting, when did you perform the rename?

[2015-03-27 21:54] yyyc514 commented on #106
What is needed here?  A global setting for all "open related view in" or is this something where we need a hash and someone should be able to choose how they want content opened depending on the source of the open request?

[2015-03-27 22:04] divmain commented on #141
Hey @wprater @yyyc514, this was a bit tricky but fun to add.  Feature is now in master, so please try it out.  Along the way, I discovered what I believe is a ST3 bug, and have [filed an issue](https://github.com/SublimeTextIssues/Core/issues/766).  If the word highlighting works but only sometimes, that is probably why.

[2015-03-27 22:05] divmain commented on #141
Oh, and you may need to delete any theme files in `Packages/User/GitSavvy` for the theme to display correctly.

[2015-03-27 22:55] alextegelid commented on #149
I'll have to get back to you on that. I can't remember if the file was tracked or not before the rename...

[2015-03-27 23:13] #87 closed

[2015-03-28 00:04] #125 closed

[2015-03-28 00:05] divmain commented on #125
Good call.  I discarded `dedent` early on for some reason.  But I can't remember why, and it cleans things up very nicely.

[2015-03-28 00:28] wprater commented on #141
Im not getting any diff theme at all now.  I had a few themes in there, but where did they come from ?  are they all auto-generated?

[2015-03-28 01:05] divmain commented on #141
They are all auto-generated, yes.  Is it just rendering like plain text?  Is Sublime giving you an error?  Or a screenshot?

[2015-03-28 01:08] divmain opened #150 "Add to `.gitignore` fails in some cases on Windows"
Originally mentioned here: 503ab0f579e68001b64997802f759d6bb76a8665

On Windows, when Git is configured to check out file Unix-style, `.gitignore` will add `\r` characters because of current implementation's reliance on `os.linesep`.  Instead, git config should be checked for line endings, and then cached for the remainder of the Sublime session.

/cc @p3lim

[2015-03-28 01:19] wprater commented on #141
I removed them again and I've got it rendering now! Nice.

On Fri, Mar 27, 2015, 6:05 PM Dale Bustad <notifications@github.com> wrote:

[2015-03-28 01:23] yyyc514 opened #151 "Add .sublimelinterrc file with recommended PEP8 settings to aid contributors"
Suggestions:
- longer line length
- possibly ignore some warnings and such that come up a lot that aren't a big deal? (no idea here, I just started using it)

[2015-03-28 01:34] divmain commented on #151
I didn't know this existed :)

I agree, some of the PEP8 guidelines are too stringent.  I generally try to keep under 100 characters instead of 80.  Un-used imports also need to be explicitly allowed because of the `__init__.py` modules that are making submodules accessible.

[2015-03-28 01:36] divmain commented on #141
Awesome, thanks for letting me know!  Can you let me know if it works consistently?  On my machine, it only works as expected about 40% of the time, but I'm curious to know if the Sublime bug is restricted to OS X.

[2015-03-28 01:55] wprater commented on #141
I'm on OS X too. but will report back to this thread.
On Fri, Mar 27, 2015 at 18:36 Dale Bustad <notifications@github.com> wrote:

[2015-03-28 01:56] divmain commented on #141
Thanks!

[2015-03-28 01:58] yyyc514 commented on #151
You're welcome. :grin:

[2015-03-28 06:30] alextegelid commented on #141
I've been waiting for this aswell. I'll keep an eye open for bugs. Thanks @divmain!

[2015-03-28 07:53] divmain commented on #131
Closed with merge of #146.

[2015-03-28 07:53] #131 closed

[2015-03-28 07:55] p3lim commented on #106
A global setting, but this is probably put on hold until @divmain ends his merge to the new interface model.

[2015-03-28 07:56] divmain commented on #133
Still trying to come up with a solid approach to this.  The "No newline..." messages make it difficult.  I'll probably end up manually removing those lines from the diff output and making sure all the newlines at the end of the file display correctly...

[2015-03-28 07:57] p3lim commented on #150
:+1:

[2015-03-28 08:00] divmain commented on #106
Thanks for waiting :)  Status view is ported, and tag view is up next.  Once that is done, this should have the green light.

[2015-03-28 08:07] divmain commented on #149
Hmm... this may be a hard case to support.

As far as I know, Git itself doesn't know that a file has been renamed until it has been staged, or unless the file was renamed using `git mv`.  Even then, `git mv` automatically stages the file.

It might be possible to support viewing cached changes, since all the data should be there, i.e. old file name at HEAD and new file name in index.  But if noth

[2015-03-28 08:13] divmain commented on #102
@maxim, preserving scroll/cursor position should definitely be do-able and will be included.

@yyyc514, I've had the same thought about blame.  Once this history-walker feature lands, a keyboard shortcut could be added to the blame view to take you to the revision at that time.

In my ideal world, I would see an inline-diff highlighted file as I walked back in time, showing the parts of the file t

[2015-03-28 08:20] divmain commented on #83
@yyyc514, what comes to mind:

1. Consistency across the app.
2. More explicit arguments without needing to escape spaces and other characters, and having to know how Python, Sublime settings parser, and/or the OS would treat it.
3. Simpler implementation for special keyword interpolation like `REPO_PATH` and `FILE_PATH`.
4. Only a slight hit to UX.

[2015-03-28 08:39] divmain commented on #41
For anyone interested, @yyyc514 may have a custom syntax definition for commit views that you can use.  However, as I commented in #119, I'm not 100% I can preserve this new behavior while moving the commit view to being more interface-like.

I'll leave this open until the feature is officially announced as part of a changelog.

[2015-03-28 12:24] yyyc514 commented on #149
When I imagined solving this I imagined tackling only that single edge case (where git can tell you about the rename) - a renamed staged file...

[2015-03-28 12:30] yyyc514 commented on #102
Neat, but how do you get that information without git blame?  A line could move 1000 lines between commits... I know git blame (the version meant to be parsed) has all that info but didn't think you would get that granular with just commits - without rebuilding all that line counting code yourself.

That would be interesting.  What I typically want to do is walk a single line back thru it's histor

[2015-03-28 12:32] yyyc514 opened #152 "Git blame line walker"
Feel free to rename.  References #102.

When viewing a file in git blame I'd like to hover over a group of lines and then go back in time to each prior version of the file and do a git blame there while preserving my cursor position.  So if the git blame said the prior commit was 'abc' then I hit say '<' (back) and then I'm looking at the blame from abc^ (the parent commit of ABC)... so I can find

[2015-03-28 12:34] yyyc514 commented on #83
Why not allow both for simplify and maximum configurability? :-)  Actually I don't think you can stop that... since all you're doing (in the simple case) is simplest case is string concat. :-)  So n/m. :-)

[2015-03-28 17:41] yyyc514 commented on #152
A very rough first pass:
https://github.com/yyyc514/GitSavvy/tree/feature/blame_walker

Features:

- "<" steps back to find the previous change to a given line
- refocuses the view on the old version of the line
- stepping back works even across file renames
- yells at you when you can't go back any further
- yells at you if you haven't picked an exact line

Questions:

- What keystroke should we

[2015-03-28 18:41] divmain commented on #149
Yes, that's what I meant when I said it might be possible to support viewing cached changes.  Still, it may be complex.  @alextegelid how often do you think you would rename a file, make changes, and then want to view the inline diff to back out some changes?  I think that's the edge case that it is possible to support.

[2015-03-29 05:37] yyyc514 commented on #150
Anything we can do to make Windows less of a living hell I suppose we owe it to somebody. :smiling_imp:

[2015-03-29 06:12] #137 closed

[2015-03-29 06:13] divmain commented on #137
@freexo, a fix for this will be in the next release.

[2015-03-29 06:43] #101 closed

[2015-03-29 06:45] divmain commented on #101
@thechinnster, a fix for this will be in the next release.  For `git: pull`, `git: fetch`, and `git: push ...` commands, the most recently used remote for that repo will be pre-selected.  If one of those commands had not previously been run (and remote selected), `origin` will be pre-selected.

[2015-03-29 06:49] divmain commented on #91
This is related to #137 and 845995b.  Getting the all possible paths to `self.git` in a dashboard to behave the right way turned out to be an onerous path.

For a simpler alternative that should be adequate for now, the user will be offered initialization once per view - after that, it will fail and just show the Git output.  For dashboards/interfaces, this should suffice, as it'll be obvious that

[2015-03-29 06:49] #91 closed

[2015-03-29 09:31] alextegelid commented on #149
It's really not a big deal for me, but I thought it was worth mentioning. I can easily make do without a fix for this, especially now that I know that it isn't really a bug in GitSavvy but a problem with git itself. 

Don't put any time on this on my account, thanks for investigating and explaining though. 👍

[2015-03-29 19:25] alextegelid opened #155 "Inline diff view won't work after upgrade to 1.4.0"
Since upgrading to the 1.4.0 release the inline diff view shows an empty tab.

[2015-03-29 19:33] divmain commented on #155
Hi @alextegelid. It is working on my machine - could you check the console and see if any errors are present?

I'm also considering creating a beta GitSavvy track for users willing to try features before they're released to the wild. That may help to mitigate regressions like this in the future...

[2015-03-30 07:26] alextegelid commented on #155
Yes of course!
Sorry, I could've thought of attaching that in the first place.

This is written to console when I open the inline diff view:

[code]

When switching tabs out of the diff view and back again, this appears (once everytime i re-enter the tab):
[code]

[2015-03-30 07:31] divmain commented on #155
Ah!  Just a guess, did you set alternate colors for the inline-diff view?  If so, you'll need to add additional definitions.  See [here](https://github.com/divmain/GitSavvy/blob/master/GitSavvy.sublime-settings#L39-L46).  I should have put a warning about that in the upgrade message.  Basically, since you're defining all colors for `inline_diff` in your custom view, it won't fall back to the defau

[2015-03-30 07:40] max-mykhailenko opened #156 "Support `prepare-commit-msg` hook for messages in commit view"
JIRA commit message have a next look:
`TASK-123 #time 00h 20m  commit message`
Branch name for this task will be
`TASK-123-some-cool-feature`

Add branch name to comments under commit message for autocompleting (`TASK-123`)
OR
Will be great if I can add some text to every commit dynamically by running some custom command which will insert text to commit message.

[2015-03-30 07:50] divmain commented on #156
The first ask should be easy.  The second might be workable once #83 is ready.

[2015-03-30 07:56] alextegelid commented on #155
Yup, that's it! Thanks!

[2015-03-30 08:26] divmain commented on #155
Excellent!

[2015-03-30 08:26] #155 closed

[2015-03-30 09:28] max-mykhailenko commented on #83
Will I have ability to run sublime shortcut command (actually another plugin) on every commit view? I have plugin that count coding time in Sublime and I want write it to every commit (https://github.com/max-mykhailenko/memTask)

[2015-03-30 10:20] p3lim commented on #151
You know, some of the settings like tabs vs spaces and vertical rulers could be customized on a per-project level.
Since you're most likely (and all the contributors the same) are developing this in Sublime Text, adding a `.sublime-project` file could aid those who don't want to use linting plugins.

[2015-03-30 10:23] p3lim commented on #88
Since this is the most related issue already open; did you want me to port the tags view to the new interface paradigm, or are you taking on that task yourself?

[2015-03-30 14:29] kepbod opened #157 "Setting api_tokens may import underlying unsecured issue"
Some people may upload their sublime configurations (including GitSavvy.sublime-settings) to github to synchronize, so it may be unsafe to set api_tokens in the GitSavvy.sublime-settings file. Could you add an interactive mode to let users input their api_tokens each time when needed? I think this may be more welcome. Thanks!

[2015-03-30 14:57] lmedinas opened #158 "git pull command fails due to "--no-column" option not existing in old git versions"
when doing a git pull the output error is the following:

[code]
the option "--no-column" was only implemented in git 1.7.11 and distros like Ubuntu 12.04 are still using git 1.7.9.x

Can you please make a workaround for old git versions ? If not please at least write in the Readme the minimum version requirement for git.

[2015-03-30 15:03] yyyc514 commented on #151
Couldn't hurt but I don't know why someone would refuse to use listing when it's so nice in Sublime.

[2015-03-30 15:44] yyyc514 commented on #157
Or simply store them in .git/config as a git setting as I suggested elsewhere. (other tools do this)

[2015-03-30 15:49] yyyc514 commented on #158
I'm not sure it's possible (or advisable) to support all old versions.  I'm on 1.9.5 local (Mac OS X built-in it looks like) and see the latest is 2.3.4.  Default here seems to be no-column, but if someone has asked for columns in their git config I can see where specifying --no-column would become important.

[2015-03-30 15:50] yyyc514 commented on #158
Maybe the parsing could be changed though to support both columns and non-columns if this was important?

[2015-03-30 15:55] yyyc514 commented on #83
Regarding the command class structure I'm thinking:

- ExternalCommand
- GitCommand (ExternalCommand)
- GsSomeRandomViewCommand (GitCommand, RepoPathMixin)
- GsSomeRandomViewCommand (ExternalCommand, CurrentPathMixin)

The thought being you could use ExternalCommand or GitCommand stand-alone (from globals, utils, etc)... and then if you wanted to use them from a view you'd lay in RepoPathMixin or

[2015-03-30 17:05] yyyc514 commented on #156
Isn't this what git commit/pre-commit hooks are for?  Should we perhaps look at using those vs building out a whole new system for such things?

[2015-03-30 17:41] yyyc514 commented on #26
I'd love to work on this some but I'd like to understand the flow (at least how it begins).  The best way to get git to hand-off to you is to pass it an editor that messes up the first line of the interactive rebase... say replacing "pick" with "pause"... then git will stop and suggest you use --edit-todo (leaving the system in the rebase state, with .git/rebase-merge available, etc).  Obviously o

[2015-03-30 18:16] divmain commented on #26
I'm working on this one, myself.  Thanks for offering, though!

[2015-03-30 19:49] yyyc514 commented on #157
Do people really keep tokens just laying around to paste in via some sort of interactive mode?

[2015-03-30 20:06] yyyc514 commented on #156
I think optimally if the commit view worked hand in hand with `prepare-commit-msg` we might be onto something.  Would be great to hear from more people using commit hooks along with GitSavvy to see what the thought are on how they should work together.

[2015-03-30 20:48] thechinnster commented on #101
I never noticed that the branch was being preselected, because it was not appearing at the top of the dropdown and the selected item background color is fairly subtle for me. Now I know this will be much easier for me to use.

[2015-03-30 21:52] divmain commented on #101
Sounds good.  Until a recent dev release of ST3, the item would be pre-selected, but it wouldn't scroll down to the selection in the quick panel.  If you use latest ST3, that should no longer be an issue.  In any case, the behavior should be more intuitive now than it was.  Thanks for reaching out!

[2015-03-31 06:52] max-mykhailenko commented on #156
Thanks for discussion!  Let's left only first variant.

Add branch name to comments under commit message for autocompleting (TASK-123)
~~OR
Will be great if I can add some text to every commit dynamically by running some custom command which will insert text to commit message.~~ <-- It's must be another plugin

[2015-03-31 07:19] max-mykhailenko opened #159 "Improve cursor position on status view"
When status view opens need to set cursor position at line with first file.
When file was staged by pressing `s`, cursor position must be changed to next unstaged file

[2015-03-31 07:27] max-mykhailenko commented on #156
How can I see `prepare-commit-msg` results in commit view? Is it works now?

[2015-03-31 09:21] divmain commented on #88
If you'd like to do it, feel free. Otherwise, I'll pick it up in the next couple of days.

[2015-03-31 11:20] lmedinas commented on #158
What if the "--no-columns" option was removed by default and add a configuration for it ? I mean it could be configurable and only enabled by default if the user wants with a warning it might not work in older versions.

[2015-03-31 12:12] benmosher commented on #26
FWIW: not sure what you're planning, but I think a key-based action (a la `[c] checkout`, etc.) to rebase against a chosen branch from the `git: branch` dashboard would be a good jumping-off point.

One of the few actions I drop out of Sublime/GitSavvy to do in a terminal is an occasional rebase against the remote tracking branch, to keep up with what others on my team are pushing to the origin.

[2015-03-31 15:41] yyyc514 commented on #158
I feel like it would be better to support older versions with a configuration option than newer versions... so if anything --no-columns would be the default and we'd add a special flag for really old git versions if we had to.  Honestly someone running 1.7.9 is going to have a better experience if they just upgrade.  Waiting for @divmain to weigh in on this one.

[2015-03-31 15:48] yyyc514 commented on #83
Here is what I've written and started using until we have something better built-in:

https://github.com/yyyc514/Tint

It opens a virtual terminal inside a Sublime tab.  Similar to Glue (https://packagecontrol.io/packages/Glue) but a little different opinion on UX and trying to appear more like a real console than a command bar at the bottom and an editor window. Not saying we should include anyth

[2015-03-31 18:07] divmain commented on #156
@max-mykhailenko - I think the best approach here will be to expose an API where users can augment the default behavior programmatically.  I'll be thinking through what this API might look like, and where the boundary will be between configurability and "trying to do too much".

[2015-03-31 18:11] divmain commented on #159
I'll consider this.

Generally speaking, I like to stick to the principle of least surprise.  Since this is a text editor, people don't usually expect their cursor to move around unless you tell it to.  So the behavior now is for GitSavvy to try to keep the cursor at the same row and column after every command.

It might be worth adding key-bindings for `.` and `,` to go to the next and previous s

[2015-03-31 18:28] yyyc514 commented on #156
Would a patch that hooked into git's existing prepare-commit-msg hooks be accepted?

[2015-03-31 18:42] divmain commented on #156
`prepare-commit-msg` is invoked the `git commit`, so how do you envision that working?  As it is, the GitSavvy commit view is part of a process very separate from a `git command` in the terminal.

[2015-03-31 18:49] divmain commented on #158
Here's what I'll do.  I'll remove the hard-coded `--no-columns` from the Git pull command, but I'll add a default entry for `pull` in `global_flags` (in `GitSavvy.sublime-settings`) that includes `--no-columns`.  This should result in no change of behavior for pretty much everybody, but @lmedinas you will be able to override the setting and remove `--no-columns`.

[2015-03-31 19:31] yyyc514 opened #160 "Quick stage and commit should work from viewing a diff"
- quick stage current file and commit works from a diff of a single file (triggered via diff single file)
- quick stage current file and commit does not work from a diff of a single file (triggered via "diff")

I think (in this view only, perhaps) we should have a "git: quick stage all and commit" that does that.  This inconsistency seems very strange.  I was hung up on it for a few minutes before

[2015-03-31 19:33] yyyc514 commented on #159
What about shift-s, alt-s, etc. for stage + next?

[2015-03-31 19:33] yyyc514 commented on #158
Perfect compromise.  Forgot about global_flags.

[2015-03-31 19:34] yyyc514 commented on #156
We'd invoke it, of course. :-)  I guess it comes down to whether gitSavvy is trying to superbly enhance the git workflow or completely replace it (and rebuild a lot of it in the process)

[2015-03-31 19:36] yyyc514 commented on #156
Luckily I don't use hooks currently but if I did I would hope GitSavvy would respect them and work well with them (if possible), not require rewriting them in Python.

[2015-03-31 20:13] yyyc514 opened #161 "Properly support git-hooks or (at the very least) document which ones we do not support and why"
Here is a list of the basic (non email patch) git hooks and whether or not we currently support them.

* [x] pre-commit
* [ ] prepare-commit-msg
* [x] commit-msg
* [x] post-commit
* [ ] pre-rebase
* [x] post-rewrite
* [x] post-checkout
* [x] post-merge
* [x] pre-push

If we kick off rebases using the `git rebase` command as I suggested then that would automatically add support for `pre-rebase` at

[2015-03-31 20:22] yyyc514 commented on #161
Without knowing what you have in store for commit dash it's hard to say with certainty but I'm pretty sure supporting this fully doesn't have to undermine any of that.

1. Most basically we're talking about fetching the default commit text git thinks should be default (from command line options, hooks, etc)... then that would auto-fill the are that's used for editing your commit message.  Simple.

[2015-04-01 05:46] max-mykhailenko commented on #159
After using SublimeGit about year I can tell that move cursor position it's normal. Status view it's more Dashboard than simple text file, it's interface.

Examples:
- open status – press `s` several times (1-3) – `c` commit
- open status – set cursor to block title (Unstaged for example) – press `s` (all unstaged files add to staged) – commit

But maybe I just should use `C`...

[2015-04-01 06:17] alextegelid commented on #159
I agree that the status dashboard (tags and branch too) feels more like an application view than just a text editor. 

I suggest the cursor stays in it's current position relative to the list of files rather than the text editors rows.

[2015-04-01 08:06] lmedinas commented on #158
OK, let me know when it's release i will do a try but it seems a good idea.

Thanks a lot for the fast feedback

[2015-04-01 08:20] divmain commented on #26
Making some progress... having to dig deep into the git plumbing to make this work, but so far looks promising!  Squashing commits:

![lfgqeoz4an](https://cloud.githubusercontent.com/assets/5016978/6937044/3391687a-d80d-11e4-94fb-4eb1e42e92a5.gif)

Once I have all the difficult bits done, I'll reach out to those interested to polish the workflow and make sure it works in a sane way.

[2015-04-01 14:51] ashercoren opened #162 "Support `git rebase` command"

[2015-04-01 17:02] jlangston commented on #66
Having the same issue this is the exception I get in the console.

    sublime.set_timeout_async(lambda: self.run_async(**kwargs), 0)
  File "/Users/user/Library/Application Support/Sublime Text 3/Packages/GitSavvy/core/commands/inline_diff.py", line 56, in run_async
    self.augment_color_scheme(diff_view, file_ext)
  File "/Users/user/Library/Application Support/Sublime Text 3/Packages/GitSavvy/

[2015-04-01 17:20] divmain commented on #162
Please see #26.

[2015-04-01 17:20] #162 closed

[2015-04-01 19:47] alextegelid commented on #66
That's actually another issue @jlangston, I had the same one, see #155
:)

[2015-04-01 21:29] jlangston commented on #66
@alextegelid Thanks for pointing that out!

[2015-04-01 23:29] divmain commented on #66
Thanks @alextegelid :)

[2015-04-01 23:30] divmain commented on #66
@grimborg, I'm going to close this out.  If you or anyone else runs into something similar, let me know and I'll reopen.

[2015-04-02 00:32] divmain commented on #159
If we go the route of automatic cursor positioning after specific actions, we will need to develop some hard and fast rules about what the cursor does, and when.  It could get complex.

For example, take the staged files section:

If the cursor is positioned over the third file in staged section, and the user un-stages that file, the new third-file in the staged section should be highlighted after

[2015-04-02 06:32] max-mykhailenko commented on #159
@divmain really so complex. As developer I don't like complex solutions and now not recommend resolve this issue.
I will try to design more intuitive and simple solution.

[2015-04-02 06:42] divmain commented on #159
Alright @max-mykhailenko. This is a good discussion to have, so thanks for bringing it up. I may also be failing to see a straightforward approach - if you think of something, please do let me know. I do agree that the current behavior could be improved upon...

[2015-04-02 06:42] alextegelid commented on #159
@divmain I didn't realize until now that I can use multiple cursors for staging multiple files. That's a bonus, thanks!

[2015-04-02 08:02] noon-ehos commented on #159
I also used sublimeGit about year. And I can say - it really good Idea to set cursor to first unstaged file on open status dashboard. And its not your troubles "What to do with cursor/cursors on any user action?". Just set it once at open status dashboard to first unstaged file. Always when I want to stage something (not all) I must move cursor to block with unstaged files.

[2015-04-02 09:23] max-mykhailenko opened #163 "Why plugin use git from /usr/bin/git"
[code]

Where I can configure it?

[2015-04-02 17:54] divmain commented on #163
I'm surprised this hasn't come up before!  I did make this configurable, but forgot to add the documentation.  I've done that now.  If you're on master (not installed through the package manager), see [here](https://github.com/divmain/GitSavvy/blob/master/GitSavvy.sublime-settings#L9-L12).  If you have GitSavvy installed via the package manager, the setting is `gitPath` instead of `git_path`, whic

[2015-04-02 17:54] #163 closed

[2015-04-02 18:24] divmain commented on #159
Sure, I don't see why not.  For now, we'll leave cursor behavior as-is, except that the cursor will be initially positioned on the first file of the unstaged section (when the dashboard initially loads).

[2015-04-03 06:49] max-mykhailenko commented on #159
This will work only if staged files will be under unstaged

[2015-04-03 21:18] cgrail opened #164 "Issues with "git: status" when working with multiple git repositories"
Hi,

I've setup a project which includes multiple git repositories. It works as expected for log etc., so depending on which file is currently opened I can see the log either from one repository or the other. But "git: status" works just fine for one project. When I open git status for the other project I get a blank status view and the following error:

[code]

Best regards,
Christian

[2015-04-03 21:57] divmain commented on #164
Hi @cgrail.  For the project that isn't working, can you go to the terminal and type `git stash list` and tell what shows up there?  This error indicates that the regular expression cannot parse the output of `git stash`, and it is possible I've missed an edge case.

[2015-04-03 22:01] cgrail commented on #164
Hi @divmain ,

I get the following response for the command "git stash list":
git stash list
stash@{0}: WIP on master: 30c7f2d header on repeating blocks & css
stash@{1}: project

Best regards,
Christian

[2015-04-03 22:13] divmain commented on #164
Interesting!  Looks like the second stash must have been created on detached HEAD.  I'll add a fix for this - thanks!

[2015-04-03 22:18] cgrail commented on #164
![git status](https://cloud.githubusercontent.com/assets/5702278/6989727/82a712d0-da14-11e4-9a0d-cebdf15730ae.PNG)

Ok. But my repo is not detached. It's in sync with the remote repo. But I'll try your fix.

[2015-04-03 22:19] divmain commented on #164
Sorry if I wasn't clear.  HEAD must've been detached when the stash was created, because the second stash is missing "WIP on <branch name>".  I hadn't considered this case when writing the parser for `git stash`, but I'll have a fix in master in a couple of minutes.

[2015-04-03 22:25] #164 closed

[2015-04-03 22:26] divmain commented on #164
Alright, a fix for this will be included in the next release.

[2015-04-03 22:26] cgrail commented on #164
cool.

Thanks for the quick fix. I've temporary deleted my old stashes. Works fine now.

[2015-04-04 08:15] divmain commented on #26
I have squash, squash-all, and commit message editing working.  Actual rebase still to go - that may be a bit tedious but probably a good bit more straightforward.  Squashing and commit message editing will work before or after a rebase, just not during.  The "during" will be only for resolving merge conflicts.

Anybody interested in taking an early look at this?  Mostly looking for sanity check a

[2015-04-04 08:21] divmain commented on #160
Want to clarify, make sure I'm understanding.  You expected to be able to run `git: quick stage current file and commit` from within the full unstaged DIFF view, correct?  I suppose I can see how it might be disorienting if you've only changed a single file - the contents would look basically identical.

I'm not sure how I feel about a contextual palette command that is only available in this spec

[2015-04-04 08:22] divmain commented on #159
That's very true... I'll play around with moving it and see if that's a natural change to make.  If not, we'll have to come up with something else.

[2015-04-04 08:26] divmain commented on #83
@yyyc514 Tint looks really neat!  For inspiration, you could also look at [SublimeREPL](https://github.com/wuub/SublimeREPL), which does some really interesting things.  I like the idea of a programmable terminal for Sublime though, beyond what the built-in terminal will do.

@max-mykhailenko - it may be possible to expose certain functionality via specific injection points.  This will be unrelate

[2015-04-04 08:32] divmain commented on #161
Thanks for this.

I think you may be right, at least in part.  I made certain choices because it was easier to recreate than to figure out the proper Git plumbing incantation.  However, to play nice with the larger Git eco-system (hooks are a great example of this), it would be best to stick close to Git unless there's a compelling reason not to.

So I'll look into using `prepare-commit-msg` for t

[2015-04-04 08:37] divmain commented on #157
I think @yyyc514 is spot on.  We'll add functionality to store these tokens in Git config.  If we're going to prompt every time its needed, we might as well prompt for username and password - the user would be more likely to have that memorized, anyway.  Also, the lack of defined `api_tokens` only means that the module will make the HTTP request with no credentials.  For public repos, this works j

[2015-04-04 12:37] max-mykhailenko commented on #163
Config
[code]

result when push
[code]

[2015-04-05 07:03] divmain commented on #163
Did you restart Sublime?  GitSavvy will cache the path so it doesn't have to look it up for each command.  [Relevant code](https://github.com/divmain/GitSavvy/blob/3400c41494f7e0e17b983b098fdb972dd07e13bd/core/git_command.py#L139-L139).

[2015-04-06 12:18] max-mykhailenko commented on #163
Today all works fine, thanks @divmain.

[2015-04-07 06:03] divmain commented on #26
@benmosher @yyyc514, the rebase dashboard has landed in master.  If possible, I'd like a handful of people to try it out before it is released via Package Control.  So if you'd have some time, would appreciate your eyes.

[2015-04-07 06:55] #158 closed

[2015-04-07 06:55] divmain commented on #158
@lmedinas, this fix is now in master.  If you get a chance, please give it a try to confirm this resolves the issue for you.

[2015-04-07 06:59] divmain commented on #156
@yyyc514, after thinking about it, I've come to like the `prepare-commit-msg` approach.  I don't know how much work it'll be to truly support this in all cases, but I think it is worth taking a look.

[2015-04-07 07:02] divmain commented on #156
Going to close this in favor of #161.  @max-mykhailenko, once the `prepare-commit-msg` hook is supported, it should be straightforward for you to add the functionality you want.

[2015-04-07 07:02] #156 closed

[2015-04-07 07:07] divmain commented on #26
@p3lim, not sure if you use rebase regularly, but if you do and you have the time, would appreciate getting eyes on this.

[2015-04-07 07:11] divmain commented on #152
For early feedback, either is fine since I can just hit "Compare" on the feature branch.  Keeping track of the trail sounds good - that info should be stored in the view settings to persist Sublime restarts.

For views like this, the UX to present contextual help can be complicated.  So I've preferred to take the user to relevant documentation when they do `GitSavvy: help`.  I'm open to other idea

[2015-04-07 07:44] max-mykhailenko commented on #156
Many thanks!

[2015-04-07 10:27] p3lim commented on #26
I'll give it a whirl later today.

[2015-04-07 11:39] benmosher commented on #26
Trying it out now.

A few superficial comments:
- I can't open a conflict with the cursor at column 0, had to move over into the filename
- `s` to squash and `g` to stage feels a little risky; I'd be inclined to try `s` without thinking, a la the status page. I'd be inclined to use `Q`/`q` or some other as-yet-unused command letter.
- It was not immediately obvious to me that a conflict-free rebas

[2015-04-07 16:58] divmain commented on #26
Good feedback, thank you!

[2015-04-08 01:27] divmain commented on #26
Additional ideas: since many of the steps taken in the dashboard are single-keypress operations, and relatively minimal in terms of the output, consider adding a log of some sort, or at least a "previous action:" line in the header section.

[2015-04-08 10:46] benmosher commented on #26
One thought I had, along those lines: what if you could "queue up" squashes, reorders, amend messages, etc. and then apply them all at once?

SourceTree's "interactive rebase" has a similar mode; you can modify commit messages and squash commits until you are please, then execute all changes at once* when ready.

*no idea how that works under the covers, may just be executing queued `git` CLI comm

[2015-04-08 14:35] hanoii commented on #69
@divmain hey, it seems that this was added to the git branch dashboard, right?

I do have a question, why is it asking where to push, I'd expect hitting p or P to do the same as git: push from the command pallet but instead is asking for the remote.

[2015-04-08 20:24] divmain commented on #26
@benmosher - I got similar feedback from someone I was showing this to yesterday.  The reason I went this direction, is that is vastly simplifies the implementation.  And, as someone for whom `git rebase` has never been a central part of their workflow, immediate action didn't break any of my expectations and seemed handy.

How about this as an alternative:

- Add undo/redo capability, like the in

[2015-04-08 21:40] benmosher commented on #26
👍 sounds good to me. Again, great functionality already!

[2015-04-08 22:47] flip4bytes commented on #69
I'm seeing it on the Branch dashboard too. It was expecting push would be in the status dashboard though? I have no reason to keep open the branch dashboard but I always keep the status dashboard open.

[2015-04-08 22:59] dflock opened #165 "Attempting to discard staged file should not display destructive action prompt"
Trying to discard changes to a staged file doesn't work. If you try it - and you have GitSavvy set to prompt for destructive changes, it'll prompt you. If you say yes, the prompt goes away but nothing happens - the changes aren't discarded. If you don't have it setup to prompt, nothing happens at all.

You have to unstage the change first, then discard.

It would be nice if GitSavvy silently unsta

[2015-04-09 06:54] divmain commented on #69
Alrighty, I'll add this to status dashboard.  Push in the branch dashboard was a separate effort and unrelated.  Should be able to get this in for the next release.

[2015-04-09 06:58] divmain commented on #165
This was an deliberate choice, except for that part about the destructive action prompt of course ¯\_(ツ)_/¯).  This is mostly because I rarely find myself wanting to discard a file I've already staged.  It seemed more likely that hitting discard on a staged file would be a mistake, versus it actually being intentional.

If nothing else, the prompt should be fixed.  Is this something that you run i

[2015-04-13 08:29] divmain opened #166 "Remove `.no-sublime-package`"
This is left over from early non-released versions - https://github.com/wbond/package_control_channel/pull/4275.

[2015-04-13 18:51] wprater commented on #141
this is still rather buggy, should we add a feature to disable it, so it does not confuse people?

for example I just changed `768px` to `769px` here

![](http://cl.ly/image/1d0X43241I2q/Image%202015-04-13%20at%2011.49.24%20AM.png)

[2015-04-13 23:05] divmain commented on #141
@wprater - you're the first that has reported this issue.  Is this happening often?  Also, do you have steps I can use to reproduce?  Its not a bad idea to add a flag to turn it off, I'll add that.

[2015-04-14 02:08] Suor opened #167 "GitSavvy: help navigation doesn't work in Ubuntu"
It says **Super-Enter** to open link and **SUPER-Backspace** to go back, but you can't rebind any combinations involving **Super**  in Ubuntu (at least with Unity DM, which is default). **Ctrl** variants also don't work.

[2015-04-14 02:17] Suor commented on #167
Obviously any **Super** combinations don't work, e.g. **Super-Z** in inline diff.

[2015-04-14 02:22] Suor opened #168 "Shift-H doesn't work in inline diff on linux"
[code]

[2015-04-14 14:14] zenoamaro opened #169 "Cannot stage and commit when the repo has no commits yet."
When the repository has no commits yet (ie. you are about to stage and commit the first one), it's not possible to open the status page in order to do so.

The failure mode is the same as git log, in fact:

[code]

The status page should still work and allow staging the initial commit, and display the fact that no commits are yet in the log.

Apologies if this issue is a clone, but I couldn't find

[2015-04-14 14:27] zenoamaro opened #170 "When staging a directory, ignored files are also staged."
The behavior when staging a directory entry from the status page differs from that of `git add <directory>`, which recursively stages the contents, but does not stage ignored files.

When staging a directory in GitSavvy's status page, ignored files get staged too. They correctly disappear from the list when unstaged.

Note that `git add` will also respect nested `.gitignore` files, scoped to their

[2015-04-14 21:59] wprater commented on #141
not all the time, but often. have not had time to look into it yet.  here is a sample diff that failed

http://cl.ly/code/0l3D2O1X0C1Y/test.diff

this was the output, where only the `2` changed to `5`
![](http://cl.ly/image/0Z101b1R0J3n/Image%202015-04-14%20at%202.58.44%20PM.png)

[2015-04-15 06:50] divmain commented on #170
At present, GitSavvy uses the `-f` flag when staging files.  Trying to remember why this was originally.  I'll go ahead and change this in master - if nothing unexpected comes from that change, it'll be included in the next release.

[2015-04-15 06:51] divmain commented on #169
Nope, not a dupe - just hasn't come up yet.  Thanks!  A fix should be in the next release.

[2015-04-15 06:54] divmain commented on #167
Any recommendations for alternate key-bindings?  I haven't used Ubuntu for my daily driver for a handful of years, so my knowledge isn't up-to-date.  `CTRL` variants aren't set for Linux, but they could be used if you think it'd be a good fit.

[2015-04-15 06:57] Suor commented on #167
You are almost always safe using same key bindings for Linux and Windows.
These also make much more sense than Super+something. It's Mac Os X that
wants special treatment, with its Cmd as primary modifier.

[2015-04-15 07:00] divmain commented on #168
This seems unlikely to be OS-related.  Is this broken for other actions in the inline-diff view, as well?  Have you tried this once, or is broken for any file/diff?  In any event, I should add better error handling [here](https://github.com/divmain/GitSavvy/blob/82bb849ae03d0e584923ddd09059107cbbc34cd4/core/commands/inline_diff.py#L386-L386).

[2015-04-15 07:02] divmain commented on #167
I'm surprised I haven't heard this before.  I'll switch the Linux key-bindings to match those on Windows.  Thanks!

[2015-04-15 07:03] Suor commented on #168
I don't know if it's OS dependent. I tried it several times for single for with several hunks. Other shortcuts like `,`, `.` and `h` worked there.

[2015-04-15 07:05] divmain commented on #168
Really!  It's especially surprising that `h` would work but not `H`.  I'll have to start up a Linux VM and try to reproduce this myself.  Can you tell me which version of Ubuntu you're running?

[2015-04-15 07:07] Suor commented on #168
It's 14.10 utopic unicorn.​

[2015-04-15 07:14] divmain commented on #168
Thx.

[2015-04-15 07:19] Suor commented on #167
These a diffstats for ST2 default key bindings:
[code]

[2015-04-15 07:20] Suor commented on #167
Linuxes never used custom keyboards, they used ones built for windows and still do. Hence the same combos.

[2015-04-15 07:23] divmain commented on #167
Yeah, I'm just surprised I haven't heard from others using GitSavvy on Ubuntu before now.

[2015-04-15 07:28] Suor commented on #167
I think it's Unity that blocks Super rebinding, so this could work in Kubuntu, Xubuntu or Lubuntu. Also, everyone is probably just using html help. I don't know why you bother at all with built-in help.

[2015-04-15 07:41] divmain commented on #167
¯\_(ツ)_/¯

Seemed interesting, I suppose.  But there are several other places in GitSavvy that use the Super/Ctrl binding, so this should definitely be addressed.

[2015-04-15 07:48] Suor commented on #167
Particulary weird was `Super+Z` to undo, while it is `Ctrl-Z` everywhere in Linux including Sublime Text.

[2015-04-15 08:11] zenoamaro commented on #170
Seems the only use of `-f` is being able to add ignored files. I can see cases where this would be useful, but I remember being able to stage the file simply invoking "Git: add" from the command palette in SublimeGit, which worked well considering how rarely I had needed to do that. So that may still warrant the `-f` flag, I think?

Anyway, thanks a lot for the fix!

[2015-04-15 11:04] edencore commented on #169
I have the same error in existing repository with commits. Is there any git command that can fix it for me ?

[2015-04-15 11:15] zenoamaro commented on #169
@edencore, could you paste the output of `git log`?

Is it possible you're in detached head or an orphan branch?

[2015-04-15 11:22] edencore commented on #169
@zenoamaro i don't think so. It is almost pure repository with a few commits and absolutely no branches. Btw, `git log` from GitSavvy throws the same error, but works well from the console

[2015-04-15 23:13] weslly commented on #142
I'm having a similar error when trying to open the quicklog on a file:

    Traceback (most recent call last):
      File "/Users/weslly/Library/Application Support/Sublime Text 3/Packages/GitSavvy/core/git_command.py", line 102, in git
        stdout, stderr = stdout.decode(), stderr.decode()
    UnicodeDecodeError: 'utf-8' codec can't decode byte 0xe2 in position 1036297: invalid continuation by

[2015-04-18 18:48] dflock commented on #165
No, not something I do often, so I'd be OK with just fixing the prompt, I guess.

[2015-04-20 08:21] zenoamaro commented on #169
@edencore, so if I'm getting it right, doing

    /usr/bin/git log -6000 --format=%h%n%H%n%s%n%an%n%at%x00

manually on the console doesn't raise errors?

Could you "GitSavvy: start logging" from the command palette, and paste the recorded log after the issue happens?

[2015-04-20 09:24] edencore commented on #169
@zenoamaro here it is:
[code]

[2015-04-20 15:20] max-mykhailenko opened #172 "Diff current file to earlier commits"
Often use in console diff file between current state and some commit.

[2015-04-21 09:40] #167 closed

[2015-04-21 09:41] divmain commented on #26
@benmosher, I got sidetracked but these changes are now in master.  Please give them a try and let me know if you run into any issues (especially wrt the undo/redo feature).  Thanks!

[2015-04-21 09:48] divmain commented on #169
@edencore, please checkout [this article](http://stackoverflow.com/questions/15628720/fatal-bad-default-revision-head).  It may help explain what you're seeing.  Especially curious is your statement that you're working with an "... almost pure repository with a few commits and absolutely no branches".  Does this include a master branch?  If you do `/usr/bin/git log -n 1 --pretty=format:%h %s --abb

[2015-04-21 09:51] divmain commented on #142
@weslly, `UTF-8` is assumed in handful of places in GitSavvy.  Are you working with files encoded with something other than UTF-8?  This is complicated to robustly support, but I'm thinking through some possible strategies.

[2015-04-21 10:43] edencore commented on #169
@divmain my repo has a master branch (I wanted to say that I have no any additional branches), but it has no any remotes. Can it be the root of the problem ?
Command that you have provided works well from the terminal.

Anyway, looks like I am the only one with this problem, so nevermind. Must be a repo's issue.

[2015-04-21 11:15] benmosher commented on #26
Thanks for the heads up, will do.

[2015-04-21 11:24] benmosher commented on #26
I like the updated messaging + command keys.

I was playing with undo/redo; when I redo the graph doesn't seem to revert? After the move I have

[code]
and when I undo it changes to
[code]

but when I redo, the `STATUS` changes back to the success message, but the commit sequence stays at the original shas/order. A look from an external git client seems to indicate that the redo did not get execut

[2015-04-21 12:41] hanoii opened #173 "Exclude whitepsaces from diff"
It might be a nice addition to be able, if needed, to exclude whitespaces from diffs. Sometimes you are modifying someone elses' code and they don't follow the same standard and reviewing changes is a bit of pain if it has tons of unnecessary whitespaces changes (I have my editor to trim trailing whitespaces).

[2015-04-21 18:19] divmain commented on #26
Oh strange.  Thanks, I'll take a look.

[2015-04-21 18:27] divmain commented on #26
Fixed, simple mistake.  Thanks!

[2015-04-21 18:30] divmain commented on #173
One possible issue: for those that use the diff view for staging hunks, whitespace-only hunks would no longer be visible.  @hanoii do you envision this as a global setting or a separate command.  I lean towards the former.

[2015-04-21 18:32] divmain commented on #169
@edencore can you also run `which git` from the terminal?  It's strange that the same command would fail when run from GitSavvy but succeed from the terminal.

[2015-04-21 18:34] hanoii commented on #173
Ideally I think what might make it great is a hotkey toggle, say 'w', so you type w and you toggle between showing/hiding whitespaces hunks right in the diff view. It that's not easy/too much work, I think a separate command is better. Maybe you can have a global setting that can enable the command so it won't bother those that never use this.

In my normal workflow, I only use "git diff -w", whic

[2015-04-21 18:39] divmain commented on #173
A toggle is a good idea.  And staging-functionality could be pretty simply disabled when whitespace is not shown.

[2015-04-21 18:45] hanoii commented on #173
Why would you disable the staging-functionality? I might still be interested in stage/discard those hunks that are shown when you hide whitespaces.

[2015-04-21 18:56] divmain commented on #173
Take the following example:
[code]

GitSavvy uses the output of the `git diff` command both for display and for taking action when the user attempts to stage/unstage.  If using `-w`, the applied diff will actually be wrong and you'll get a partial stage.  That's if it even works at all - since the surrounding context is incorrect, Git would likely refuse to apply the patch.

[2015-04-21 19:25] hanoii commented on #173
I wouldn't mind the partial stage, I have created a lot of patches with git diff -w and they always applied cleanly. I wonder if your example would actually fail at all, even if it does, it's a very remote possibility that I'd leave it for the user to resolve it. I would still appreciate the ability to stage/unstage hunks even in -w.

[2015-04-22 18:58] divmain commented on #173
A partial stage would make for bad UX, as it would break expectations for many users.  I'll experiment with this a bit and let you know.  It may be we can make this configurable.

[2015-04-26 09:50] edencore commented on #169
@divmain it returns `/usr/bin/git`

[2015-04-27 08:18] #150 closed

[2015-04-27 08:18] #169 closed

[2015-04-27 08:18] #170 closed

[2015-04-27 15:43] zenoamaro commented on #170
Worked perfectly, thanks!

[2015-04-27 19:12] #166 closed

[2015-04-29 01:29] divmain commented on #168
Hi @Suor - I'm unable to reproduce.  Shift-H works fine under my Ubuntu 14.10 VM.  Have you noticed if this fails across the board, or only in particular repos?

[2015-04-29 09:33] Suor commented on #168
Happens for any repo. Here is a screencast:
![gitsavvy-opt](https://cloud.githubusercontent.com/assets/284103/7388153/e1618ff6-ee84-11e4-9f2e-cd4f277a6e58.gif)

I make a change, save, switch to inline diff. Hit "h", it works, than hit "Shift-H" twice, nothing happens. Only errors in console appear.

[2015-04-29 21:42] stoivo opened #174 "Problem with reload modules"
Hi
I looked at the plugin and would like to work a bit on it. I have a problem. When I run
GsReloadModulesDebug

My other pluggins and  Git, stop working
https://gist.github.com/stoivo/dd533477ab97e07ba782
This is the log from console. I think it is something with sublime.sublime_api.plugin_host_ready()

I am using a MAC 10.10.3 and sublime 3 Build 3083

[2015-04-30 08:12] divmain commented on #174
Hi @stoivo.

`GitSavvy: reload modules (debug)` was meant as a short-cut for my own development, but it definitely isn't a requirement.  You can always close Sublime and re-open to load changes made to GitSavvy or any other plugin - this is what I did for some time.  Unfortunately, calling `plugin_host_ready` is necessary due to how GitSavvy is structured as a plugin.  I originally skipped that pa

[2015-04-30 08:12] #174 closed

[2015-05-01 22:50] aristidesfl opened #176 "Line unstage undo not working properly"
1. Open diff view current file (cached)
2. Unstage a line from the **middle** of the hunk with `l`
3. Press `super+z` to undo

The line seems to be inserted on top of the hunk, instead of in its original place.

[2015-05-06 09:12] asfaltboy commented on #173
Just wanted to add that this issue is critical to me; this is because a whitespace diff for one "big file" (~1k rows) with inconsistent whitespace (e.g checkout out from a bad/windows commit) is very very slow. While running `git diff` is actually very quick. A simple setting to turn off whitespace diff globally would rescue me - can I submit a pull request?

[2015-05-06 09:56] asfaltboy opened #177 "Inline diff very slow at handling files with different whitespace style"
I occasionally encounter this issue when checking out repositories with windows style whitespace; this seems because a whitespace diff is very very slow for file with different style whitespace. This happens only with "inline diff" (`l`) but not with normal diff (`e`). In addition to being slow, the diff shows the entire content as changed (whole file colored red followed by whole file colored gre

[2015-05-06 20:16] #177 closed

[2015-05-07 01:20] steverandy opened #179 "Add git graph all to command palette"
I think the default `git graph` command should not have `--all` arg applied.
I would prefer to have a new command `git graph all` to view all refs.

[2015-05-07 20:50] per-nilsson opened #180 "'git push (force)' fails when branch did not have upstream set"
This is seemingly because the command `git push --set-upstream` is made without the `-f` flag.

### Prerequisites
Have branch with no upstream set. The upstream branch counterpart should  have a different history than the local branch.

### Repro
Gitsavvy command: `git push force`
Set upstream to 'origin'
See error message:
[code]

[2015-05-07 22:52] #180 closed

[2015-05-07 22:52] divmain commented on #180
Thanks @per-nilsson!

[2015-05-12 16:16] max-mykhailenko opened #183 "How can I do merge without --log param?"
How I can disable default `--log` param?
https://github.com/divmain/GitSavvy/blob/master/core/commands/merge.py#L49

Trying to use this config
[code]

But seems that `--no-log` is placed before default `--log` (according to
https://github.com/divmain/GitSavvy/blob/1394489e1fa042996d9ba20817c0e8e4d45dcbb0/core/git_command.py#L245)

[2015-05-13 08:58] max-mykhailenko commented on #183
Why this important? Because people who use JIRA smart commits for logging time include time record to commits messages. Merge with --log provoke logging time twice for every commit

Example commit messages:
 - simple commit message
`KATA-964 #time 0h 54m immutable tips`

- merge commit message
[code]

[2015-05-14 19:47] divmain commented on #183
This should be an easy fix - will include in the next release @max-mykhailenko.

[2015-05-14 20:02] divmain commented on #179
I'll make this globally configurable.  In the future, the graph view will be more interactive and allow the user to open and/or view selected commits and branches.  For that reason, the default will remain as-is.  But if you're willing to sacrifice that functionality, there's no reason why this can't be configurable on a per-user basis.

[2015-05-14 20:03] divmain commented on #176
Meh, this one is going to be tedious to fix.  But its a reasonable ask, so this is in my queue.

[2015-05-15 01:08] steverandy commented on #179
Thanks for clarifying!

[2015-05-15 21:21] stoivo opened #184 "Help command for all views"
I was thinking that is might be good to have easy-access-help for all views.
by pressing "?" to toggle a write-only quick panel.
for diff, inline diff, blame, etc?
This will make the docs easy to access.

I started to read all keybindings-file for find new functions.
What do you think about this?

[2015-05-16 06:06] divmain commented on #184
There is a `GitSavvy: help` command in the Sublime palette.  This will give users access to either general, wiki-style help, or bring them to a specific page when in certain views.  Do you have something in mind other than this?

[2015-05-16 14:24] stoivo commented on #184
I was thinking something like this ![screenshot 2015-05-16 04 20 41](https://cloud.githubusercontent.com/assets/3492040/7666489/921877d2-fbe7-11e4-8280-af4241dce860.png)

and some color highlighting. But I do not know who to do it.

[2015-05-16 17:28] divmain commented on #184
It is a neat idea, but I think having two live-help systems is unnecessary.  Also, highlighting in views could be difficult if you wanted control over the colors used.  It would be possible to underline, etc, without any issues but that might be confused for plugins that show errors.

[2015-05-19 20:08] stoivo commented on #184
Yes, I totally agree with you that is is unnecessary,  but it will only contain shortcuts for each view.
it is easy to add custom colouring in the quick panel. Like this(Just some silly ruby code)
![screen shot 2015-05-19 at 21 53 38](https://cloud.githubusercontent.com/assets/3492040/7712648/c3eb64ee-fe72-11e4-9b48-f02ac94ac581.png)
)

code snippet to do it
[code]

[2015-05-19 20:14] stoivo commented on #184
If you want it, I will create it :)

[2015-05-19 23:36] divmain commented on #184
Let me think about this. I don't like the idea of having two help systems, but I do like the idea of contextual help.

[2015-05-22 14:01] hanoii opened #187 "Line unstage is re-adding it in a different place"
I have a file in which I have a line removed, but when I unstage the line, instead of being added to the same line it was, it's being added on a different place (a few lines above) ending with a removal/addition in the wrong place.

[2015-05-22 14:07] hanoii commented on #187
I just realized this happens if there's also an addition above the line that's being removed.

[2015-05-23 14:13] NicoSantangelo commented on #172
Just in case it's useful, you can do that with [Sublimerge Pro](http://www.sublimerge.com/)

[2015-05-28 12:27] max-mykhailenko commented on #183
Sent pull request for that https://github.com/divmain/GitSavvy/pull/188

[2015-05-30 16:15] edencore opened #190 "Wrong help in commit's view"
As I can see from [this file](https://github.com/divmain/GitSavvy/blob/master/Default%20(Linux).sublime-keymap) I should use `Ctrl`+`Enter` to make a commit, but on the commit's view page I see a following message:
[code]

[2015-06-03 21:05] asfaltboy commented on #43
Personally, I would like to see git-flow in the `git: branch` dashboard. I've been thinking of a nice and useful interface for git-flow, and I keep wanting to see a view which would show me where master and develop and other branches are in comparison.

I suggest adding an [F] "git-flow toggle" in the dash, similar to [e] for remote branches. The git-flow toggle will band together the git-flow spe

[2015-06-03 21:45] wldcordeiro commented on #43
@asfaltboy It may be possible to test for the existence of Git Flow and only show that part of dashboard if it's installed?

[2015-06-04 09:29] asfaltboy commented on #43
Oh yes, absolutely. Since the branch interface is a command, we can simply check for return code of running `git flow` and if no errors, amend the "git-flow" template to the [current template](https://github.com/divmain/GitSavvy/blob/master/core/interfaces/branch.py#L35).

I've also looked a bit into git-flow implementation, and it seems the branch structure are stored in git config (after initial

[2015-06-04 09:47] #190 closed

[2015-06-04 09:56] divmain commented on #190
Thanks @ddevlin for the fix.

[2015-06-04 10:00] divmain commented on #43
I am a bit concerned that the branch dashboard will get too cluttered with this.  Is there any reason why this couldn't become its own git-flow dashboard?  There could be a hotkey to open the branch dashboard, in case the user wanted to take non-standard action (from the git-flow perspective).

As a slightly pedantic implementation detail, the commands should be namespaced and prepended with `GsGi

[2015-06-04 10:08] asfaltboy commented on #43
Agree on both points.
1. A separate command is nice, default status can also display head of master/develop.
2. Avoiding command name collisions is smart.

[2015-06-04 10:19] stoivo commented on #43
I think it is better to have a separate view/interface for git flow and create some easy way to open the other views. We could create short-cuts like
`super+g`, `f` -> Git Flow
`super+g`, `s` -> Git Status
`super+g`, `b` -> Git Branch
`super+g`, `r` -> Git Rebase

[2015-06-04 19:16] #172 closed

[2015-06-07 20:46] hzpc-joostk opened #194 "Add option to globally disable "Git binary cannot be found" message"
There is a problem when Git is not installed. I sync Sublime's User packages using Dropbox with my home computer. So today Sublime at home installed GitSavvy (GS) as it was not installed, yet. But Git is not installed (I was not planning to at home). It seems that GS is quite allergic to this situation. Because every change in view, menu or whatever triggers GS which will view the following critic

[2015-06-08 17:34] jipumarino commented on #65
Hi @divmain. This is already working for the status view, could you please add the diff views too?

[2015-06-09 20:39] max-mykhailenko commented on #194
If you don't have git why you need synced sublime? Also you can add GS to ignored packages in sublime preference or in project preference (this I don't remember exactly) at home

[2015-06-10 08:02] hzpc-joostk commented on #194
Max, I am using some other packages. I use sublime at home mostly for other stuff than programming, or just for (re)viewing source code to learn. Good idea about the Sublime preferences, I'll give "%appdata%\Sublime Text 3\Packages\Preferences.sublime-settings" a try instead of the one in subfolder ".\User".

Maybe the message could be updated:
[git_command.py:146](https://github.com/divmain/GitSa

[2015-06-10 08:19] divmain commented on #194
Unfortunately, I don't think there's a great solution to this.  Adding an entry to the base `Preferences.sublime-settings` seems to be the best option for your specific case...

In my mind, this is a very small edge case.  Generally, if a user wanted GitSavvy installed but didn't want to use it or to install `git`, they would turn to `Package Control: Disable Package`.  Of course, in your case, th

[2015-06-10 08:30] hzpc-joostk commented on #194
Hi @divmain, thanks for sharing your thoughts. I have found myself in confusion with something related in a different program. So implicitly silencing the warning was probably a bad suggestion.

If I found myself in your position I would not put to much work on this issue/feature request as it is quite a specific situation which may affect other users. Perhaps I should just install Git on my home

[2015-06-10 08:33] divmain commented on #194
Hmm, thanks for letting me know you've seen something similar with a different plugin.  It's kind of a tricky thing, and makes me want to come up with a better syncing mechanism :).  I still think the setting may be valuable - let me know if you have additional thoughts, especially if you can think of other use-cases for silencing the message.  There may very well be situations I'm not considering

[2015-06-10 09:16] divmain commented on #187
Hi @hanoii, there still seem to be a handful of quirks with the line stage/unstage.  I'm planning to try to squash all these bugs at one time.  Could you help me out by taking screenshots of each stage of the repro process?

[2015-06-10 12:08] asfaltboy opened #195 "Implement and add plugin tests"
We can do this using [one](https://github.com/randy3k/UnitTesting) of the [sublime](https://github.com/twolfson/sublime-plugin-tests) [testing](https://bitbucket.org/klorenz/sublimepluginunittestharness) [frameworks](https://github.com/guillermooo/AAAPT) out there (sorted by update date descending).

[2015-06-10 12:23] asfaltboy commented on #43
@stoivo separate view it is!

There's also a "tags" view .. and by the way shortcuts like those you mention can easily be added to your sublime-keymap. In case you didn't yet, here's how:

[code]

[2015-06-10 12:29] asfaltboy opened #196 "Status dashboard - stash shortcuts inactive when cursor is at the end of a stash row"
Moving the cursor 1 symbol to the left fixed it and I can now do `[t][s] show stash` again.

I realise this is very nitty gritty, but my OCD kicks in every time. Can add easy pickings tag?

[2015-06-10 13:44] hanoii commented on #187
Sure thing.

This one's pretty easy to reproduce. I just cloned this project, edited CONTRIBUTE.md and added a new line and below I removed another one, see:

![screenshot 2015-06-10 10 41 38](https://cloud.githubusercontent.com/assets/677879/8083773/74114136-0f5d-11e5-8191-e83bb5c78c03.png)

I them attempted to unstage the removal the line, see below what happens:

![screenshot 2015-06-10 10 41 4

[2015-06-10 14:07] pradyunsg opened #198 "[request] Rename commands for logging"
Currently, if one types "git st" in the Command Pallete, the suggested commands begin with "GitSavvy: start logging".

This is very unlikely to be what the user wants in nearly all cases. The user is most likely to be expecting "git: status" to be the first suggested command. Also, since "git st" and "git s" are very often git aliases for status, this is the expected behaviour.

So, my suggested f

[2015-06-10 17:47] divmain commented on #198
Seems like a reasonable request.  I've found that Sublime learns pretty quick what I actually want, since it re-orders the displayed options based on previous selections.  However, no need to make this more difficult than it needs to be.

[2015-06-10 17:50] divmain commented on #43
I'd like to stick with the command palette for opening new dashboards.  There are enough plugins and enough possible key-bindings collisions that I want to keep those to a minimum, except in cases where we are offering an interface to the user.  Folks can add their own custom bindings to suite their needs, as they'll know what other plugins are installed and what might conflict.

[2015-06-10 17:51] wldcordeiro commented on #43
Agreed with that @divmain there's already way too many key-binding collisions out there a dashboard like the mockup @asfaltboy made would be wonderful.

[2015-06-10 17:52] divmain commented on #43
@asfaltboy, is this something you'd like to try adding yourself?  It seems you have an idea for how to split it up, and so far I have no objections to your design decisions.

[2015-06-10 18:15] asfaltboy commented on #43
Definitely would like to dive in, trying to squeeze it in my agenda.

[2015-06-11 05:15] sentience opened #199 "‘M’ in Status and Rebase doesn’t launch merge tool (Kaleidoscope)"
I have Kaleidoscope set up as my Git merge tool. I’m able to launch it on a conflicted repo with `git merge tool` from a Terminal prompt.

Hitting ‘M’ (Shift-m) in a GitSavvy Status or Rebase view does not do anything. No messages appear in the Sublime console.

Sublime Text 3 (r3092) running on OS X 10.10.

[2015-06-11 13:15] stoivo opened #200 "git reset commands"
We don't have reset commands.

[2015-06-12 16:12] benmosher commented on #152
:+1:

[2015-06-12 23:41] #200 closed

[2015-06-12 23:49] #196 closed

[2015-06-14 06:48] jordic opened #204 "When commit messages had dots in message, branches disapper from the main branch screen"

[2015-06-14 15:22] stoivo commented on #204
Hey,
I tried to reproduce it but did not manage. @jordic, can you look [here](http://recordit.co/owGtHBvgg0) and say what I did wrong.

[2015-06-14 18:13] divmain commented on #204
@jordic, I was able to reproduce - I will have this fixed in the next day or two.

[2015-06-14 20:03] jordic commented on #204
Sorry.. @stoivo.. Perhaps because im on linux.. Same you do on the video on mine the branch disappears..

[2015-06-17 21:18] stoivo commented on #187
I will try to fix this.

[2015-06-22 08:41] sugatov opened #205 "Cygwin Git executable path"
I can't fix it, I had tried to do it many ways. Specifying it through package user config file throwing these:
[code]
[code]
 Even adding ./cygwin/bin to global PATH means nothing for it, while all other shells sees it.
With MinGW-MSYS Git it had worked fine.
[code]

Any advice?
Thanks!

[2015-06-23 00:10] sentience opened #207 "Support `git pull --rebase`"
In order to avoid creating unwanted merges, I usually pull with `--rebase`:

[code]

I’d like to be able to do this with Git Savvy. At first glance, you’d expect to be able to do this with the `global_flags` setting, but adding `"pull": ["--rebase"]` to this produces the following command:

[code]

…which is an invalid command.

Can `global_flags` be adjusted to place its flags before the remote a

[2015-06-23 01:41] sentience commented on #26
The biggest complaint I have with the Rebase Dashboard is that operations that could be completed by rewriting just a couple of commits (e.g. squashing the last two commits on a branch into one) cause every commit in the branch to be rewritten.

This is a problem for me because often I will be working on a branch that has been pushed to origin, but to which I’ve added a number of additional commit

[2015-06-23 04:53] divmain opened #208 "`git: rebase` dashboard should limit action targets to only necessary commits"
As it is, all actions rewrite every commit from the inferred fork point.  This causes problems when some commits have been pushed, and a `--force` becomes necessary when it shouldn't be.  It also slows down all operations in the dashboard.

[2015-06-23 04:54] divmain commented on #26
@sentience, I agree 100%.  This is something I've been meaning to come back to.  Opened #208 to address.  Closing this issue (as it should have been closed already).

[2015-06-23 04:54] #26 closed

[2015-06-23 04:56] divmain commented on #207
I'll going to scope this ticket to address the strange placement of the flag.  The pull-rebase command can be accomplished once #83 is implemented.  If I hear back from enough folks that it would be useful, I may add it as a command down the line.

[2015-06-23 05:07] divmain commented on #205
I'd be glad to help.  Thanks for posting the log.  What paths did you try specifying?

[2015-06-23 05:57] #204 closed

[2015-06-23 06:44] sugatov commented on #205
The actual path is:
`C:\bin\babun\.babun\cygwin\bin\git.exe`
This was the last value in config file:
[code]
Im tried with backslashes first of course.
Im have an old Git package installed, enabled it and it works fine while `cygwin/bin` added to PATH, but not this package. Other tools like TortoiseGit or shell works fine with it.
I had tryed things like:
 * changing COMSPEC environment variable to

[2015-06-23 14:33] sugatov commented on #205
I had checked [this Git package](https://github.com/kemayo/sublime-text-git) with this method as well:
placing `git.cmd` in a folder available in system-wide PATH, containing:
[code]
and it works fine.

[2015-06-23 15:06] jordic commented on #204
Thank you!
Works perfect!

[2015-06-23 22:15] divmain commented on #65
Hi @jipumarino, I don't have much bandwidth for GitSavvy at the moment.  Addressing this issue will be something of an investment for me, since I'm not a vintageous user.  So for now, this is a low-priority issue.  I'm very open to PRs if you'd like to take a whack at it, or if you could do some investigation on the vintageous side to elucidate what needs to change, either would be very helpful.

[2015-06-24 15:38] jipumarino commented on #65
;) Thank you, I'll give it a shot and let you know how it goes.

[2015-06-26 21:20] stoivo commented on #187
I found the issue. When we create the diff we use to apply single line or hunk.
We create
[code]

We should
[code]

mark the difference is in this line
[code]
Instead of 24 we use 27, it is `line nr` pluss `other lines added earlier`minus `lines deleted earlier` in this file. I am not 100% sure, but closer than ever.

I just want you to know that it is in progress :)

[2015-06-26 21:22] stoivo commented on #176
I think this is same issue as #187.

[2015-06-30 07:21] sentience commented on #207
:+1:

[2015-07-01 10:46] dlnsk opened #211 "Problem with --porcelain"
git version 1.7.9.5
STATUS panel don't show current branch correctly.
I was research git output and noticed that `git status --porcelain -b` don't output branch name even with -b option.
So I recomend use `-s` instead `--porcelain`
https://github.com/divmain/GitSavvy/blob/master/core/git_mixins/active_branch.py#L31

[2015-07-01 20:30] stoivo commented on #179
This is done, can we close this one, @divmain?

[2015-07-01 21:00] stoivo commented on #11
What about having it in the Branch History comparison
We can add it here. The time when I want to cherry pick is when I want only one commit from one branch over in my branch
![](http://puu.sh/iJSC2/b479d98d21.png)

[2015-07-02 04:53] mcbrwr commented on #139
I seem to get the same kind of error, but with a slightly different message.
When I commit and want to reference a github issue with just `#` it's not showing anything and produces this error:

[code]

And when I reference the issue with full repo name it is working. When using "github: open file on remote" it works fine, so the repository can be found.

[2015-07-02 06:07] divmain commented on #139
Hi @mcbrwr - could you do the following:

1. Open the commit view.
2. `GitSavvy: start logging`
3. Enter `#` character and press `TAB`.
4. `GitSavvy: stop logging`
5. `GitSavvy: view recorded log`
6. Paste the output here.

Hopefully that will provide more insight into what is broken.  Thanks!

[2015-07-02 06:54] mcbrwr commented on #139
here you go:

[code]

[2015-07-02 18:56] stoivo commented on #14
@yyyc514, I like you thinking!

[2015-07-02 21:28] stoivo commented on #41
hey, @yyyc514!
How did you make the commit view look like this?
I cloned https://github.com/adambullmer/sublime_git_commit_syntax
now when I open Commit view and  run in console
[code]

And my diff look really boring. Now there are no color at all

[2015-07-02 22:23] yyyc514 commented on #41
Try my fork:

https://github.com/yyyc514/sublime_git_commit_syntax

[2015-07-03 22:29] dufferzafar opened #213 "Diff all files opens a new tab every time"
I am not sure if this is expected but the diff all files action (from the Status Dashboard) opens a new tab everytime I press `f`. I expect it to just focus to the already open tab.

When I open the status dashboard (if it is already open) it doesn't create a new tab and just focuses the existing one. This should be done for Diffs too, IMO.

![Multiple instances of the same diff opens rather than

[2015-07-04 12:36] yyyc514 commented on #90
What's the quickest way to hack my setup so it throws an input prompt?

[2015-07-04 17:26] yyyc514 commented on #14
Thanks.

[2015-07-04 21:52] asfaltboy commented on #43
Apologize for dawdling, I've just made a bit of progress on the required commands, but the pull-request is not yet done. What remains to be done is the `track` command (feature/release), as well as `checkout`, `diff` and `rebase`  (feature only).

Then, there's the dashboard; for which I feel less of a need right now. The `branch` dashboard provides an overview of everything I'm looking for, and w

[2015-07-04 21:54] asfaltboy commented on #11
Yes please :+1: , this would be nice to have! We can add a base command that accepts a commit hash as argument, and when none provided displays commits (`log`) from all branches (`--branches`) sorted by timestamp (`--date-order`). Then we can call on this command from useful UI commands; such as branch history, mentioned above or maybe graph.

[2015-07-05 17:09] asfaltboy commented on #43
I feel like the **feature commands** `checkout`, `diff` and `rebase` are pretty much useless since they can as easily be done without `git-flow` (and have a good implementation in GitSavvy)...
@wldcordeiro @bobbyrenwick @TheHippo @stoivo do any of you use these and can provide a use case?

[2015-07-05 17:42] bobbyrenwick commented on #43
@asfaltboy I don't use any of those commands! I think you're probably right about them being easy to do outside of `git-flow`. Maybe that could be said about `git-flow` in total though.

[2015-07-05 17:46] asfaltboy commented on #43
Yeh you're right, it's basically just adding prefixes and renaming builtin commands (with a tiny bit of constraint logic thrown in). Well, if no one uses these I won't bother implementing for now.

[2015-07-06 20:17] stoivo commented on #41
Still, not working. What theme are you using?

[2015-07-06 21:15] yyyc514 commented on #41
A custom one, but the syntax just uses common things like "Entity", etc.

[2015-07-07 09:48] stoivo commented on #41
Can you share it on a gist?

[2015-07-07 12:12] yyyc514 commented on #41
http://runningblind.com/post/778165402/sunburst-josh-final

[2015-07-07 13:02] stoivo commented on #41
Now it looks like
http://puu.sh/iQhji/4960f86afd.png
and the syntax I use is
https://gist.github.com/stoivo/e6fde1f18fd804e0cbfd

[2015-07-07 13:27] yyyc514 commented on #41
Dunno what to tell you... something is going wrong.

[2015-07-07 15:27] stoivo commented on #41
anyway, thx. I will tell you 'when' I found a solution .

[2015-07-15 23:23] divmain commented on #211
@dlnsk git v1.7.9.5 should have same support for both `--porcelain` and `-b` flags.  `-s` flag is not guaranteed to be stable across git releases, which is why we use `--porcelain` where it is available.  Can you attach a screen shot with the specific problem, as well as any documentation you came across while digging into this?

[2015-07-16 08:09] #83 closed

[2015-07-16 08:09] #207 closed

[2015-07-16 08:10] divmain commented on #207
@sentience sorry for the wait.  Both changes are now in master.  Hit me up here or on Gitter if either one looks problematic.

[2015-07-16 08:40] divmain commented on #90
@yyyc514, the most straightforward way I can think of is to setup a remote that will requires SSH, and encrypt your SSH key.  Git would then prompt you for a password.  That should be completely reproducible, methinks.

The problem here, though, is that the subprocess will never terminate - it will keep on waiting for user input that never comes.  So you won't have a chance to inspect the standard

[2015-07-16 08:41] divmain commented on #179
Good point.  Thanks @stoivo!

[2015-07-16 08:41] #179 closed

[2015-07-16 08:44] divmain commented on #11
I like your idea @stoivo - the only thing is that commands are difficult to discover within the context of a view like this (without keymaps like in the dashboards).  I think the base case would be to prompt for the hash, as @asfaltboy said.  I'm definitely willing to entertain integrating this into the branch history view, if we can identify the right UX.

[2015-07-16 08:47] divmain commented on #139
@mcbrwr, within the context of this repo, what does typing `git remote -vv` in the terminal return?  I'm stymied why this wouldn't be working, unless there's a regex somewhere that's failing to parse the URL of your git remote.

[2015-07-16 14:21] mcbrwr commented on #139
thanks for looking into it.

[code]

Maybe it doesn't handle the secondary repo well?

[2015-07-19 05:51] blaggacao commented on #205
Same here, seems to be on following lines
[code]

It might be that it's not necesarily git related...

[2015-07-24 07:37] #43 closed

[2015-07-24 07:39] #176 closed

[2015-07-24 07:39] #187 closed

[2015-07-25 20:00] dlnsk commented on #211
@divmain yes I know that --porcelain generate stable output but screenshot will say more:
![git_1795](https://cloud.githubusercontent.com/assets/332778/8891050/8ea79fe8-3331-11e5-94b1-c0dfe437def2.png)

[2015-07-26 20:22] divmain commented on #211
Huh, that's very strange.  I may have to do some testing to see where and when this behavior occurs.

[2015-07-27 12:17] stevage opened #217 "Rebase doesn't work if no master branch"
I tried `git rebase` in a repository with no `master` (it only has `gh-pages` and forks from that):

[code]

[2015-07-27 13:25] ddevlin commented on #217
Hi @stevage, you can change the default base branch by adding the following to your `.sublime-project` file:
[code]

[2015-07-27 23:58] stevage commented on #217
A per-project setting doesn't really help me as I work on too many projects too fleetingly.

I don't know exactly how the rebase UI is supposed to work, but maybe you could simply present a list of all available branches? Probably some more sophisticated approach to finding likely rebase candidates, but my git-fu is insufficient...

[2015-07-29 17:58] ptomato opened #220 ""Squash commit with previous" action in rebase view"
We have "Squash commit with next", but I'd really like an equivalent of "fixup" from Git's interactive rebase mode — e.g., for squashing a small amendment into a large commit. Usually it's not possible to move the small commit up above the large one because the small commit may be fixing something that doesn't exist yet. And if we squash the large commit into the small one, we lose the large commi

[2015-07-29 18:38] divmain commented on #220
Hi @ptomato - if you use the rebase dashboard's `squash commit with next`, the two commit messages will be concatenated.  So you can `squash commit with next` and then `edit commit message` to get the effect you're looking for.  However, if there's a compelling reason, I'm open to adding something like Git's fixup - I just personally found it to be redundant given the combination of functionalitie

[2015-07-29 18:45] ptomato commented on #220
@divmain That worked for me, thanks. It's a couple steps more than "fixup" but no big deal.

[2015-07-29 18:48] divmain commented on #220
Great - if someone else happens upon this ticket and makes the same request, I'll put time into thinking through an alternative.

[2015-07-30 19:08] #217 closed

[2015-07-30 19:08] divmain commented on #217
@stevage, @ddevlin just took care of this with PR #221.  The fix is in master, and will be included in the next release.

[2015-07-30 23:11] stevage commented on #217
Hooray, thanks!
On 31 Jul 2015 5:08 am, "Dale Bustad" <notifications@github.com> wrote:

[2015-08-03 17:16] andersennl opened #222 "Key bindings"
Hi, I'm wondering if it is possible to bind the package's commands to keybindings? I couldn't find the typical sublime key bindings submenu for the package where I would normally find the available shortcuts, only the `git: xxx` commands in the command palette. Thanks.

[2015-08-03 20:50] divmain commented on #222
Hi @andersennl, you should be able to create a `Default.sublime-keymap` file in your `User` package directory.  Most of the commands in GitSavvy's [default keymap](https://github.com/divmain/GitSavvy/blob/master/Default.sublime-keymap) are limited in scope to dashboards and the like.  But we leave it very open for users to add entries to their individual keymap files.  Does that answer your questi

[2015-08-04 04:43] andersennl commented on #222
Hi @divmain, thanks for the fast answer. And sorry, I just realized that my question wasn't clear enough. What I'm looking for is a way to open the (for example) 'git: status' dashboard via keyboard shortcut. Currently I would open the command palette via 'cmd + p' and then enter 'git: status' so that the status dashboard opens. This action I want to bind to a key.

[2015-08-04 04:54] divmain commented on #222
The entry in your `User/Default.sublime-keymap` file would have an entry something like the following - replacing, of course, whatever key-binding you prefer.

[code]

Under the hood, Sublime registers all `WindowCommand`s from every plugin globally.  This means that you can search the GitSavvy codebase for the functionality you like, and translate any `CamelCaseCommand` that you find (that inheri

[2015-08-04 04:54] #222 closed

[2015-08-04 04:59] divmain commented on #222
And if you still get stuck, feel free to reach out on the [Gitter channel](https://gitter.im/divmain/GitSavvy).  I'm not always online, but there are a handful of other GitSavvy users that may be able to help you.

[2015-08-04 06:27] andersennl commented on #222
Thank you so much @divmain, this was exactly what I was looking for. And thanks a lot as well for the explanation regarding the `WindowCommands`, I always wondered how exactly that works.

[2015-08-04 06:46] divmain commented on #222
Awesome, glad to help. :+1:

[2015-08-04 08:16] max-mykhailenko commented on #222
@andersennl look at my config
[code]

[2015-08-04 13:45] andersennl commented on #222
Thanks a lot @max-mykhailenko, here is the config I currently have:
[code]

[2015-08-06 17:32] asfaltboy commented on #142
This just happened to me when opening the detailed commit view with staged files with character encoding other than `UTF-8` (it was `windows-1255` in my case); I guess rendering the diff is the issue:

[code]

Interestingly enough, when opening this `windows-1255` file in sublime, I see a helpful message in the console: `unable to auto detect encoding for ~/dev/test_win1255.txt, using fallback enc

[2015-08-06 18:14] divmain commented on #142
@asfaltboy, here's a thought - a noisier failure might be warranted.  In the case of an inline-diff, falling back is probably fine.  But there may be cases where silently falling back could be very undesirable.  What are your thoughts on something like:

[code]

[2015-08-06 18:43] asfaltboy commented on #142
Sure, that seems reasonable, tested it out, looks good:

![image of dialog](http://i.imgur.com/ihxl3l4h.png)

[2015-08-06 19:19] divmain commented on #142
Awesome. no need to PR, I'll just bring over your commit.  Thanks!

[2015-08-06 19:24] divmain commented on #142
Closed by 121f932f2e5d39163d12da9e2f36ad3542e70c52.

[2015-08-06 19:24] #142 closed

[2015-08-10 04:40] stevage commented on #152
This sounds awesome - how can I try it?

[2015-08-10 07:07] divmain commented on #213
This is a known issue, and should be resolved when the diff view is refactored using the interface base class (like the various dashboards).  This is a minor annoyance, though, so it will isn't on the top of my list.  I'd be happy to provide direction if you or someone else would like to take a look themselves.

[2015-08-10 07:11] divmain commented on #199
Sorry it has taken me a bit to get to this.  Could you post the pertinent section from your git config?  Also, what is the output of `git config merge.tool` ?

[2015-08-10 07:23] divmain commented on #205
Hey guys, I've been trying to reproduce this in a VM without any luck.  Windows 8.1, Sublime v3095, both Cygwin's Git and Git for Windows, all works for me.  There was some more tweaking that had to happen to get it to work with Cygwin, so I recommend you download the official release from [git-scm.com](https://git-scm.com/download/win), since it also seems that may be a common factor between all

[2015-08-10 07:35] divmain commented on #139
@mcbrwr, this should be fixed now in master.

@wldcordeiro, I'm not sure what steps to take next to debug this for you.  It seems unrelated to @mcbrwr's issue.  I'll be adding deeper logging for situations like this down the line, but not sure how to proceed with this until then.

[2015-08-18 05:21] stevage opened #225 "Warn when using `git: push (force)`"
Because of the way Sublime handles keyboard shortcuts through the shift-cmd-P menu, you can get this:

1. I want to force push. I type <kbd>Shift-Cmd-P</kbd>, `gpushf`, `<enter>` <kbd>enter</kbd>
2. Some time later, I want to do a normal push. I reflexively type <kbd>Shift-Cmd-P</kbd>, `gpush`, <kbd>enter</kbd>
3. Result: another force push, with no warning, no chance to abort.

Suggest having a c

[2015-08-20 18:54] ptomato opened #226 "Staging individual lines in diff view can add them in the wrong place"
I observed the following with staging individual lines with the `l` key in the diff view in GitSavvy 2.3.0.

Suppose I have this code

[code]

and I change it to

[code]

I only want to stage lines `A` and `E` for one commit. So in the diff view I see this (annotating the colors myself):

[code]

I position the cursor on each of lines `a`, `A`, `e`, `E`, and press the `l` key. Then the diff view s

[2015-08-20 19:06] ptomato commented on #226
Also, if I hit the `l` key on lines `A` and `a`, in the reverse order from above, then that change is staged correctly. However, if I continue with `E` and `e`, then I get this from `git diff --staged`:
[code]

[2015-08-21 16:05] stoivo commented on #226
It is confirm that I have the same behavior on my sublime. I have worked with inline diff before. It is quite difficult to understand or/and change. I will probably try to fix this but not right now. I will write a note here when I start.

If some one would like to try to fix it. it is on there lines something have to be done
https://github.com/divmain/GitSavvy/blob/1bf4e6515df22dfdda70e815dbd32a2

[2015-08-21 17:59] #198 closed

[2015-08-26 19:07] alextegelid opened #230 "Indistinguishable colors in inline diff"
Colors in the inline diff have become indistinguishable. Both the added and removed line colors is gray with same-colored cyan borders. See screenshot.

I've removed the color settings from my user settings (`GitSavvy.sublime-settings`) and removed all the `.tmLanguage.cache` and `.tmTheme.cache` files recursively in the `Packages` folder. The latter in a wild attempt to fix this on my own...

htt

[2015-08-26 19:13] divmain commented on #230
How did this come about?  This may be trivially solvable by deleting the `tmTheme` files in `Packages/User/GitSavvy`.  These themes are calculated per-file and then cached.

[2015-08-26 20:00] alextegelid commented on #230
I can't really remember what happened around the time when this started appearing. Unfortunately I have experienced this for some time but haven't reported it, thinking it was something I'd messed up myself (it still might be though).

Isn't it supposed to say something about GitSavvy in the bottom right where the current syntax is shown?

For me it says SCSS (or whatever syntax matches the file)

[2015-08-26 20:30] alextegelid commented on #230
Sorry, forgot to report back on your solution. I tried removing the tmTheme files. But it didn't work. A new file for the scss file type was created though.

[2015-08-26 21:55] divmain commented on #230
It won't say anything about GitSavvy in the bottom right (although that's not a bad idea...).  It'll just use the same string that was in the original syntax definition.

Can you confirm which version of GitSavvy and Sublime you're using?  This seems very strange to me, and I'm trying to rack my brain for possible causes.  Can you also look for any errors in the console when you initially load an

[2015-08-27 07:00] alextegelid commented on #230
GitSavvy is pulled directly from master and Sublime is in the Stable Channel, build 3083.

ScopeHunter, while cursor is standing on "size" in the screenshot below:
[code]

I'm a little unsure what you mean by checking the `tmTheme` file. If you mean checking `GitSavvy.active-diff-view.scss.tmTheme` (while in a scss file) I cant find any of the definitions listed above by seraching though the file.

[2015-08-27 07:46] divmain commented on #230
Can you upload `GitSavvy.active-diff-view.scss.tmTheme` somewhere I can take a look?  I steered you wrong with ScopeHunter - it doesn't show dynamically added scopes after all (vs ones determined by the syntax).

[2015-08-27 07:49] alextegelid commented on #230
Absolutely!
Here you go: http://pastebin.com/FW64RMW2

[2015-08-27 11:06] nightmarebadger commented on #230
Just commenting that the same thing happened to me a few days ago. Tried the following

* Reinstall GitSavvy (no difference)
* Remove .tmTheme files (no difference)
* Also remove .thTheme files (very minor difference, I could now see that the inline diffs with only a few words changed had a 'border' around those words too, kinda showing the exact difference in a line)

My version is a tiny bit dif

[2015-08-27 19:25] divmain commented on #230
This is super strange, and possibly a Sublime bug.

The regions are obviously being added - otherwise the gray/white blocks wouldn't be appearing at all.  If added, they will have the correct scope, because that value is hard-coded.  The values from `sublime.load_settings("GitSavvy.sublime-settings").get("colors")` have been added correctly to the `tmTheme` file you uploaded, so that's not the pro

[2015-08-27 19:51] alextegelid commented on #230
Result of 1) ```'Packages/User/Color Highlighter/themes/Afterglow.tmTheme'```

This led me to try the following:
1. Disable Color Highlighter
2. Close Sublime Text
3. Delete Packages/User/GitSavvy/*.tmTheme
4. Start Sublime Text
5. **Inline diff works!**

It seems Color Highlighter takes precedence when it comes to overriding the color themes.